page-login {
	.scroll-content{
		padding: 10px 16px 16px !important;	
	}
	ion-buttons{
		img{
			width: 30px;
			margin: 11px 0px 11px 25px;
		}
	}
    .fixed-content {
        margin-bottom: $toolbar-snakebar-bottom !important;
    }
    .scroll-content {
        margin-bottom: $toolbar-snakebar-bottom !important;
    }
    .form-area:after {
        display: block;
        clear: both;
        content: '';
    }
    .form-area {
        position: relative;
    }
    .input-holder {
        padding: 16px 10px;
        border-bottom: 1px solid #d9d9d9;
        overflow: hidden;
		img{
			width: 20px;
			display: inline-block;
			float: left;
			margin-right: 10px;
		}
    }
    .input-holder.active {
        background: #d9d9d9;
    }
    .form-area ion-icon {
        margin-right: 10px;
        font-size: 28px;
        line-height: 32px;
        color: #bebebe;
        float: left;
    }
    .form-area input {
        width: 87%;
        float: left;
        color: #0f0f10;
        height: 30px;
        padding: 4px 10px;
        margin: 0;
    }
    .form-area button {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        color: #fff;
        background: #bebebe;
        position: absolute;
        bottom: -10px;
        right: -10px;
        font-weight: normal;
    }
    .form-area button.green {
        background: $me_app_color;
    }
    .snakebar_forgot_password {
        height: $toolbar-snakebar-bottom;
        min-height: $toolbar-snakebar-bottom;
		.toolbar-background{
			background: #000;
		}
        .toolbar-title-ios {
            font-size: 12px;
        }
    }
}