page-login {
    // ion-buttons {
    //     img {
    //         width: 30px;
    //         margin: 11px 0px 11px 25px;
    //     }
    // }
    .fixed-content {
        margin-bottom: $toolbar-snakebar-bottom !important;
    }
    .scroll-content {
        margin-bottom: $toolbar-snakebar-bottom !important;
    }
    .form-area:after {
        display: block;
        clear: both;
        content: '';
    }
    .form-area {
        position: relative;
    }
    .form-area button.green {
        background: $me_app_color;
    }
    .snakebar_forgot_password {
        height: $toolbar-snakebar-bottom;
        min-height: $toolbar-snakebar-bottom;
        .toolbar-background {
            background: #252525;
        }
        .toolbar-title-ios {
            font-size: 12px;
        }
    }
}