<!-- <ion-header [@enterAnimation]>
    <ion-toolbar class="follows_header" color="light">
        <ion-buttons start>
            <button navPop ion-button icon-only>
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Follows ({{followings.length}})</ion-title>
    </ion-toolbar>
</ion-header> -->
<div class="top_empty_box" (click)="dismiss()">
</div>
<div class="content_follows_profile" [@enterAnimation] *ngIf="show == true">
    <div class="headFollow" (click)="dismiss()">
        <ion-title>Follows
            <ng-container *ngIf="followings.length > 1">({{followings.length}})</ng-container>
        </ion-title>
    </div>
    <div class="follow_details">
        <div id="wrapper">
            <div *ngIf="_loading == false" class="follows_spinner">
                <ion-spinner name="ios"></ion-spinner>
            </div>
            <div *ngIf="no_followers_found == true" padding text-center>
                You don't follow anyone.
            </div>
            <ion-list no-lines class="product-list follows">
                <ion-item *ngFor="let follower of followings" (click)="showProfile(follower)">
                    <ion-avatar item-start>
                        <img *ngIf="follower.photo == '' || follower.photo == null" src="assets/img/img3.jpg">
                        <img (load)="loaded = true" [hidden]="!loaded" [ngClass]="{'img-loaded':loaded}" *ngIf="follower.photo != null && follower.photo != ''" [src]="follower.photo | image_base_path">
                        <ion-spinner name="bubbles" [ngClass]="{'center':true}" *ngIf="!loaded && follower.photo != '' && follower.photo != null"></ion-spinner>
                    </ion-avatar>
                    <div class="txt">
                        <strong [innerText]="follower.firstName" class="follow-name"></strong>
                        <img *ngIf="follower.verified==1" src="assets/img/star-gray.png" alt="">
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </div>
</div>