<ion-header>
    <ion-toolbar color="follow">
        <ion-buttons start>
            <button navPop ion-button icon-only>
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="help"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="follows_header" color="light" no-border>
        <ion-title>Follows ({{followings.length}})</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div id="wrapper">
        <div *ngIf="!_loading" class="follows_spinner">
            <ion-spinner name="ios"></ion-spinner>
        </div>
        <ion-list no-lines class="product-list follows">
            <ion-item *ngFor="let follower of followings" (click)="showProfile(follower)">
                <!--<div class="img-holder"><img src="assets/img/img3.jpg"></div>-->
                <ion-avatar item-start>
                    <img src="assets/img/img3.jpg">
                </ion-avatar>
                <div class="txt">
                    <strong [innerText]="follower.firstName + ' ' + follower.lastName" class="follow-name"></strong>
                    <img *ngIf="follower.verified==1" src="assets/img/star-gray.png" alt="">
                </div>
            </ion-item>
        </ion-list>
    </div>

</ion-content>