<div class="top_empty_box" (click)="dismiss()">
</div>
<div class="content_follows_profile" [@enterAnimation] *ngIf="show == true">
    <div class="follow_details">
        <div class="follow_head">
            <figure>
                <img (click)="show_menu()" class="overflow_menu" src="assets/img/bg-header.png">
            </figure>
            <div class="proName" *ngIf="profileData != null">
                <strong *ngIf="is_it_me == false">{{profileData.user.firstName}}
                    <img *ngIf="profileData.user.isFollowed==1" class="star-icon" src="assets/img/star-gray.png" alt="">
                </strong>
                <strong *ngIf="is_it_me == true">
                    <form (ngSubmit)="updateUser()">
                        <input type="text" name="name" [(ngModel)]="profileData.user.firstName" [disabled]="is_it_me == false" placeholder="Name">
                        <img *ngIf="profileData.user.isFollowed==1" class="star-icon" src="assets/img/star-gray.png" alt="">
                    </form>
                </strong>
                <span (click)="followUser()" *ngIf="profileData.user.isFollowed==0 && !is_it_me" class="follow_user">FOLLOW</span>
                <div (click)="presentProfilePictureActionSheet()" *ngIf="is_it_me == true" class="img-holder">
                    <img *ngIf="profileData.user.photo == null" src="assets/img/cover_image.jpg">
                    <img (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" *ngIf="profileData.user.photo != null" [src]="profileData.user.photo | image_base_path">
                    <ion-spinner name="bubbles" [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
                </div>
                <div *ngIf="is_it_me == false" class="img-holder">
                    <img *ngIf="profileData.user.photo == null" src="assets/img/cover_image.jpg" imageViewer>
                    <img (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" *ngIf="profileData.user.photo != null" [src]="profileData.user.photo | image_base_path" imageViewer>
                    <ion-spinner name="bubbles" [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
                </div>
            </div>
            <div class="proName" *ngIf="profileData == null">
                <span class="loader"></span>
                <div class="img-holder">
                    <img src="assets/img/cover_image.jpg" imageViewer>
                </div>
            </div>
        </div>
        <!--<button (click)="go_to_thread()" *ngIf="profileData.user.isFollowed==1 && !is_it_me" class="send_message">Send Message</button>-->
        <ion-list class="follow_list" *ngIf="profileData != null">
            <ion-item *ngIf="is_it_me == true || (profileData.user.description != null && profileData.user.description != '')">
                <button ion-button icon-only>
                    <img *ngIf="is_it_me != true && profileData.user.isFollowed==1" src="assets/img/img5.png">
                    <img *ngIf="is_it_me != true && profileData.user.isFollowed==0" src="assets/img/checkblack.png">
                    <img *ngIf="is_it_me == true" src="assets/img/check2.png">
                </button>
                <div class="txt">
                    <strong *ngIf="is_it_me == true">
                        <form (ngSubmit)="updateUser()">
                            <textarea autosize type="text" placeholder="Add a description about yourself" [(ngModel)]="new_description" (keyup)="tag_user($event)" name="description"></textarea>
                        </form>
                        <!-- <textarea placeholder="Add a description about yourself" [(ngModel)]="profileData.user.description" ></textarea> -->
                    </strong>
                    <!-- <strong *ngIf="profileData.user.description == null">
                        <form (ngSubmit)="updateUser()">
                            <input type="text" placeholder="Add a description about yourself" [(ngModel)]="profileData.user.description" name="description">
                        </form>
                    </strong> -->
                    <p *ngIf="(profileData.user.description != null && profileData.user.description != '') && is_it_me == false">{{profileData.user.description}}</p>
                    <p *ngIf="(profileData.user.description == null || profileData.user.description == '') && is_it_me == false">No description added by {{profileData.user.firstName}}.</p>
                    <!-- old tags code
                        <img src="assets/img/dotsicon.svg" *ngIf="is_it_me == true" (click)="showTags()" alt="">
                        <p *ngIf="is_it_me == false && profileData.user.userTags.length > 0">
                        <ng-container *ngFor="let tag of profileData.user.userTags">
                            <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                            <ng-container *ngIf="tag.tagId == 2">@</ng-container>
                            <ng-container *ngIf="tag.tagId == 3">#</ng-container>
                            <ng-container *ngIf="tag.tagId == 4">$</ng-container>{{tag.tagText}}
                        </ng-container>
                    </p> -->
                    <span (click)="cancelUpdate()" *ngIf="new_description != '' && new_description != profileData.user.description">Cancel</span>
                    <span class="accept" *ngIf="new_description != '' && new_description != profileData.user.description" (click)="updateUser()">SAVE</span>

                </div>
            </ion-item>
            <ion-item>
                <button ion-button icon-only>
                    <img *ngIf="is_it_me != true && profileData.user.isFollowed==1" src="assets/img/img5.png">
                    <img *ngIf="is_it_me != true && profileData.user.isFollowed==0" src="assets/img/checkblack.png">
                    <img *ngIf="is_it_me == true" src="assets/img/check2.png">
                </button>
                <div class="txt" (tap)="go_to_stream()">
                    <strong>Totes</strong>
                    <p [innerText]="profileData.totes"></p>
                </div>
            </ion-item>
            <ion-item (click)="showFollows('Followers')">
                <button ion-button icon-only>
                    <img *ngIf="is_it_me != true && profileData.user.isFollowed==1" src="assets/img/img5.png">
                    <img *ngIf="is_it_me != true && profileData.user.isFollowed==0" src="assets/img/checkblack.png">
                    <img *ngIf="is_it_me == true" src="assets/img/check2.png">
                </button>
                <div class="txt">
                    <strong>Followers</strong>
                    <p [innerText]="profileData.followers"></p>
                </div>
            </ion-item>
            <ion-item (click)="showFollows('Follows')">
                <button ion-button icon-only>
                    <img *ngIf="is_it_me != true && profileData.user.isFollowed==1" src="assets/img/img5.png">
                    <img *ngIf="is_it_me != true && profileData.user.isFollowed==0" src="assets/img/checkblack.png">
                    <img *ngIf="is_it_me == true" src="assets/img/check2.png">
                </button>
                <div class="txt">
                    <strong>Follows</strong>
                    <p [innerText]="profileData.follows"></p>
                </div>
            </ion-item>
        </ion-list>
        <ion-list class="follow_list" *ngIf="profileData == null">
            <ion-item>
                <button ion-button icon-only>
                    <img src="assets/img/check1.png">
                </button>
                <div class="txt">
                    <span class="loader"></span>
                </div>
            </ion-item>
            <ion-item>
                <button ion-button icon-only>
                    <img src="assets/img/check1.png">
                </button>
                <div class="txt">
                    <span class="loader"></span>
                </div>
            </ion-item>
            <ion-item>
                <button ion-button icon-only>
                    <img src="assets/img/check1.png">
                </button>
                <div class="txt">
                    <span class="loader"></span>
                </div>
            </ion-item>
            <ion-item>
                <button ion-button icon-only>
                    <img src="assets/img/check1.png">
                </button>
                <div class="txt">
                    <span class="loader"></span>
                </div>
            </ion-item>
        </ion-list>
    </div>
</div>
<!-- <ion-footer [keyboardAttach]="content" class="message-bottom">
    <ion-toolbar color="dark">
        <div class="editOptions">
            <span (click)="cancelTitleEdit($event,current_active_anotote)">Cancel</span>
            <span *ngIf="new_description != '' && new_description != profileData.user.description" class='save' (click)="saveTitle(current_active_anotote)">Save</span>
        </div>
    </ion-toolbar>
</ion-footer> -->