<ion-header>
    <ion-toolbar color="commonheader">
        <ion-buttons start>
            <button class="search_icon" ion-button icon-only>
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <div class="dots_box">
                <span class="un_active_dot"></span>
                <span class="un_active_dot"></span>
                <span class="dot"></span>
            </div>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<span navPop class="wedge_icon"></span>
<ion-content padding #scrollMe>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [position]="scrollPosition">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-list no-lines class="details-list layout" id="chat-listing-area">
        <ion-item *ngFor="let message of conversation" class="underlist-items">
            <figure>
                <img *ngIf="message.sender != loggedInUser.firstName+' '+loggedInUser.lastName" src="assets/img/check-yellow.png" alt="">
                <img *ngIf="message.sender == loggedInUser.firstName+' '+loggedInUser.lastName" src="assets/img/check-green.png" alt="">
            </figure>
            <div class="check-text">
                <div class="name-time">
                    <span class="user">{{message.sender}}</span>
                    <span class="msg-time">{{message.time}}</span>
                </div>
                <p>{{message.message}}</p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer class="message-bottom">
    <ion-toolbar color="dark">
        <p style="text-align: center;color: white;" *ngIf="!reply_box_on" (tap)="show_reply_box()">Reply to Chantel Bardaro</p>
        <div *ngIf="reply_box_on" class="send-btn">
            <img src="assets/img/check-green.png" alt="">
            <input type="text" [(ngModel)]="textMessage" value="" name="search" placeholder="Write your reply">
            <input type="submit" value="Send" (click)="sendMessage()" name="send">
        </div>
    </ion-toolbar>
</ion-footer>