<ion-header>
    <ion-toolbar [color]="current_color">
        <ion-buttons start>
            <!-- <button class="search_icon" ion-button icon-only>
                <ion-icon name="search"></ion-icon>
            </button> -->
        </ion-buttons>
        <ion-title>
            <dot-navigation [ngClass]="{'meDot': current_color == 'me','followDot': current_color == 'follows','topDot':current_color == 'top'}" unactivedots="2"></dot-navigation>
        </ion-title>
        <!-- <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<span navPop class="wedge_icon"></span>
<ion-content swipe-vertical padding #scrollMe>
    <div id="wrapper">
        <div class="chatHead">
            <span class="chatOptions" *ngIf="conversation.length > 0" (click)="showOptions()"></span>
            <div class="txt">
                <ng-container *ngIf="tote != null && tote.chatGroup != null">
                    <strong *ngIf="tote.chatGroup.messagesUser[0].subject == null && titleField == false" (press)="showTitleField()">Chat</strong>
                    <form (ngSubmit)="updateSubject()" *ngIf="titleField == true">
                        <input search-field selection="true" type="text" placeholder="Enter chat tite" [(ngModel)]="newChatTitle" name="title">
                    </form>
                    <strong *ngIf="tote.chatGroup.messagesUser[0].anototeId == 0 && tote.chatGroup.messagesUser[0].subject != null && titleField == false" (press)="showTitleField()">[{{tote.chatGroup.messagesUser[0].subject}}]</strong>
                    <strong *ngIf="tote.chatGroup.messagesUser[0].anototeId != 0 && tote.chatGroup.messagesUser[0].subject != null">[{{tote.chatGroup.messagesUser[0].subject}}]</strong>
                </ng-container>
                <ng-container *ngIf="tote == null || tote.chatGroup == null">
                    <strong *ngIf="tote == null && conversation.length > 0 && conversation[0].subject == null && titleField == false" (press)="showTitleField()">Chat</strong>
                    <strong *ngIf="tote == null && conversation.length == 0 && titleField == false" (press)="showTitleField()">Chat</strong>
                    <strong *ngIf="tote == null && conversation.length > 0 && conversation[0].subject != null && titleField == false && conversation[0].anototeId == 0" (press)="showTitleField()">{{conversation[0].subject}}</strong>
                    <strong *ngIf="tote == null && conversation.length > 0 && conversation[0].subject != null && titleField == false && conversation[0].anototeId != 0">{{conversation[0].subject}}</strong>
                    <form (ngSubmit)="updateSubject()" *ngIf="titleField == true">
                        <input search-field selection="true" type="text" placeholder="Enter chat tite" [(ngModel)]="newChatTitle" name="title">
                    </form>
                    <strong *ngIf="tote != null && tote.chatGroup == null && tote.userAnnotote.annotote">[{{tote.userAnnotote.annotote.title}}]</strong>
                    <strong *ngIf="tote != null && tote.chatGroup == null && tote.userAnnotote.annotote == null">[{{tote.annotote.title}}]</strong>
                </ng-container>

                <div class="time" *ngIf="tote != null">
                    <em>
                        <span *ngIf="tote.createdAt != null" [innerText]="tote.createdAt | time_stamp"></span>
                    </em>
                </div>
                <div class="toteText">
                    <!-- <p *ngIf="tote.chatGroup.groupUsers[0].user.id != user.id">{{tote.chatGroup.groupUsers[0].user.firstName}}</p>
                    <p *ngIf="tote.chatGroup.groupUsers[1].user.id != user.id">{{tote.chatGroup.groupUsers[1].user.firstName}}</p> -->
                    <button type="button">
                        <img alt="" src="assets/img/commentIcon.svg">
                    </button>
                    <p>{{secondUser.firstName}}</p>
                </div>
            </div>
        </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [position]="scrollPosition">
            <ion-infinite-scroll-content loadingSpinner="bubbles" *ngIf="infinite_completed == false">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ion-list no-lines class="details-list layout" id="chat-listing-area">
            <ion-item (press)="editOrDelete(message)" *ngFor="let message of conversation" class="underlist-items">
                <figure>
                    <img *ngIf="message.senderId == user.id" src="assets/img/check-green.png" alt="">
                    <img *ngIf="message.senderId != user.id && message.read == 0" src="assets/img/check-red.png" alt="">
                    <img *ngIf="message.senderId != user.id && message.read == 1" src="assets/img/checkYellow.png" alt="">
                </figure>
                <div class="check-text">
                    <div class="name-time">
                        <span class="user" *ngIf="message.senderId == user.id">Me</span>
                        <span class="user" *ngIf="message.senderId != user.id">{{secondUser.firstName}} </span>
                        <span class="msg-time">{{message.createdAt | time_stamp}}</span>
                    </div>
                    <p>{{message.text}}</p>
                    <!-- <img (click)="editOrDelete(message)" src="assets/img/dotsicon.svg" alt=""> -->
                </div>
            </ion-item>
        </ion-list>
    </div>
    <!-- <ion-fab [ngClass]="{'moveUp': move == true}" *ngIf="move == false" bottom right>
        <button (tap)="presentViewOptionsModal()" ion-fab [color]="fab_color">
                <img src="assets/img/whiteTote.svg" />
            </button>
    </ion-fab> -->
</ion-content>
<ion-footer class="message-bottom" *ngIf="contains == true">
    <ion-toolbar color="dark">
        <ng-container *ngIf="tote != null && tote.chatGroup != null">
            <p *ngIf="!reply_box_on && tote.chatGroup.messagesUser[0].subject == null">“[No subject]”</p>
            <p *ngIf="!reply_box_on && tote.chatGroup.messagesUser[0].subject != null">“[{{tote.chatGroup.messagesUser[0].subject}}]”</p>
        </ng-container>
        <ng-container *ngIf="tote == null || tote.chatGroup == null">
            <p *ngIf="!reply_box_on">“[No subject]”</p>
        </ng-container>
        <span *ngIf="!reply_box_on" (tap)="show_reply_box()">Reply</span>
        <!-- <p style="text-align: center;color: white;" *ngIf="!reply_box_on" (tap)="show_reply_box()">Reply to {{secondUser.firstName}} </p> -->
        <div *ngIf="reply_box_on" class="send-btn">
            <img src="assets/img/check-green.png" alt="">
            <textarea #myInput [(ngModel)]="textMessage" (keyup)="resize()" name="search" placeholder="Write your reply"></textarea>
            <!-- <input type="text" [(ngModel)]="textMessage" value="" name="search" placeholder="Write your reply"> -->
            <input type="submit" value="Send" (click)="sendMessage()" [ngClass]="(textMessage.length > 0) ? 'green':''" name="send">
            <span class="loading" *ngIf="send_message_loader">
                <ion-spinner></ion-spinner>
            </span>
        </div>
    </ion-toolbar>
</ion-footer>