<ion-header class="topHeader" [ngClass]="{'show-header':showheader,'hide-header':hideheader}">
    <ion-toolbar [color]="which_stream">
        <ion-title *ngIf="full_screen_mode">
            <div class="arrows">
                <span *ngIf="which_stream == 'me'" class="leftArrow" (click)="load_previous_page()"><img src="assets/img/leftArrowIcon.svg"></span>
                <span *ngIf="which_stream == 'me'" class="rightArrow" (tap)="load_next_page()"><img src="assets/img/rightArrowGreen.svg"></span>

                <span *ngIf="which_stream == 'follows'" class="leftArrow" (click)="load_previous_page()"><img src="assets/img/leftArrowIcon.svg"></span>
                <span *ngIf="which_stream == 'follows'" class="rightArrow" (tap)="load_next_page()"><img src="assets/img/rightArrowYellow.svg"></span>

                <span *ngIf="which_stream == 'top'" class="leftArrow" (click)="load_previous_page()"><img src="assets/img/leftArrowIcon.svg"></span>
                <span *ngIf="which_stream == 'top'" class="rightArrow" (tap)="load_next_page()"><img src="assets/img/rightArrowPink.svg"></span>

                <span *ngIf="which_stream == 'anon'" class="leftArrow" (click)="load_previous_page()"><img src="assets/img/leftArrowIcon.svg"></span>
                <span *ngIf="which_stream == 'anon'" class="rightArrow" (tap)="load_next_page()"><img src="assets/img/rightArrowBlack.svg"></span>
            </div>
        </ion-title>
        <ion-buttons *ngIf="full_screen_mode" (click)="change_full_screen_mode()" end class="boxIcon">
            <button style="background: transparent;">
                <span *ngIf="which_stream == 'me'" class="downImage"><img src="assets/img/toteBox.svg" alt=""></span>

                <span *ngIf="which_stream == 'anon'" class="downImage"><img src="assets/img/toteBoxBlack.svg" alt=""></span>

                <span *ngIf="which_stream == 'follows'" class="downImage"><img src="assets/img/toteBoxYellow.svg" alt=""></span>

                <span *ngIf="which_stream == 'top'" class="downImage"><img src="assets/img/toteBoxPink.svg" alt=""></span>
            </button>
        </ion-buttons>
        <ion-buttons start class="searchIcon">
            <button (tap)="openSearchPopup()" class="search_icon" ion-button icon-only>
                <img src="assets/img/searchIcon.png" alt="" />
                <!--<ion-icon name="search"></ion-icon>-->
            </button>
        </ion-buttons>
        <ion-title *ngIf="!full_screen_mode && which_stream == 'me'">
            <dot-navigation class="meDot" unactivedots="2"></dot-navigation>
        </ion-title>
        <ion-title *ngIf="!full_screen_mode && which_stream == 'anon'">
            <dot-navigation class="anonDot" unactivedots="2"></dot-navigation>
        </ion-title>
        <ion-title *ngIf="!full_screen_mode && which_stream == 'follows'">
            <dot-navigation class="followDot" unactivedots="2"></dot-navigation>
        </ion-title>
        <ion-title *ngIf="!full_screen_mode && which_stream == 'top'">
            <dot-navigation class="topDot" unactivedots="2"></dot-navigation>
        </ion-title>
        <ion-buttons *ngIf="!full_screen_mode" class="plusBtn">
            <button (tap)="add_to_me_stream()" ion-button icon-only>
                    <img src="assets/img/plusIcon.png" alt="" />
                <!-- <ion-icon name="md-add"></ion-icon> -->
            </button>
        </ion-buttons>
        <ion-buttons *ngIf="!full_screen_mode" (click)="change_full_screen_mode()" end class="boxIcon">
            <button style="background: transparent;">
                <span><img src="assets/img/anatoteBox.svg" alt=""></span>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<span navPop class="wedge_icon"></span>
<ion-content [ngClass]="{'fullScreen': full_screen_mode == true}" swipe-vertical>
    <div id="wrapper">
        <div class="editor-area layout" *ngIf="ANOTOTE_LOADED && !ANOTOTE_LOADING_ERROR">
            <!--<text-editor id="text_editor" [model]="text" class="editor_text_box" contenteditable="false"></text-editor>-->
            <!--<dcl-wrapper [type]="tab"></dcl-wrapper>-->
            <div [ngClass]="actual_stream" (click)="editor_click($event)" class="editor_text_box" id="text_editor" contenteditable="false" [innerHTML]="text  | sanitizeHtml"></div>
        </div>
    </div>
    <ion-fab [ngClass]="{'moveUp': moveFabUp == true}" bottom right>
        <button (tap)="presentViewOptionsModal()" ion-fab [color]="ANOTOTE.active_tab == null ? WHICH_STREAM : ANOTOTE.active_tab">
            <img *ngIf="ANOTOTE.active_tab == null" src="assets/img/whiteTote.svg" />
            <ng-container *ngIf="ANOTOTE != null && WHICH_STREAM == 'anon'">
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.follows.length > 0 && ANOTOTE.userAnnotote.isTop == 1" src="assets/img/greenTote.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.follows.length > 0 && ANOTOTE.userAnnotote.isTop == 0" src="assets/img/greenTote2.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.follows.length == 0 && ANOTOTE.userAnnotote.isTop == 1" src="assets/img/greenTote3.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.follows.length == 0 && ANOTOTE.userAnnotote.isTop == 0" src="assets/img/greenTote4.svg" />
                <!-- Active tab follows -->
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.isMe == 1 && ANOTOTE.userAnnotote.isTop == 1" src="assets/img/yellowTote.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.isMe == 1 && ANOTOTE.userAnnotote.isTop == 0" src="assets/img/yellowTote2.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.isMe == 0 && ANOTOTE.userAnnotote.isTop == 1" src="assets/img/yellowTote3.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.isMe == 0 && ANOTOTE.userAnnotote.isTop == 0" src="assets/img/yellowTote4.svg" />
                <!-- Active tab top -->
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.isMe == 1 && ANOTOTE.userAnnotote.follows.length > 0" src="assets/img/pinkTote.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.isMe == 0 && ANOTOTE.userAnnotote.follows.length > 0" src="assets/img/pinkTote2.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.isMe == 1 && ANOTOTE.userAnnotote.follows.length == 0" src="assets/img/pinkTote3.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.isMe == 0 && ANOTOTE.userAnnotote.follows.length == 0" src="assets/img/pinkTote4.svg" />
            </ng-container>
            <ng-container *ngIf="ANOTOTE != null && WHICH_STREAM == 'me' && ANOTOTE.chatGroup == null">
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.anototeDetail.follows.length > 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 1" src="assets/img/greenTote.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.anototeDetail.follows.length > 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 0" src="assets/img/greenTote2.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.anototeDetail.follows.length == 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 1" src="assets/img/greenTote3.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.anototeDetail.follows.length == 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 0" src="assets/img/greenTote4.svg" />
                <!-- Active tab follows -->
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.anototeDetail.isMe == 1 && ANOTOTE.userAnnotote.anototeDetail.isTop == 1" src="assets/img/yellowTote.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.anototeDetail.isMe == 1 && ANOTOTE.userAnnotote.anototeDetail.isTop == 0" src="assets/img/yellowTote2.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.anototeDetail.isMe == 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 1" src="assets/img/yellowTote3.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.anototeDetail.isMe == 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 0" src="assets/img/yellowTote4.svg" />
                <!-- Active tab top -->
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.anototeDetail.isMe == 1 && ANOTOTE.userAnnotote.anototeDetail.follows.length > 0" src="assets/img/pinkTote.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.anototeDetail.isMe == 0 && ANOTOTE.userAnnotote.anototeDetail.follows.length > 0" src="assets/img/pinkTote2.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.anototeDetail.isMe == 1 && ANOTOTE.userAnnotote.anototeDetail.follows.length == 0" src="assets/img/pinkTote3.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.anototeDetail.isMe == 0 && ANOTOTE.userAnnotote.anototeDetail.follows.length == 0" src="assets/img/pinkTote4.svg" />
            </ng-container>
            <ng-container *ngIf="WHICH_STREAM == 'follows'">
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.anototeDetail.isMe == 1 && ANOTOTE.userAnnotote.anototeDetail.isTop == 1" src="assets/img/yellowTote.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.anototeDetail.isMe == 1 && ANOTOTE.userAnnotote.anototeDetail.isTop == 0" src="assets/img/yellowTote2.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.anototeDetail.isMe == 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 1" src="assets/img/yellowTote3.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.userAnnotote.anototeDetail.isMe == 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 0" src="assets/img/yellowTote4.svg" />
                <!-- Active tab me -->
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.anototeDetail.follows.length > 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 1" src="assets/img/greenTote.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.anototeDetail.follows.length > 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 0" src="assets/img/greenTote2.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.anototeDetail.follows.length == 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 1" src="assets/img/greenTote3.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.userAnnotote.anototeDetail.follows.length == 0 && ANOTOTE.userAnnotote.anototeDetail.isTop == 0" src="assets/img/greenTote4.svg" />
                <!-- Active tab top -->
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.anototeDetail.isMe == 1 && ANOTOTE.userAnnotote.anototeDetail.follows.length > 0" src="assets/img/pinkTote.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.anototeDetail.isMe == 0 && ANOTOTE.userAnnotote.anototeDetail.follows.length > 0" src="assets/img/pinkTote2.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.anototeDetail.isMe == 1 && ANOTOTE.userAnnotote.anototeDetail.follows.length == 0" src="assets/img/pinkTote3.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.userAnnotote.anototeDetail.isMe == 0 && ANOTOTE.userAnnotote.anototeDetail.follows.length == 0" src="assets/img/pinkTote4.svg" />
            </ng-container>
            <ng-container *ngIf="WHICH_STREAM == 'top'">
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.anototeDetail.isMe == 1 && ANOTOTE.anototeDetail.follows.length > 0" src="assets/img/pinkTote.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.anototeDetail.isMe == 0 && ANOTOTE.anototeDetail.follows.length > 0" src="assets/img/pinkTote2.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.anototeDetail.isMe == 1 && ANOTOTE.anototeDetail.follows.length == 0" src="assets/img/pinkTote3.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'top' && ANOTOTE.anototeDetail.isMe == 0 && ANOTOTE.anototeDetail.follows.length == 0" src="assets/img/pinkTote4.svg" />
                <!-- Active tab me -->
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.anototeDetail.follows.length > 0 && ANOTOTE.anototeDetail.isTop == 1" src="assets/img/greenTote.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.anototeDetail.follows.length > 0 && ANOTOTE.anototeDetail.isTop == 0" src="assets/img/greenTote2.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.anototeDetail.follows.length == 0 && ANOTOTE.anototeDetail.isTop == 1" src="assets/img/greenTote3.svg" />
                <img *ngIf="ANOTOTE != null &&  ANOTOTE.active_tab == 'me' && ANOTOTE.anototeDetail.follows.length == 0 && ANOTOTE.anototeDetail.isTop == 0" src="assets/img/greenTote4.svg" />
                <!-- Active tab follows -->
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.anototeDetail.isMe == 1 && ANOTOTE.anototeDetail.isTop == 1" src="assets/img/yellowTote.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.anototeDetail.isMe == 1 && ANOTOTE.anototeDetail.isTop == 0" src="assets/img/yellowTote2.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.anototeDetail.isMe == 0 && ANOTOTE.anototeDetail.isTop == 1" src="assets/img/yellowTote3.svg" />
                <img *ngIf="ANOTOTE != null && ANOTOTE.active_tab == 'follows' && ANOTOTE.anototeDetail.isMe == 0 && ANOTOTE.anototeDetail.isTop == 0" src="assets/img/yellowTote4.svg" />
            </ng-container>
        </button>
    </ion-fab>
</ion-content>
<ion-footer class="inline_tote_options" *ngIf="loading_check">
    <ion-toolbar color="dark">
        <p class="messageLoading">{{loading_message}}</p>
    </ion-toolbar>
</ion-footer>
<ion-footer class="inline_tote_options bottomLine">
    <ion-toolbar color="dark">
        <p class="messageLoading">future of business: Open sou...”</p>
        <img src="assets/img/dodtsLine.svg" alt="" />
    </ion-toolbar>
</ion-footer> -->
<ion-footer class="inline_tote_options" *ngIf="toggle_annotation_option">
    <ion-toolbar color="dark">
        <span (click)="quote_it()" class="quote">

        </span>
        <span (click)="comment_it()" class="comment">
            
        </span>
        <span (click)="share_it()" class="cross">

        </span>
    </ion-toolbar>
</ion-footer>

<!--<div class="inline_tote_options" *ngIf="toggle_annotation_option">
    <span (click)="comment_it()" class="comment"></span>
    <span (click)="quote_it()" class="quote"></span>
    <span (click)="share_it()" class="cross"></span>
</div>-->