<div class="top_empty_box" *ngIf="stream != 'me'" (tap)="dismiss()">
</div>
<div class="content_follows_profile commentDetail">
    <form (ngSubmit)="update_comment()" class="popupPanel" [@enterAnimation] *ngIf="show == true">
        <div class="pop_heading">
            <!--<div class="col">
				<ion-icon name="ios-arrow-down-outline"></ion-icon>
				<em>83%</em>
				<ion-icon name="ios-arrow-up-outline"></ion-icon>
            </div>-->
            <!-- <div (tap)="dismiss()" class="col">
                <img src="assets/img/croseIcon.svg" alt="">
            </div>
            <div class="col">Chantel Bardaro (3)</div
            <div (tap)="delete()" class="col">
                <img src="assets/img/deleteIcon.svg" alt="">
            </div> -->
            <div class="downUp" *ngIf="stream != 'me'">
                <img src="assets/img/upArrow.svg" *ngIf="annotation.isCurrentUserVote == 0 && annotation.currentUserVote == 0" (click)="upvote()" alt="">
                <img src="assets/img/upArrow.svg" *ngIf="annotation.isCurrentUserVote == 1 && annotation.currentUserVote == 0" alt="">
                <img src="assets/img/upArrowgreen.svg" *ngIf="annotation.isCurrentUserVote == 1 && annotation.currentUserVote == 1" alt="">
                <!-- <img src="assets/img/uparrowgreen.svg" (click)="upvote()" alt=""> -->
                <span>{{annotation.rating | number }}%</span>
                <img src="assets/img/downIcon.svg" *ngIf="annotation.isCurrentUserVote == 1 && annotation.currentUserVote == 0" (click)="downvote()" alt="">
                <img src="assets/img/downIconwhite.svg" *ngIf="annotation.isCurrentUserVote == 0 && annotation.currentUserVote == 0" (click)="downvote()" alt="">
                <img src="assets/img/downIconwhite.svg" *ngIf="annotation.isCurrentUserVote == 1 && annotation.currentUserVote == 1" alt="">
                <!-- <img src="assets/img/downarrow.svg" (click)="downvote()" alt=""> -->
            </div>
            <div class="topTab" *ngIf="stream != 'me'">
                <span>Top</span>
            </div>
            <!-- <div (tap)="share()" class="col" *ngIf="stream != 'me'">
                <img src="assets/img/shareIcon.svg" alt="">
            </div>

            <div (tap)="share()" class="col" *ngIf="stream == 'me'">
                <img src="assets/img/shareIcon.svg" alt="">
            </div> -->
            <div class="btnRow" *ngIf="stream == 'me'">
                <span (tap)="dismiss()">Close</span>
                <span (tap)="delete()">Delete</span>
                <span [ngClass]="{'save': (new_comment != anotote_comment && new_comment != '') || (anotote_txt != actual_anotated && anotote_txt != '')}" *ngIf="(new_comment != anotote_comment && new_comment != '') || (anotote_txt != actual_anotated && anotote_txt != '')"
                    (tap)="updateComment()">Save</span>
            </div>
        </div>
        <div class="tag_input" *ngIf="stream == 'me'">
            <ul class="tagList" *ngIf="show_autocomplete == true">
                <li *ngIf="no_user_found == true" text-center>
                    No Users found.
                </li>
                <li *ngFor="let user of users" (click)="selected_user(user)">
                    <figure>
                        <img *ngIf="user.photo== null || user.photo==''" src="assets/img/img3.jpg">
                        <img (load)="loaded = true" [ngClass]="{'img-loaded': loaded}" *ngIf="user.photo != null && user.photo != ''" [hidden]="!loaded" [src]="user.photo | image_base_path">
                        <ion-spinner *ngIf="!loaded && user.photo != null && user.photo != ''"></ion-spinner>
                    </figure>
                    <figcaption>
                        <span>{{user.firstName}} </span>
                    </figcaption>
                </li>
                <li *ngIf="search_user == true" text-center>
                    <ion-spinner></ion-spinner>
                </li>
            </ul>
        </div>
        <div class="pop_txt">
            <!-- <p [innerText]="anotote_txt"></p> -->
            <textarea [(ngModel)]="anotote_txt" (keyup)="ellipsis($event)" [disabled]="stream != 'me'" name="heading"></textarea>
            <textarea class="addComment" [(ngModel)]="new_comment" (ngModelChange)="tag_user()" *ngIf="stream == 'me' && quoteThreeDots == true" [disabled]="stream != 'me'" name="comment" placeholder="Comment, paste links or add tags (#,$,@)"></textarea>
            <textarea class="addComment" [(ngModel)]="new_comment" *ngIf="stream != 'me' && new_comment != ''" [disabled]="stream != 'me'" name="comment"></textarea>
        </div>
        <button type="submit" style="opacity:0;"></button>
        <div class="threeDosts" *ngIf="stream == 'me' && quoteThreeDots == false">
            <!-- <ion-textarea [(ngModel)]="new_comment" name="comment" placeholder="Place your comment here"></ion-textarea> -->
            <img (click)="showTextarea()" src="assets/img/option-msg.png" alt="">
        </div>
        <div class="threeDosts" *ngIf="annotation.tags.length > 0">
            <!-- <ion-textarea [(ngModel)]="new_comment" name="comment" placeholder="Place your comment here"></ion-textarea> -->
            <img (click)="showtags()" src="assets/img/option-msg.png" alt="">
        </div>
    </form>
</div>