<!-- <div class="top_empty_box" (tap)="dismiss()">
</div> -->
<div class="create_anotation_content" [@enterAnimation] *ngIf="show == true">
    <div class="pop_heading">
        <div class="btnRow">
            <span (tap)="dismiss()">Close</span>
            <span (tap)="create()" *ngIf="comment != '' && comment != null" [ngClass]="{'save': comment != '' && comment != null}">Save</span>
        </div>
    </div>
    <div class="tag_input">
        <ul class="tagList" *ngIf="show_autocomplete == true">
            <li *ngIf="no_user_found == true" text-center>
                No Users found.
            </li>
            <li *ngFor="let user of users" (click)="selected_user(user)">
                <figure>
                    <img *ngIf="user.photo== null || user.photo==''" src="assets/img/img3.jpg">
                    <img (load)="loaded = true" [ngClass]="{'img-loaded': loaded}" *ngIf="user.photo != null && user.photo != ''" [hidden]="!loaded" [src]="user.photo | image_base_path">
                    <ion-spinner *ngIf="!loaded && user.photo != null && user.photo != ''"></ion-spinner>
                </figure>
                <figcaption>
                    <span>{{user.firstName}} </span>
                </figcaption>
            </li>
            <li *ngIf="search_user == true" text-center>
                <ion-spinner></ion-spinner>
            </li>
        </ul>
    </div>
    <div class="pop_txt">
        <p class="selected_txt" [innerText]="selectedTxt"></p>
        <textarea autosize [(ngModel)]="comment" (ngModelChange)="tag_user()" name="comment" placeholder="Comment, paste links or add tags (#,$,@)"></textarea>
    </div>
    <!-- <div class="_buttons">
        <span (tap)="dismiss()" class="close"></span>
        <span (tap)="share(selectedTxt)" class="share"></span>
        <span (tap)="done()" class="done"></span>
    </div> -->
</div>