<ion-header>
    <ion-toolbar color="homeheader">
        <ion-buttons start>
            <button (tap)="openSearchPopup()" class="search_icon" ion-button icon-only>
               <img src="assets/img/search.png" alt="" />
                <!--<ion-icon name="search"></ion-icon>-->
            </button>
        </ion-buttons>
        <ion-title>
            <div class="dots_box">
                <span class="dot"></span>
            </div>
        </ion-title>
        <!--<ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>-->
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div id="wrapper">
        <ion-list class="home-list layout">
            <ion-item (click)="openAnototeList('me')" class="green">
                <button clear="true" (click)="presentMeOptionsModal($event)" ion-button icon-only><img src="assets/img/bg-header_white.png"></button>
                <span class="txt">ME</span>
            </ion-item>
            <ion-item (click)="openAnototeList('follow')" class="yellow">
                <button clear="true" (click)="follows($event)" ion-button icon-only><img src="assets/img/bg-header_white.png"></button>
                <span class="txt">FOLLOWS</span>
            </ion-item>
            <ion-item (click)="openAnototeList('top')" class="pink">
                <button clear="true" (click)="presentTopOptionsModal($event)" ion-button icon-only><img src="assets/img/bg-header_white.png"></button>
                <span class="txt">TOP</span>
            </ion-item>
        </ion-list>
        <ion-list style="margin-bottom: 50px !important;" class="product-list">
            <ion-item (click)="open_this_search(search)" *ngFor="let search of searches">
                <div class="txt">
                    <strong [innerText]="search.term"></strong>
                    <div class="time">
                        <span>Search</span>
                    </div>
                    <span (click)="remove_search_entry(search.id, $event)" class="remove_item"></span>
                </div>
            </ion-item>
        </ion-list>
        <div *ngIf="latest_searches_firstTime_loading" class="latest_searches_spinner">
            <ion-spinner name="ios"></ion-spinner>
        </div>
    </div>
</ion-content>
<ion-fab (tap)="notifications()" bottom right>
    <button ion-fab color="dark">
        <img src="assets/img/tot_icon_white.png" />
    </button>
    <button *ngIf="_unread!=0" ion-button icon-only class="notices">{{_unread}}</button>
</ion-fab>