.top_empty_box {
    height: 100%;
}

home_settings,
top_interests,
top_options {
    .top_empty_box {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1000;
    }
    .content_follows_profile {
        width: 100%;
        height: auto;
        max-height: 300px;
        overflow-y: auto;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .sharing_pop {
        &.interestTab {
            .main_label {
                text-align: center;
                line-height: 8;
                padding: 20px 0;
                ion-icon {
                    float: none !important;
                }
                &.shareIcon {
                    img {
                        width: 40px;
                    }
                }
            }
            span {
                display: inline-block !important;
                vertical-align: middle;
                width: calc(100% - 78px);
                margin: 0px;
                padding: 28px 10px 28px 0px !important;
                list-style: none;
                border-bottom: 1px solid #ececec;
            }
        }
        &.borderNone {
            .main_label {
                line-height: 7;
            }
        }
        padding: 0;
        &.four {
            .main_label {
                line-height: 6;
                img {
                    width: 25px;
                }
            }
            ul {
                border-bottom: 0px;
            }
        }
        &.two {
            .main_label {
                img {
                    width: 40px;
                }
            }
        }
        .main_label {
            display: inline-block;
            vertical-align: middle;
            width: 73px;
            text-align: center;
            padding: 0;
            height: 73px;
            line-height: 7.5;
            img {
                width: 30px;
            }
            &.shareIcon {
                img {
                    width: 40px;
                }
            }
            &.helpIcon {
                line-height: 7;
                img {
                    width: 20px;
                }
            }
        }
        ul {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 78px);
            margin: 0px;
            padding: 28px 10px 28px 0;
            list-style: none;
            border-bottom: 1px solid #ececec;
            li {
                float: left;
                padding: 0 2.1vw;
                vertical-align: middle;
                color: #797979;
                font-size: 4vw;
                &.tabOption {
                    padding: 0 7px;
                    text-align: right;
                    float: right;
                    img {
                        width: 25px;
                    }
                }
                .high {
                    color: green;
                }
            }
        }
        &.three {
            ul {
                li {
                    padding: 0 1.5vw;
                    span {
                        width: 21vw;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    /*.sharing_pop.bottom-border:after {
        height: 1px;
        position: absolute;
        content: '';
        top: 100%;
        left: 22%;
        right: 0;
        background: #e3e3e3;
    }*/
    .sharing_pop .item {
        width: 18%;
        display: inline-block;
        vertical-align: top;
    }
    .sharing_pop.fluid .item {
        width: 100%;
        display: block;
    }
    .sharing_pop.fluid .item ion-icon {
        float: left;
    }
    .sharing_pop.fluid .item span {
        padding: 9px 32px;
        display: block;
        overflow: hidden;
    }
    .sharing_pop span,
    .sharing_pop em {
        font-size: 14px;
        line-height: 14px;
        font-style: normal;
        color: #b3b3b3;
    }
    .sharing_pop ion-icon {
        padding-left: 0;
        font-size: 40px;
        line-height: 34px;
        color: #cdcdcd;
        display: block;
    }
    .sharing_pop.add ion-icon,
    .sharing_pop.add em {
        display: inline-block;
        vertical-align: middle;
        margin: 0px !important;
    }
    .sharing_pop.add em {
        margin-left: 30%;
    }
    .sharing_pop.add .item {
        width: 32% !important;
    }
    .pop_heading {
        padding: 13px;
        text-align: center;
        color: #9a9a9a;
        box-shadow: 0 1px 4px 0px #b5b5b5;
        background: #e0e0e0;
        z-index: 5;
        overflow: hidden;
        position: relative;
        .backBtn {
            position: absolute;
            left: 20px;
            top: 50%;
            -webkit-transform: translate(-50%, 0);
            font-size: 14px;
            transform: translate(0%, -50%);
        }
    }
    .tags-clouds {
        padding: 20px;
        color: #bfbfbf;
        overflow: hidden;
    }
    .tags-clouds em {
        margin: 0 3px;
        font-style: normal;
    }
    .tags-clouds .xs {
        font-size: 11px;
        line-height: 15px;
    }
    .tags-clouds .sm {
        font-size: 13px;
        line-height: 17px;
    }
    .tags-clouds .md {
        font-size: 16px;
        line-height: 20px;
    }
    .tags-clouds .large {
        font-size: 20px;
        line-height: 24px;
    }
}

anotote_content_options {
    background: rgba(0, 0, 0, 0.3);
    ion-list {
        .user_list_item {
            height: 55px;
            line-height: 55px;
            .un_follow_btn {
                height: 45px;
                float: left;
                width: 45px;
                float: right;
                background-image: url(../assets/img/remove.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
            }
            .follow_btn {
                height: 45px;
                float: left;
                width: 45px;
                float: right;
                background-image: url(../assets/img/follow_friend.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
            }
        }
    }
    .search_header {
        height: $bar_button_custom_height;
        .options {
            height: $bar_button_custom_height;
            float: left;
            width: 30px;
            background-image: url(../assets/img/option-icon.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 5px;
        }
        .search_button {
            height: $bar_button_custom_height;
            float: left;
            width: $bar_button_custom_height;
            background-image: url(../assets/img/search.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
        }
        .clear_button {
            height: $bar_button_custom_height;
            float: right;
            width: $bar_button_custom_height;
            background-image: url(../assets/img/closeIcon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px;
        }
        .clear_button {
            background-color: #000;
            width: 40px;
            background-size: 24px;
        }
        .search_field {
            width: calc(100% - 142px);
            display: inline-block;
            float: left;
            height: 100%;
            input {
                padding: 0;
                width: calc(100% - 8px);
                margin: 0px;
                background: white;
                height: 50px;
                margin-top: 3px;
                padding-left: 5px;
            }
        }
    }
}

page-home {
    ion-fab {
        bottom: 20px !important;
        right: 15px !important;
    }
    .product-list {
        .item {
            border-top: 2px solid #f0f0f0 !important;
            overflow: hidden;
            padding: 0px;
            .item-inner {
                padding: 0px;
                ion-label {
                    margin: 0px;
                    .img-holder {
                        width: 50px;
                        height: 73px;
                        float: left;
                        text-align: center;
                        line-height: 5.5;
                        img {
                            display: inline-block;
                            width: 28px;
                        }
                    }
                    .txt {
                        padding: 16px 10px 16px 0;
                        font-size: 16px;
                        line-height: 20px;
                        color: #000;
                        display: block;
                        overflow: hidden;
                        position: relative;
                        strong {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: inline-block;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            font-size: 16px;
                            word-wrap: unset;
                            margin-bottom: -4px;
                        }
                        .time {
                            color: #969696;
                            span {
                                font-size: 14px;
                            }
                        }
                        .remove_item {
                            position: absolute;
                            right: 0px;
                            top: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            width: 20px;
                            height: 20px;
                            background-image: url(../assets/img/closeIconGray.svg);
                            background-repeat: no-repeat;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
    }
    /*.product-list .img-holder,
    .product-list .img-holder img {
        width: 74px;
        height: 72px;
        float: left;
        background: gray;
    }
    .product-list .txt {
        padding: 14px 10px 5px 20px;
        color: #cbcbcb;
        overflow: hidden;
    }
    .product-list strong {
        margin: 0 0 8px;
        color: #0f000f;
        display: block;
        margin: 0 0 8px;
        color: #0f000f;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .product-list .time {
        font-size: 13px;
        display: inline-block;
        overflow: hidden;
    }
    .product-list em {
        float: right;
        width: 56px;
        font-style: normal;
    }
    .product-list button {
        padding: 0;
        float: right;
        background: none;
    }
    .product-list .txt span {
        overflow: hidden;
    }
    .remove_item {
        width: 45px;
        height: 45px;
        display: inline-block;
        background-image: url('../assets/img/remove.png');
        background-repeat: no-repeat;
        background-size: 30px;
        float: right;
    }
    .latest_searches_spinner {
        position: relative;
        width: 100%;
        ion-spinner {
            position: absolute;
            display: inline-block;
            width: 28px;
            height: 28px;
            right: 0;
            left: 0;
            top: 10px;
            margin: auto;
        }
    }*/
}

.scroll-content {
    padding: 10px 25px 16px !important;
    background: #F5F5F5;
}

ion-buttons {
    img {
        width: 30px;
        margin: 11px 0px 11px 25px;
    }
}

.home-list {
    ion-item {
        height: 73px;
        padding-left: 0px;
    }
}

.home-list ion-item button {
    width: 50px;
    height: 73px !important;
    float: left;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    background: none;
}

// .home-list ion-item button:hover {
//     background: none !important;
// }
.home-list ion-item button img {
    height: 30px;
    margin-top: -2px;
    width: 11px;
}

.home-list {
    .green {
        background: #3bde00;
        border-radius: 0;
        &:hover {
            background-color: #2ba600 !important;
        }
        .activated {
            background-color: #2ba600 !important;
        }
    }
}

.home-list {
    .yellow {
        background: #f4e300;
        border-radius: 0;
        &:hover {
            background-color: #e9ca00 !important;
        }
        .activated {
            background-color: #e9ca00 !important;
        }
    }
}

.home-list {
    .pink {
        background: #fb9df0;
        border-radius: 0;
        &:hover {
            background-color: #bc73b3 !important;
        }
        .activated {
            background-color: #bc73b3 !important;
        }
    }
}

.home-list span.txt {
    padding: 27px 10px 26px 0;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    display: block;
    overflow: hidden;
}

.notific-holder {
    position: relative;
}

.notices,
.bell em {
    width: 25px;
    height: 25px;
    padding: 4px 0 0 1px;
    border-radius: 100%;
    background: red;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: -2px;
    right: -4px;
    z-index: 1000;
    font-style: normal;
}

.bell em {
    bottom: auto;
    top: -10px;
    right: -1px;
}

.notice-btn {
    margin-top: 40px !important;
    background: #fff;
    display: block;
    width: 100%;
    padding: 8px 10px !important;
    height: 50px;
    color: #cbcbcb;
    text-transform: none;
    box-shadow: 0 0 5px 0;
}

.latest_searches_spinner {
    position: relative;
    width: 100%;
    ion-spinner {
        position: absolute;
        display: inline-block;
        width: 28px;
        height: 28px;
        right: 0;
        left: 0;
        top: 10px;
        margin: auto;
    }
}

// .notice-btn:hover {
//     color: #fff;
//     background: #505050 !important;
// }
.bell {
    margin-right: 10px;
    float: left;
    position: relative;
}

.toolbar-md {
    min-height: 72px !important;
}