<ion-header class="topHeader">
    <ion-toolbar color="homeheader">
        <ion-buttons class="searchIcon" start>
            <button (tap)="openSearchPopup()" class="search_icon" ion-button icon-only>
               <img src="assets/img/searchIcon.png" alt="" />
                <!--<ion-icon name="search"></ion-icon>-->
            </button>
        </ion-buttons>
        <ion-title>
            <div class="dots_box">
                <span class="dot"></span>
            </div>
        </ion-title>
        <ion-buttons class="plusIcon" (click)="addBtn()" end>
            <button ion-button icon-only>
                <img src="assets/img/plusIcon.png" alt="" />
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div id="wrapper">
        <ion-list class="home-list layout">
            <ion-item (click)="openAnototeList('me')" class="green">
                <button clear="true" (click)="presentMeOptionsModal($event)" ion-button icon-only><img src="assets/img/dotsWhite.svg"></button>
                <span class="txt">ME</span>
            </ion-item>
            <ion-item (click)="openAnototeList('follows')" class="yellow">
                <button clear="true" (click)="follows($event)" ion-button icon-only><img src="assets/img/dotsWhite.svg"></button>
                <span class="txt">FOLLOWS</span>
            </ion-item>
            <ion-item (click)="openAnototeList('top')" class="pink">
                <button clear="true" (click)="presentTopOptionsModal($event)" ion-button icon-only><img src="assets/img/dotsWhite.svg"></button>
                <span class="txt">TOP</span>
            </ion-item>
        </ion-list>
        <ion-list style="margin-bottom: 50px !important;" class="product-list">
            <ion-item (click)="open_this_search(search)" *ngFor="let search of searches">
                <div class="img-holder" (click)="pinImage($event,search)">
                    <img class="unReadLock" *ngIf="search.id != 0" src="assets/img/blackBookmark.svg" alt="">
                    <img class="unReadLock" *ngIf="search.id == 0" src="assets/img/grayBookmark.svg" alt="">
                </div>
                <div class="txt">
                    <strong *ngIf="search.linkTitle != null && search.linkTitle != ''" [innerText]="search.linkTitle"></strong>
                    <strong *ngIf="search.linkTitle == null || search.linkTitle == ''" [innerText]="search.term"></strong>
                    <div class="time">
                        <span *ngIf="search.bookMarked == 0">Search</span>
                        <span *ngIf="search.bookMarked == 1">Bookmarked</span>
                    </div>
                    <span (click)="remove_search_entry(search.id, $event)" class="remove_item"></span>
                </div>
            </ion-item>
        </ion-list>
        <div *ngIf="latest_searches_firstTime_loading" class="latest_searches_spinner">
            <ion-spinner name="ios"></ion-spinner>
        </div>
    </div>
</ion-content>
<ion-fab (tap)="notifications()" [ngClass]="{'moveUpList': move_fab == true}" bottom right>
    <button ion-fab color="dark">
        <img src="assets/img/whiteTote.svg" />
    </button>
    <button *ngIf="_unread!=0" ion-button icon-only class="notices">{{_unread}}</button>
</ion-fab>
<ion-footer class="message-bottom" *ngIf="loading_check">
    <ion-toolbar color="dark">
        <p class="messageLoading">{{loading_message}}</p>
    </ion-toolbar>
</ion-footer>