.top_empty_box {
    height: 100%;
}

home_settings,
top_interests,
top_options {
    .top_empty_box {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1000;
    }
    .content_follows_profile {
        width: 100%;
        height: auto;
        max-height: 300px;
        overflow-y: auto;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .sharing_pop {
        // &:focus,
        // &:active {
        //     background: color($assetFeedback, base);
        // }
        span:focus,
        span:active {
            color: color($assetFeedback, streamsHoverShadow);
        }
        &.interestTab {
            .main_label {
                text-align: center;
                line-height: 8;
                padding: 20px 0;
                ion-icon {
                    float: none !important;
                }
                &.shareIcon {
                    img {
                        width: 46px;
                    }
                }
            }
            span {
                display: inline-block !important;
                vertical-align: middle;
                width: calc(100% - 78px);
                margin: 0px;
                padding: 28px 10px 28px 0px !important;
                list-style: none;
                border-bottom: 1px solid #ececec;
            }
        }
        &.borderNone {
            .main_label {
                line-height: 7;
            }
        }
        padding: 0;
        &.four {
            .main_label {
                line-height: 6;
                img {
                    width: 25px;
                }
            }
            ul {
                border-bottom: 0px;
            }
        }
        &.two {
            .main_label {
                img {
                    width: 46px;
                }
            }
        }
        .main_label {
            display: inline-block;
            vertical-align: middle;
            width: 73px;
            text-align: center;
            padding: 0;
            height: 73px;
            line-height: 7.5;
            img {
                width: 36px;
                vertical-align: initial;
            }
            &.shareIcon {
                img {
                    width: 46px;
                }
            }
            &.helpIcon {
                line-height: 7;
                img {
                    width: 20px;
                }
            }
            &.userIcon {
                padding: 10px;
                line-height: 0;
                img {
                    width: 25px;
                }
                p {
                    font-size: 14px;
                    color: #b3b3b3;
                    margin: 10px;
                    font-family: 'robotolight';
                }
            }
            &.markIcon {
                line-height: 6.4;
                img {
                    width: 29px;
                }
            }
            &.bookmarkIcon {
                line-height: 7;
                img {
                    width: 20px;
                }
            }
            &.saveIcon {
                line-height: 7;
                img {
                    width: 35px;
                }
            }
        }
        ul {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 78px);
            margin: 0px;
            padding: 25px 10px 25px 0;
            list-style: none;
            border-bottom: 1px solid #ececec;
            li {
                float: left;
                padding: 0 6px;
                vertical-align: middle;
                color: #797979;
                font-size: 16px;
                &.tabOption {
                    text-align: right;
                    float: right;
                    height: 22px;
                    img {
                        width: 5px;
                        -webkit-transform: translate(-50%, 0%);
                        transform: translate(-50%, 0%);
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
                }
                .high {
                    color: green;
                    text-shadow: 0px 3px 3px #a0a0a0;
                }
            }
        }
        &.three {
            ul {
                li {
                    padding: 0 1.5vw;
                    span {
                        width: 21vw;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .sharing_pop .item {
        width: 18%;
        display: inline-block;
        vertical-align: top;
    }
    .sharing_pop.fluid .item {
        width: 100%;
        display: block;
    }
    .sharing_pop.fluid .item ion-icon {
        float: left;
    }
    .sharing_pop.fluid .item span {
        padding: 9px 32px;
        display: block;
        overflow: hidden;
    }
    .sharing_pop span,
    .sharing_pop em {
        font-size: 16px; // line-height: 14px;
        font-style: normal;
        color: #b3b3b3;
    }
    .sharing_pop ion-icon {
        padding-left: 0;
        font-size: 40px;
        line-height: 34px;
        color: #cdcdcd;
        display: block;
    }
    .sharing_pop.add ion-icon,
    .sharing_pop.add em {
        display: inline-block;
        vertical-align: middle;
        margin: 0px !important;
    }
    .sharing_pop.add em {
        margin-left: 30%;
    }
    .sharing_pop.add .item {
        width: 32% !important;
    }
    .pop_heading {
        padding: 13px;
        text-align: center;
        color: #9a9a9a;
        box-shadow: 0 1px 4px 0px #b5b5b5;
        background: #e0e0e0;
        z-index: 5;
        overflow: hidden;
        position: relative;
        .backBtn {
            position: absolute;
            left: 20px;
            top: 50%;
            -webkit-transform: translate(-50%, 0);
            font-size: 14px;
            transform: translate(0%, -50%);
        }
    }
    .tags-clouds {
        padding: 20px;
        color: #bfbfbf;
        overflow: hidden;
    }
    .tags-clouds em {
        margin: 0 3px;
        font-style: normal;
    }
    .tags-clouds .xs {
        font-size: 11px;
        line-height: 15px;
    }
    .tags-clouds .sm {
        font-size: 13px;
        line-height: 17px;
    }
    .tags-clouds .md {
        font-size: 16px;
        line-height: 20px;
    }
    .tags-clouds .large {
        font-size: 20px;
        line-height: 24px;
    }
}

page-home {
    ion-fab {
        bottom: 20px !important;
        right: 15px !important;
    }
    li.active {
        background: color($assetFeedback, base) !important;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 99%;
            background: url(../assets/img/arrowNormal.svg) no-repeat center center;
            background-size: 100%;
            width: 30px;
            height: 100%;
        }
        &:hover {
            background: color($assetFeedback, streamsHoverShadow) !important;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 99%;
                background: url(../assets/img/homeArrowSelected.svg) no-repeat center center;
                background-size: 100%;
                width: 30px;
                height: 100%;
            }
        }
    }
    .product-list {
        list-style: none;
        margin: 0;
        padding: 0;
        background: #fff;
        li {
            position: relative;
            list-style: none;
            border-bottom: 1px solid #e8e8e8;
            .img-holder {
                width: 50px;
                height: 72px;
                float: left;
                text-align: center;
                line-height: 5.5;
                position: relative;
                &:hover {
                    background-color: color($assetFeedback, homeBaseHover) !important;
                    box-shadow: -3px 3px 15px 5px #6b6969 !important;
                    opacity: 1;
                    border-radius: 0;
                }
                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    display: inline-block;
                    width: 28px;
                }
            }
            .txt {
                padding: 19px 10px 15px 0;
                font-size: 16px;
                color: #000;
                display: block;
                overflow: hidden;
                position: relative;
                strong {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    font-size: 16px;
                    margin-bottom: -4px;
                }
                .time {
                    color: #969696;
                    span {
                        font-size: 14px;
                    }
                }
                .remove_item {
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    background-image: url(../assets/img/closeIconGray.svg);
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
            } // &:hover {
            //     background-color: color($assetFeedback, base) !important;
            // }
        }
    }
}

.scroll-content {
    padding: 10px 25px 16px !important;
    background: #F5F5F5;
}

ion-buttons {
    img {
        width: 30px;
        margin: 11px 0px 11px 25px;
    }
}

.home-list {
    ion-item {
        height: 73px;
        padding-left: 0px;
    }
}

ul.home-list {
    padding: 0;
    margin: 0;
    li {
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;
        height: 73px;
        button {
            height: 100%;
            margin-right: 10px !important;
            .button-inner {
                height: 100%;
                width: 50px;
                img {
                    width: 100%;
                    max-width: 30px;
                }
            }
        }
    }
}

.home-list ion-item button {
    width: 50px;
    height: 73px !important;
    float: left;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    background: none;
}

// .home-list ion-item button:hover {
//     background: none !important;
// }
.home-list ion-item button img {
    height: 30px;
    margin-top: -2px; // width: 11px;
}

.home-list {
    .green {
        background: #3bde00;
        border-radius: 0;
        &:hover {
            background-color: color($assetFeedback, homeGreenHover) !important;
        } // &:active,
        // &:visited,
        // &:focus {
        //     background-color: color($assetFeedback, base) !important;
        // }
        .activatedOn {
            background-color: color($assetFeedback, darkGreen) !important; // box-shadow: -20px 15px 20px 19px #181717 !important;
            box-shadow: -3px 3px 15px 5px #6b6969 !important;
            transform: scale(1);
            opacity: 1;
            border-radius: 0;
            z-index: 999;
        }
        button:hover {
            @extend .activatedOn;
        }
    }
    .yellow {
        background: #f4e300;
        border-radius: 0;
        &:hover {
            background-color: color($assetFeedback, homeYellowHover) !important;
        } // &:active,
        // &:visited,
        // &:focus {
        //     background-color: color($assetFeedback, base) !important;
        // }
        .activatedOn {
            background-color: color($assetFeedback, darkYellow) !important; // box-shadow: 0 0px 11px 0px #bdbdbd;
            box-shadow: -3px 3px 15px 5px #6b6969 !important;
            transform: scale(1);
            opacity: 1;
            border-radius: 0;
            z-index: 999;
        }
        button:hover {
            @extend .activatedOn;
        }
    }
    .pink {
        background: #fb9df0;
        border-radius: 0;
        &:hover {
            background-color: color($assetFeedback, homePinkHover) !important;
        } // &:active,
        // &:visited,
        // &:focus {
        //     background-color: color($assetFeedback, base) !important;
        // }
        .activatedOn {
            background-color: color($assetFeedback, darkPink) !important;
            box-shadow: -3px 3px 15px 5px #6b6969 !important;
            transform: scale(1);
            opacity: 1;
            border-radius: 0;
            z-index: 999;
        }
        button:hover {
            @extend .activatedOn;
        }
    }
}

.home-list span.txt {
    // padding: 27px 10px 26px 0;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    display: block;
    overflow: hidden;
}

.notific-holder {
    position: relative;
}

.notices,
.bell em {
    width: 25px;
    height: 25px;
    padding: 4px 0 0 1px;
    border-radius: 100%;
    background: red;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: -2px;
    right: -4px;
    z-index: 1000;
    font-style: normal;
}

.bell em {
    bottom: auto;
    top: -10px;
    right: -1px;
}

.notice-btn {
    margin-top: 40px !important;
    background: #fff;
    display: block;
    width: 100%;
    padding: 8px 10px !important;
    height: 50px;
    color: #cbcbcb;
    text-transform: none;
    box-shadow: 0 0 5px 0;
}

.latest_searches_spinner {
    position: relative;
    width: 100%;
    ion-spinner {
        position: absolute;
        display: inline-block;
        width: 28px;
        height: 28px;
        right: 0;
        left: 0;
        top: 10px;
        margin: auto;
    }
}

// .notice-btn:hover {
//     color: #fff;
//     background: #505050 !important;
// }
.bell {
    margin-right: 10px;
    float: left;
    position: relative;
}

.toolbar-md {
    min-height: 72px !important;
}