home_settings {
    .top_empty_box {
        width: 100%;
        height: 620px;
        background: rgba(0, 0, 0, 0.7)
    }
    .content_follows_profile {
        width: 100%;
        height: 500px;
        overflow-y: auto;
        background-color: #fff;
    }
    .sharing_pop {
        padding: 8px 20px !important;
        position: relative;
    }
    .sharing_pop.bottom-border:after {
        height: 1px;
        position: absolute;
        content: '';
        top: 100%;
        left: 15%;
        right: 0;
        background: #e3e3e3;
    }
    .sharing_pop .item {
        width: 14%;
        display: inline-block;
        vertical-align: top;
    }
    .sharing_pop span,
    .sharing_pop em {
        font-size: 15px;
        line-height: 19px;
        font-style: normal;
        color: #cecece;
    }
    .sharing_pop ion-icon {
        font-size: 30px;
        line-height: 34px;
        color: #cdcdcd;
        display: block;
    }
    .sharing_pop.add ion-icon,
    .sharing_pop.add em {
        display: inline-block;
        vertical-align: middle;
    }
    .sharing_pop.add em {
        margin-left: 30%;
    }
    .sharing_pop.add .item {
        width: 32% !important;
    }
    .pop_heading {
        padding: 13px;
        text-align: center;
        color: #b7b7b7;
        box-shadow: 0 1px 12px -4px #000;
        background: #e0e0e0;
        z-index: 5;
        overflow: hidden;
    }
}

page-home {}

.home-list ion-item {
    height: 78px;
}

.home-list ion-item button {
    width: 67px;
    height: 70px !important;
    float: left;
    box-shadow: none !important;
    border: none !important;
    background: none;
}

.home-list ion-item button:hover {
    background: none !important;
}

.home-list ion-item button img {
    height: 36px;
}

.home-list .green {
    background: #3bde00;
}

.home-list .yellow {
    background: #f4e300;
}

.home-list .pink {
    background: #fb9df0;
}

.home-list span.txt {
    padding: 25px 10px;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    display: block;
    overflow: hidden;
}

.notific-holder {
    position: relative;
}

.notices,
.bell em {
    width: 20px;
    height: 20px;
    padding: 4px 0 0 1px;
    border-radius: 100%;
    background: red;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: -34px;
    right: 6px;
    z-index: 1000;
    font-style: normal;
}

.bell em {
    bottom: auto;
    top: -10px;
    right: -1px;
}

.notice-btn {
    margin-top: 40px !important;
    background: #fff;
    display: block;
    width: 100%;
    padding: 8px 10px !important;
    height: 50px;
    color: #cbcbcb;
    text-transform: none;
    box-shadow: 0 0 5px 0;
}

.notice-btn:hover {
    color: #fff;
    background: #505050 !important;
}

.bell {
    margin-right: 10px;
    float: left;
    position: relative;
}