<div class="top_empty_box" (tap)="dismiss()">
</div>
<div class="content_follows_profile" [@enterAnimation] *ngIf="show == true">
    <div class="sharing_pop">
        <div class="main_label">
            <img src="assets/img/shareIconGray.svg" alt="" />
        </div>
        <ul no-lines class="sharing_pop bottom-border">
            <!-- <li (click)="share_me_tote('facebook')">
                <span>Facebook</span>
            </li> -->
            <li (tap)="share_me_tote('copy')">
                <span>Copy</span>
            </li>
            <li (tap)="open_chat()">
                <span>Chat</span>
            </li>
            <li (tap)="share_me_tote('email')">
                <span>Email</span>
            </li>
            <li (tap)="share_me_tote('twitter')">
                <span>Twitter</span>
            </li>
            <li (tap)="share_me_tote('link')" class="tabOption">
                <img src="assets/img/dotsOption.svg" alt="" />
            </li>
        </ul>
    </div>
    <div class="sharing_pop borderNone" *ngIf="topOrnot">
        <div class="main_label">
            <img src="assets/img/settingGrayIcon.svg" alt="">
        </div>
        <ul no-lines class="sharing_pop add">
            <li (click)="open_settings_menu()">
                <em>Settings</em>
            </li>
        </ul>
    </div>
</div>