search-results {
    .resultHead {
        overflow: visible;
        contain: none; // .toolbar-background {
        //     background: #444444;
        // }
        .toolbar-background {
            background: #313131;
        }
    }
    .searchFiels {
        display: inline-block;
        -webkit-transition: width 1000ms ease-in-out;
        transition: all 1000ms ease-in-out;
        width: 0;
        position: relative;
        opacity: 0;
        .searchTxt {
            width: 100%;
            padding: 10px;
        }
        .icon {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(0%, -50%);
            z-index: 99;
            color: #000;
            font-size: 30px;
        }
    }
    .searchFiels.active {
        width: calc(100% - 25px);
        opacity: 1;
    }
    .searchBtn {
        overflow: visible;
        margin-left: 25px;
        background: #000;
        box-shadow: 0 0 10px #232323;
        &:after {
            content: "";
            position: absolute;
            bottom: -17px;
            left: 0px;
            width: 0;
            height: 0;
            border-left: 33px solid transparent;
            border-right: 33px solid transparent;
            border-top: 18px solid black;
        }
        .bar-button {
            height: 56px;
            width: 68px;
        }
    }
    .scroll-content {
        padding-top: 10px !important;
        background: #f0f0f0;
        .no_search {
            text-align: center;
            p {
                margin: 0;
                font-size: 14px;
                font-weight: bold;
            }
        }
        .search-panel {
            ._spinner {
                position: relative;
                width: 100%;
                ion-spinner {
                    position: absolute;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    right: 0;
                    left: 0;
                    top: 10px;
                    margin: auto;
                }
            }
            background: #FFF;
            box-shadow: 0px 0px 3px #cacaca;
            .search-result {
                margin: 0px;
                padding: 0px;
                list-style: none;
                li {
                    border-bottom: 1px solid #e4e4e4;
                    figure {
                        display: inline-block;
                        vertical-align: middle;
                        width: 72px;
                        height: 72px;
                        margin: 0px;
                        img {
                            width: 100%;
                        }
                    }
                    figcaption {
                        @extend figure;
                        width: calc(100% - 77px);
                        margin: 0px;
                        padding: 5px 10px 8px 0;
                        float: none;
                        height: auto;
                        color: #ababab;
                        h4 {
                            font-size: 15px;
                            color: #000;
                            margin: 0 0 7px;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                        }
                        span {
                            display: block;
                            font-size: 12px;
                            margin: 0;
                            span {
                                width: calc(100% - 70px);
                                display: inline-block;
                                text-overflow: ellipsis;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                overflow: hidden;
                                white-space: nowrap;
                                margin-bottom: 0px;
                            }
                            b {
                                float: right;
                                font-weight: normal;
                            }
                            &.excerptTxt {
                                font-size: 11px;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                width: 100%;
                                overflow: hidden;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}