search-results {
    .resultHead {
        overflow: visible;
        contain: none; // .toolbar-background {
        //     background: #444444;
        // }
        .toolbar-background {
            background: #313131;
        }
        .ion-buttons {
            button {
                color: #FFF;
            }
        }
        img {
            margin: 0;
        }
    }
    .searchHeader {
        .options {
            background-color: #313131;
            &.activeOption {
                position: relative;
                background-color: #000;
                width: 29px;
                margin-right: 1px;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: -20px;
                    z-index: 999;
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 20px solid #000;
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: -23px;
                    z-index: 999;
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 20px solid #c1c1c1bf;
                    filter: blur(3px);
                }
            }
        }
    }
    .search_header {
        height: $bar_button_custom_height;
        &.green {
            background: #3bde00; //padding-top: 14px;
            // height: 56px;
            img {
                background-color: #2ba600;
            }
            .options {
                background-color: #3bde00;
                background-image: url(../assets/img/whiteDotIcon.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &:after {
                    border-top: 20px solid #3bde00;
                }
            }
            .clear_button {
                width: 40px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 132px);
                border-radius: 0px;
            }
        }
        &.yellow {
            background: #f4e300; //padding-top: 14px;
            // height: 70px;
            img {
                background-color: #bdb222;
            }
            .options {
                background-color: #f4e300;
                background-image: url(../assets/img/whiteDotIcon.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &:after {
                    border-top: 20px solid #f4e300;
                }
            }
            .clear_button {
                width: 40px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 132px);
                border-radius: 0px;
            }
        }
        &.pink {
            background: #fb9df0; // padding-top: 14px;
            // height: 70px;
            img {
                background-color: #ca6ebf;
            }
            .options {
                background-color: #fb9df0;
                background-image: url(../assets/img/whiteDotIcon.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &:after {
                    border-top: 20px solid #fb9df0;
                }
            }
            .clear_button {
                width: 40px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 132px);
                border-radius: 0px;
            }
        }
        img {
            margin: 0;
            float: left;
            padding: 12px;
            background: #000;
            height: 56px;
            width: 56px;
            -webkit-box-shadow: 4px 5px 10px #000;
            box-shadow: 4px 5px 10px #000;
            position: relative;
        }
        .options {
            height: $bar_button_custom_height;
            float: left;
            width: 30px;
            background-image: url(../assets/img/whiteDotIcon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
        }
        .clear_button {
            width: 40px !important;
            background-size: 18px !important;
        }
        .search_field {
            width: calc(100% - 127px) !important;
            border-radius: 0px;
            background: #FFF;
        }
        .search_button {
            height: $bar_button_custom_height;
            float: left;
            width: $bar_button_custom_height;
            background-image: url(../assets/img/search.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
        }
        .clear_button {
            height: $bar_button_custom_height;
            height: 56px;
            float: right;
            width: 36px;
            background-image: url(../assets/img/closeIcon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 15px;
        }
        form {
            height: 100%;
            display: inline;
        }
        .search_field {
            width: calc(100% - 128px);
            display: inline-block;
            border: 0px;
            padding: 10px;
            height: 100%;
            margin-left: 0px;
            border-radius: 0px;
            font-size: 16px;
            -webkit-box-shadow: 0px 0px 8px #9c9c9c;
            box-shadow: 0px 0px 8px #9c9c9c;
            input {
                padding: 0;
                width: calc(100% - 8px);
                margin: 0px;
                background: white;
                height: 50px;
                margin-top: 3px;
                padding-left: 5px;
            }
        }
    }
    .searchPage {
        padding: 0px !important;
        background: rgba(121, 121, 121, 0.58);
    }
    .toolbar {
        contain: none;
        overflow: visible;
    }
    .filtersShown {
        .scroll-content {
            // padding: 0 0 0 0 !important;
            overflow: hidden;
        }
    }
    .scroll-content {
        padding-top: 10px !important;
        background: #f0f0f0;
        .no_search {
            text-align: center;
            padding: 10px !important;
            p {
                margin: 0;
                font-size: 16px;
                font-weight: bold;
                color: #000;
            }
        }
        .filterMode {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            height: 100%;
            >div {
                padding: 20px;
                display: table;
                width: 100%;
                position: relative;
                background: #fff;
                margin-bottom: -1px;
                &:after {
                    content: "";
                    bottom: 0px;
                    position: absolute;
                    right: 0px;
                    width: 75%;
                    height: 2px;
                    background: #e8e8e8;
                }
                h4 {
                    display: table-cell;
                    vertical-align: middle;
                    margin: 0px;
                    font-size: 14px;
                    width: 20%;
                    color: #b3b3b3;
                    text-align: center;
                }
                ul {
                    display: table-cell;
                    vertical-align: middle;
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    padding-left: 10px;
                    li {
                        display: inline-block;
                        padding: 0;
                        width: 32%;
                        vertical-align: middle;
                        font-size: 16px;
                        h4 {
                            text-align: left;
                            font-size: 16px;
                        }
                        h4.selected {
                            font-weight: bolder;
                            color: #000;
                            text-shadow: 0px 3px 3px #a0a0a0;
                        }
                    }
                }
                &.mediaMode {
                    ul {
                        li {
                            h4 {
                                font-size: 16px;
                            }
                        }
                    }
                }
                &.catMode {
                    ul {
                        li {
                            span {
                                color: #b3b3b3;
                                font-size: 16px;
                            }
                            &.active {
                                span {
                                    color: #000;
                                    font-weight: bolder !important;
                                    text-shadow: 0px 3px 3px #a0a0a0;
                                }
                            }
                        }
                    }
                }
                &.dateMode {
                    ul {
                        li {
                            width: 32%;
                            input {
                                border: 0px;
                                width: 100%;
                                font-size: 16px;
                                padding: 0;
                            }
                            input::placeholder {
                                color: #b3b3b3;
                            }
                        }
                    }
                    &:after {
                        display: none;
                    }
                }
            }
            .forClosing {
                position: absolute;
                background: rgba(14, 14, 14, 0.48);
                height: 100%;
                top: 0;
                bottom: 0;
                width: 100%;
                z-index: -1;
            }
        }
        .search-panel {
            ._spinner {
                position: relative;
                width: 100%;
                ion-spinner {
                    position: absolute;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    right: 0;
                    left: 0;
                    top: 10px;
                    margin: auto;
                }
            }
            .not_to_show {
                opacity: 0;
                width: 0;
                height: 0;
            }
            background: #FFF;
            box-shadow: 0px 0px 3px #cacaca;
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    background: #fff;
                    >div {
                        display: block;
                        width: 100%;
                        position: relative;
                        border-bottom: 1px solid color($colors, borders);
                        touch-action: auto !important;
                        user-select: auto !important;
                        -webkit-user-drag: auto !important;
                        &.editTitle {
                            background: #e0e0e0;
                            .img-holder {
                                background-image: url(../assets/img/option-icon.png);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 5px;
                            }
                            .txt {
                                padding: 16px 10px 0px 0px;
                                form {
                                    textarea {
                                        margin: 0px;
                                        padding: 0px;
                                        border: 0px;
                                        background: #e0e0e0;
                                        font-size: 16px;
                                        width: 100%;
                                        resize: none;
                                        width: 100%;
                                        background: inherit;
                                        border: 0;
                                    }
                                }
                                .totBtn {
                                    float: right;
                                    margin-top: 8px;
                                    span {
                                        font-size: 12px;
                                        text-transform: uppercase;
                                        color: #a9a9a9;
                                        margin-left: 10px;
                                        &.saveBtn {
                                            color: #319e07;
                                        }
                                    }
                                }
                            }
                        }
                        &.toteActive {
                            max-height: 0;
                            border: 0px;
                            overflow: hidden;
                            transition: .70s ease-in;
                            z-index: 0;
                            &.toteTransition {
                                display: block;
                                max-height: 2900px;
                                transition: 3s ease-out;
                                overflow: visible;
                            }
                            .message-underlist {
                                border-bottom: 1px solid color($colors, borders);
                            }
                        }
                        &.bulkActive {
                            background: #e0e0e0;
                            .check {
                                img {
                                    box-shadow: 0px 3px 4px #a7a7a7;
                                }
                            }
                        }
                        .img-holder {
                            height: 72px;
                            vertical-align: middle;
                            width: 50px;
                            background-image: url(../assets/img/option-icon.png); // background-image: url(../assets/img/grayDotIcon.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 5px;
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            text-align: center;
                            line-height: 4;
                            img {
                                vertical-align: middle;
                            }
                            &.activated {
                                background-color: color($assetFeedback, homeBaseHover) !important; // box-shadow: -20px 15px 20px 19px #181717 !important;
                                box-shadow: -3px 3px 15px 5px color($assetFeedback, streamsHoverShadow) !important;
                                transform: scale(1);
                                opacity: 1;
                                border-radius: 0;
                                z-index: 1;
                            }
                            &:active,
                            &:focus {
                                background-color: color($assetFeedback, homeBaseHover) !important; // box-shadow: -20px 15px 20px 19px #181717 !important;
                                box-shadow: -3px 3px 15px 5px color($assetFeedback, streamsHoverShadow) !important;
                                transform: scale(1);
                                opacity: 1;
                                border-radius: 0;
                                z-index: 1;
                            }
                        }
                        .check {
                            float: left;
                            padding: 22px 15px 15px;
                            vertical-align: middle;
                            text-align: center;
                        }
                        .txt {
                            vertical-align: middle;
                            padding: 26px 10px 0px 0px;
                            width: calc(100% - 50px);
                            min-height: 72px;
                            position: relative;
                            margin: 0 0 0 auto;
                            form {
                                textarea {
                                    margin: 0px;
                                    padding: 0px;
                                    border: 0px;
                                    background: #e0e0e0;
                                    font-size: 16px;
                                    width: 100%;
                                    resize: none;
                                    width: 100%;
                                    background: inherit;
                                    border: 0;
                                }
                            }
                            &.txtMiddel {
                                padding: 22px 10px 0px 0px;
                            }
                            &.txtOrdering {
                                padding: 10px 0px 10px 0px !important;
                                float: none;
                                width: auto !important;
                            }
                            &.normal {
                                padding: 1px 10px 0px 0px;
                            }
                            &.forShadow {
                                padding-bottom: 20px;
                            }
                            img.unReadLock {
                                position: absolute;
                                right: 8px;
                                top: 8px;
                                width: 13px;
                                display: inline-block;
                            }
                            &.txtToto {
                                width: calc(100% - 50px);
                                padding-left: 5px;
                            }
                            strong {
                                font-weight: normal;
                                font-size: 16px;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                width: 100%;
                                overflow: hidden;
                                margin-bottom: 5px;
                                transition: 2s;
                                white-space: normal; // text-transform: capitalize;
                            }
                            .opened {
                                -webkit-line-clamp: 2;
                                display: block;
                                transition: 2s;
                            }
                            p {
                                font-size: 14px;
                                margin: 0;
                            }
                            .time {
                                float: right;
                                margin-top: -5px;
                                em {
                                    width: 70px;
                                    color: #8e9093;
                                    font-style: normal;
                                    button {
                                        color: #8e9093;
                                        img {
                                            display: inline-block;
                                            vertical-align: middle;
                                            width: 14px;
                                        }
                                    }
                                }
                                button {
                                    //margin-left: 10px !important;
                                    display: inline-block;
                                    background: transparent;
                                }
                                span {
                                    display: inline-block;
                                    margin-right: 0px !important;
                                    font-size: 14px;
                                }
                            }
                            .toteText {
                                display: inline-block;
                                &:hover {
                                    background: color($assetFeedback, base);
                                }
                                p {
                                    display: inline-block;
                                    vertical-align: top;
                                    padding-left: 5px;
                                    margin-top: -1px;
                                    margin: 0 0 2px;
                                    text-overflow: ellipsis;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 1;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    word-break: break-all;
                                }
                                p.masla {
                                    width: calc(100% - 15px);
                                }
                                button {
                                    color: #8e9093;
                                    background: transparent;
                                    float: left;
                                    margin-top: 3px !important;
                                    img {
                                        display: inline-block;
                                        vertical-align: middle;
                                        width: 14px;
                                        &.unReadMsg {
                                            display: none;
                                        }
                                    }
                                    ion-icon {
                                        font-size: 16px;
                                    }
                                }
                            }
                            .totBtn {
                                float: right;
                                margin-top: 8px;
                                span {
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    color: #7f7f7f;
                                    margin-left: 10px;
                                    &.saveBtn {
                                        color: #319e07;
                                    }
                                }
                            }
                            input {
                                margin: 0px;
                                padding: 0px;
                                border: 0px;
                                background: #e0e0e0;
                                font-size: 16px;
                                width: 100%;
                            }
                        }
                        figure {
                            margin: 0px;
                            padding: 0px;
                            list-style: none;
                            vertical-align: top;
                            padding-top: 25px;
                            img {
                                width: 15px;
                            }
                        }
                    }
                    .hoverParent,
                    .hoverParent {
                        background: color($assetFeedback, base);
                    }
                    .activeTote {
                        border: 0px;
                        .options {
                            height: 70px;
                            float: left;
                            vertical-align: middle;
                            width: 50px;
                            background-image: url(../assets/img/grayDotIcon.svg);
                            background-position: 22px center;
                            background-repeat: no-repeat;
                            background-size: 7px;
                            z-index: 9999999;
                        }
                        .txt {
                            width: calc(100% - 50px);
                        }
                    }
                    .ng-trigger {
                        .details-list {
                            .item {
                                .item-inner {
                                    ion-label {
                                        padding: 15px 0px 0 20px;
                                        display: block;
                                        width: 100%;
                                        figure {
                                            float: left;
                                            padding: 3px 0 0;
                                        }
                                        .check-text {
                                            vertical-align: top;
                                            padding: 0 10px 0 12px;
                                            border: 0px;
                                            width: calc(100% - 15px);
                                            margin: 0;
                                            display: inline-block;
                                            .name-time {
                                                font-size: 14px;
                                                color: #888;
                                                .msg-time {
                                                    float: right;
                                                    font-size: 12px;
                                                }
                                            }
                                            p {
                                                font-size: 16px;
                                            }
                                            img {
                                                width: 25px;
                                                display: inline-block;
                                                vertical-align: top;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .listHeader {
                        padding: 0px 5px 0 45px;
                        margin-top: 0;
                        background: #FFF;
                        height: 30px;
                        .btns-area {
                            padding: 0px;
                            line-height: 1;
                            .me-tab {
                                background: #e0e0e0;
                                color: white;
                                border-radius: 0px;
                                margin: 0 5px !important;
                                height: auto;
                                padding: 5px !important;
                                font-size: 14px;
                                i {
                                    font-style: normal;
                                }
                                .loader {
                                    width: 10px;
                                    height: 10px;
                                }
                            }
                            .active_me {
                                background: $meQuotesandComments;
                                box-shadow: 0 0 3px #848484;
                            }
                            .anon_stream {
                                background: color($colors, anon);
                                box-shadow: 0 0 3px #848484;
                            }
                            .active_follows {
                                background: $followQuotesandComments;
                                box-shadow: 0 0 3px #848484;
                            }
                            .active_top {
                                background: $topQuotesandComments;
                                box-shadow: 0 0 3px #848484;
                            }
                        }
                    }
                    .message-underlist {
                        padding: 0;
                        .underlist-items {
                            contain: none;
                            overflow: visible;
                            &.selectedForBrowserPane {
                                background: color($assetFeedback, base);
                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto;
                                    left: 99.8%;
                                    background: url(../assets/img/arrowNormal.svg) no-repeat center center;
                                    background-size: 100%;
                                    width: 20px;
                                    height: 100%;
                                }
                            }
                            &.selectedForMessages {
                                @extend .selectedForBrowserPane;
                                &:after {
                                    width: 30px;
                                }
                            }
                            .item-inner {
                                .input-wrapper {
                                    ion-label {
                                        padding: 0; // &:focus {
                                        //     background: color($assetFeedback, base);
                                        // }
                                        // &:active {
                                        //     background: color($assetFeedback, base);
                                        // }
                                        // &:visited {
                                        //     background: color($assetFeedback, base);
                                        // }
                                        .txt {
                                            border-bottom: 0px;
                                            display: inline-block;
                                            vertical-align: middle;
                                            width: calc(100% - 30px);
                                            padding: 0 5px 0 0px;
                                            min-height: auto;
                                            float: right;
                                            p {
                                                font-size: 16px;
                                                text-align: left;
                                                white-space: pre-wrap;
                                                width: 100%;
                                                color: #000;
                                                &.lightText {
                                                    color: #bfbfbf;
                                                }
                                            }
                                            img {
                                                width: 25px;
                                            }
                                            &:focus {
                                                background: none;
                                            }
                                            &:active {
                                                background: none;
                                            }
                                            &:visited {
                                                background: none;
                                            }
                                        }
                                        figure {
                                            float: left;
                                            padding: 21px 0 0;
                                        }
                                        .check-text {
                                            vertical-align: top;
                                            padding: 0 10px 0 17px;
                                            border: 0px;
                                            width: calc(100% - 15px);
                                            margin: 0;
                                            display: inline-block;
                                            .name-time {
                                                font-size: 14px;
                                                color: #888;
                                                .msg-time {
                                                    float: right;
                                                    font-size: 14px;
                                                }
                                            }
                                            p {
                                                font-size: 16px;
                                                color: #222;
                                                margin: 3px 0 8px;
                                                white-space: normal;
                                                text-align: left;
                                            }
                                            img {
                                                width: 25px;
                                                display: inline-block;
                                                vertical-align: top;
                                            }
                                        }
                                        .status {
                                            margin-top: 2px;
                                        }
                                        .quotes_follows {
                                            background: $followQuotesandComments;
                                        }
                                        .quotes_anon {
                                            background: color($colors, anon);
                                        }
                                        .quotes_top {
                                            background: $topQuotesandComments;
                                            color: white;
                                        }
                                        .tag_input {
                                            margin-left: -8%;
                                            background: #f1f1f1;
                                            width: 108%;
                                            padding: 0px 10px 0px 54px;
                                            border-bottom: 0px;
                                            max-height: 150px;
                                            overflow: auto;
                                            ul {
                                                margin: 0px;
                                                padding: 0px;
                                                list-style: none;
                                                li {
                                                    padding: 8px 0px;
                                                    figure {
                                                        width: 25px;
                                                        margin: 0px;
                                                        padding: 0px;
                                                        display: inline-block;
                                                        float: none;
                                                        img {
                                                            width: auto;
                                                        }
                                                    }
                                                    figcaption {
                                                        display: inline-block;
                                                        vertical-align: middle;
                                                        width: calc(100% - 30px);
                                                    }
                                                }
                                            }
                                        }
                                        .editAntotion {
                                            margin-left: -8%;
                                            background: #e0e0e0;
                                            width: 108%;
                                            padding: 10px 10px 10px 54px;
                                            .moveBtn {
                                                position: absolute;
                                                left: 22px;
                                                top: 10px;
                                                button {
                                                    display: block;
                                                    background: transparent;
                                                    border: 0px;
                                                    padding: 2px 0px !important;
                                                    img {
                                                        width: 15px;
                                                    }
                                                }
                                            }
                                            textarea {
                                                width: 100%;
                                                background: #e0e0e0;
                                                border: 0px;
                                                resize: none;
                                                display: block;
                                            }
                                            textarea.commentGrey {
                                                color: #777776;
                                                margin-bottom: 5px;
                                            }
                                            img {
                                                float: left;
                                                width: 25px;
                                                margin-top: 3px;
                                            }
                                            span {
                                                font-size: 14px;
                                                text-transform: uppercase;
                                                float: right;
                                                color: #7f7f7f;
                                                padding-left: 10px;
                                            }
                                            span.save {
                                                color: #32ad05;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .reoderOn {
                            .item-inner {
                                .input-wrapper {
                                    ion-label {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                        .no_anotation {
                            text-align: center;
                            padding: 10px 0px 10px 20px;
                            p {
                                white-space: normal;
                                position: relative;
                                text-align: left;
                                padding-left: 30px;
                                font-size: 16px;
                                &.me {
                                    &::after {
                                        content: "";
                                        background: url(../assets/img/check2.png);
                                        background-position: left;
                                        background-repeat: no-repeat;
                                        background-size: 5vw;
                                        position: absolute;
                                        left: 0px;
                                        top: 0px;
                                        width: 17px;
                                        height: 17px;
                                    }
                                }
                            }
                            .butt {
                                width: 60%;
                                display: inline-block;
                                padding: 5%;
                                background: $me_app_color;
                                p {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            .search-result {
                .profile {
                    position: relative;
                    border-bottom: 1px solid color($colors, borders); // padding: 12px 10px 12px 0px;
                    figure {
                        display: inline-block;
                        vertical-align: middle;
                        width: 50px;
                        height: 72px;
                        padding: 10px 0px;
                        text-align: center;
                        line-height: 4;
                        overflow: hidden;
                        margin: 0px;
                        img {
                            width: 28px;
                            vertical-align: middle; // height: 26px;
                        }
                    }
                    figcaption {
                        display: inline-block; // width: calc(100% - 78px);
                        vertical-align: middle;
                        padding-right: 10px;
                        margin-left: -5px;
                        .rightContent {
                            float: right;
                            font-size: 14px;
                            color: #9a9a9a;
                        }
                        .rightAdd {
                            position: absolute;
                            right: 10px;
                            top: 48%;
                            -webkit-transform: translate(0%, -50%);
                            transform: translate(0%, -50%);
                            color: #939598;
                            font-size: 14px;
                            ion-icon {
                                font-size: 30px;
                                color: #939598;
                            }
                        }
                        h4 {
                            color: #9a9a9a;
                            font-size: 16px;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            white-space: nowrap;
                            img {
                                display: inline-block;
                                width: 12px;
                                &.star-icon {
                                    width: 18px; // vertical-align: top;
                                    // margin-top: -1px;
                                }
                            }
                        }
                        .toteText {
                            p {
                                width: calc(100% - 80px);
                                display: inline-block;
                                vertical-align: top;
                                padding-left: 5px;
                                margin-top: -1px;
                                text-overflow: ellipsis;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                overflow: hidden;
                                white-space: nowrap;
                                word-break: break-all;
                                font-size: 14px;
                            }
                            button {
                                color: #8e9093;
                                background: transparent;
                                float: left;
                                margin-top: 2px !important;
                                img {
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 14px;
                                }
                            }
                        }
                    }
                }
            }
            .fab {
                overflow: visible;
                contain: layout;
                .notices,
                .bell em {
                    width: 25px;
                    height: 25px;
                    padding: 4px 0 0 1px;
                    border-radius: 100%;
                    background: red;
                    text-align: center;
                    color: #fff;
                    position: absolute;
                    bottom: -2px;
                    right: -4px;
                    z-index: 1000;
                    font-style: normal;
                    font-weight: bold;
                }
                .meNote {
                    width: 25px;
                    height: 25px;
                    background: color($colors, me);
                    position: absolute;
                    right: -6px;
                    top: -5px;
                    border-radius: 50%;
                    z-index: 10;
                    padding: 0;
                    font-size: 11px;
                    line-height: 2;
                    font-weight: bold !important;
                    text-align: center;
                }
                .notiNote {
                    @extend .meNote; // top: auto;
                    // bottom: -5px;
                    font-size: 1.6rem;
                    background: red;
                }
                .followNote {
                    @extend .meNote;
                    right: 0px;
                    top: -1px;
                    z-index: 22;
                    background: color($colors, follows);
                }
                .topNote {
                    @extend .meNote;
                    right: 0px;
                    right: -6px;
                    top: -5px;
                    z-index: 22;
                    background: color($colors, top);
                }
                .topAheadNote {
                    @extend .meNote;
                    right: 0px;
                    top: -1px;
                    z-index: 22;
                    background: color($colors, top);
                }
            }
        }
    }
}