<ion-header class="topHeader">
    <ion-toolbar color="homeheader">
        <!-- <ion-buttons start>
            <button class="search_icon" ion-button icon-only>
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons> -->
        <ion-title>
            <dot-navigation class="anonDot" unactivedots="1"></dot-navigation>
        </ion-title>
        <ion-buttons class="plusIcon" end>
            <button (tap)="open_annotote_site()" ion-button icon-only>
                <img src="assets/img/qIcon.png" alt="">
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<span navPop class="wedge_icon"></span>
<ion-content swipe-vertical padding>
    <div id="wrapper">
        <form name="login_form" class="form-area">
            <div *ngIf="user != null" class="input-holder passIcon layout" [ngClass]="focus_field=='old_password'?'active':(forgot_password_old_error?'invalid_field':'')">
                <div class="iconImg">
                    <img src="assets/img/lockIcon.svg" alt="">
                    <img class="activeIcon" src="assets/img/lockActiveIcon.svg" alt="">
                    <img class="errorIcon" src="assets/img/lockErrorIcon.svg" alt="">
                </div>
                <input search-field selection="true" [(ngModel)]="forgot_password_old" name="old" (blur)="changeColor('')" (focus)="changeColor('old_password')" type="password" placeholder="Old Password" />
            </div>
            <div class="input-holder passIcon layout" [ngClass]="focus_field=='new_password'?'active':(forgot_password_new_error?'invalid_field':'')">
                <div class="iconImg">
                    <img src="assets/img/lockIcon.svg" alt="">
                    <img class="activeIcon" src="assets/img/lockActiveIcon.svg" alt="">
                    <img class="errorIcon" src="assets/img/lockErrorIcon.svg" alt="">
                </div>
                <input [(ngModel)]="forgot_password_new" name="new" (blur)="changeColor('')" (focus)="changeColor('new_password')" type="password" placeholder="New Password" />
            </div>
            <div class="input-holder passIcon layout" [ngClass]="focus_field=='confirm_password'?'active':(forgot_password_confirm_error?'invalid_field':'')">
                <div class="iconImg">
                    <img src="assets/img/lockIcon.svg" alt="">
                    <img class="activeIcon" src="assets/img/lockActiveIcon.svg" alt="">
                    <img class="errorIcon" src="assets/img/lockErrorIcon.svg" alt="">
                </div>
                <input [(ngModel)]="forgot_password_confirm" name="confirm" (blur)="changeColor('')" (focus)="changeColor('confirm_password')" type="password" placeholder="Confirm Password" />
            </div>
            <button *ngIf="user != null" [ngClass]="(forgot_password_old.length>0 && forgot_password_new.length>0 && forgot_password_confirm.length>0)?'green':''" (tap)="go_home()" ion-button>Go</button>
            <button *ngIf="user == null" [ngClass]="(forgot_password_new.length>0 && forgot_password_confirm.length>0)?'green':''" (tap)="updatePassword()" ion-button>Go</button>
        </form>
    </div>
</ion-content>