page-changepassword {
    .form-area:after {
        display: block;
        clear: both;
        content: '';
    }
    .form-area {
        position: relative;
    }
    .snakebar_forgot_password {
        height: $toolbar-snakebar-bottom;
        min-height: $toolbar-snakebar-bottom;
        .toolbar-title-ios {
            font-size: 12px;
        }
    }
}