// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html,
body {
    user-select: auto;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-family: "robotolight" !important;
}

.annotote_trick {
    display: none;
}

ion-app.ios {
    font-family: "robotolight" !important;
}

ion-item {
    .status {
        width: 16px;
        height: 16px;
        padding: 1px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        float: left;
        background: #2ba600;
        line-height: 0;
        img {
            width: 12px;
        }
        &.quoteStatus {
            line-height: .25;
        }
    }
}

*[contenteditable] {
    user-select: auto;
    -webkit-user-select: auto !important;
}

strong,
p,
span {
    font-weight: 400 !important;
}

.bar-button-default-ios.activated {
    opacity: 1 !important;
}

ion-fab {
    bottom: 20px !important;
    right: 15px !important;
}

// p:active,
// span:active,
// strong:active {
//     opacity: .5;
// }
.notices {
    top: -5px;
    bottom: auto;
}

// @font-face {
//     font-family: 'roboto'; // src: url("../assets/fonts/LucidaSans.eot");
//     // src: url("../assets/fonts/LucidaSans.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LucidaSans.woff") format("woff"), url("../assets/fonts/LucidaSans.ttf") format("truetype"), url("../assets/fonts/LucidaSans.svg#lovely") format("svg");
// }
// body {
//     font-family: -apple-system, 'robotoregular' !important;
// }
// ion-app.ios {
//     font-family: -apple-system, 'robotoregular' !important;
// }
// .platform-ios .ios-header {
//     height: calc(56px + 20px);
//     min-height: calc(56px + 20px);
//     padding-top: 20px;
// }
.toolbar-ios {
    padding: 0 !important;
    min-height: 56px !important;
    box-shadow: 0px 2px 8px #424242 !important;
}

.fab-ios-dark {
    &:hover {
        background-color: #5d5d5d;
    }
    &:focus {
        background-color: #5d5d5d;
    }
    &:active {
        background-color: #5d5d5d;
    }
}

.fab-ios-me {
    &:hover {
        background-color: #2ba600;
    }
    &:focus {
        background-color: #2ba600;
    }
    &:active {
        background-color: #2ba600;
    }
}

.fab-ios-follows {
    &:hover {
        background-color: #e9ca00;
    }
    &:focus {
        background-color: #e9ca00;
    }
    &:active {
        background-color: #e9ca00;
    }
}

.fab-ios-top {
    &:hover {
        background-color: #bc73b3;
    }
    &:focus {
        background-color: #bc73b3;
    }
    &:active {
        background-color: #bc73b3;
    }
}

.title-ios {
    padding-top: 5px !important;
    min-height: 100% !important;
    height: 100% !important;
    width: 100% !important;
}

.snakebar_forgot_password {
    height: $toolbar-snakebar-bottom !important;
    min-height: $toolbar-snakebar-bottom !important;
    .title-ios {
        padding-top: 0 !important;
    }
}

.button-ios.activated {
    background-color: #CBCBCB !important;
}

.button-ios.activated.green {
    background-color: $me_app_color !important;
}

.tote_green_logo {
    background-image: url('..assets/img/tote_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.wedge_icon {
    display: inline-block;
    position: absolute;
    left: -1px;
    top: 120px;
    z-index: 10000;
    width: 22px;
    height: 57px;
    background: url(../assets/img/backIcon.svg) no-repeat center center;
    background-size: 100%;
}

.highlight {
    background-color: #FFCCCC;
    font-weight: bold;
}

span.dot,
span.un_active_dot {
    border-radius: 50%;
    float: left;
    width: 40px;
    text-align: center;
    position: relative;
    height: 20px;
}

.dots_box {
    height: 100%;
    text-align: center;
    overflow: hidden;
    width: auto;
    display: inline-block;
}

span.dot:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
}

span.un_active_dot:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #6C6C6C;
    border-radius: 50%;
}

// .bar-button {
//     height: $bar_button_custom_height;
//     width: $bar_button_custom_height;
//     font-size: 2.7rem;
// }
.search_icon {
    font-size: 2rem;
    color: white;
}

.help_icon {
    font-size: 2.9rem;
}

.black {
    background-color: black;
}

.green {
    background-color: #3bde00 !important;
}

.yellow {
    background-color: #f4e300;
}

.bottom_snakbar {
    width: 100%;
    border-radius: 0px;
    .toast-wrapper {
        bottom: 0px !important;
        right: 0;
        left: 0;
        transform: translateY(0px) !important;
        text-align: center;
        border-radius: 0px;
    }
}

#wrapper {
    width: 100%;
    position: relative;
    box-shadow: 0 0px 11px 0px #bdbdbd;
}

.toolbar-content {
    padding: 0px !important;
}

.list-none {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

button,
.label-md,
.item-md,
.item-md.item-block .item-inner,
.ion-list,
.list-md,
.list-ios {
    margin: 0 !important;
    padding: 0 !important;
}

// .item:hover {
//     background: color($assetFeedback, base);
// }
.meDot {
    span.un_active_dot:after {
        background: #2ba600;
    }
}

.followDot {
    span.un_active_dot:after {
        background: #e9ca00;
    }
}

.topDot {
    span.un_active_dot:after {
        background: #bc73b3;
    }
}

.fab {
    width: 65px;
    height: 65px;
    box-shadow: 0 6px 10px 0px #a7a7a7;
    padding: 2px;
    .button-inner {
        padding: 7px;
    }
    .button-inner {
        img {
            width: 20px;
        }
    }
}

.fab-md-primary {
    bottom: 40px !important;
}

.invalid_field {
    .iconImg {
        img {
            display: none !important;
            &.errorIcon {
                display: inline-block !important;
            }
        }
    }
}

.moveUp {
    bottom: 35px !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all .3s ease-in-out;
    /** Firefox **/
    -o-transition: all .3s ease-in-out;
    /** Opera **/
}

.moveUpList {
    @extend .moveUp;
    bottom: 65px !important;
}

.message-bottom {
    .toolbar {
        overflow: visible;
        contain: none;
        .toolbar-content {
            padding: 0 25px !important;
        }
        p {
            width: calc(100% - 60px);
            color: #FFF;
            display: inline-block;
            vertical-align: middle;
            margin: 0px;
            padding: 10px 0px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -webkit-line-clamp: 2;
            font-weight: 500;
        }
        span {
            float: right;
            color: #3bde00;
            padding: 10px 0px;
            text-transform: uppercase;
        }
        .messageLoading {
            color: white;
            text-align: center;
            width: 100%;
        }
        .followLoading {
            color: white;
            text-align: left;
            width: 100%;
        }
        .notFollowing {
            position: absolute;
            right: 25px;
            color: #3bde00;
            top: 10px;
        }
        .alreadyFollowing {
            position: absolute;
            width: 5px;
            right: 35px;
            top: 30%;
            transform: translate(-50%, 0%);
            transform: rotate(90deg);
        }
        .editOptions {
            span {
                color: #b5b5b5;
                float: left;
                width: auto;
                letter-spacing: 0;
                text-transform: uppercase;
                margin-right: 10px;
            }
            span.save {
                color: #32ad05;
            }
        }
        .share {
            width: 45px;
            height: 45px;
            position: absolute;
            right: 16px;
            top: 0px;
            span {
                background: url(../assets/img/simpleShare.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}

/**
* Search Popup CSS
*/

.topHeader {
    .button-inner {
        text-align: center;
        img {
            margin: 0px;
            width: 26px;
        }
    }
}

.modal-wrapper {
    transform: translateY(0%) !important;
    -webkit-transform: translateY(0%) !important;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    .top_empty_box {
        background: transparent;
    }
}

// .modal-wrapper .content_follows_profile {
//     -webkit-transform: translate3d(0, 100%, 0);
//     transform: translate3d(0, 100%, 0);
// }
// .modal-wrapper .moadalView {
//     -webkit-transform: translateY(0%);
// }
.plusIcon {
    margin-right: 35px;
}

.searchIcon {
    margin-left: 35px;
}

view_options {
    .content_follows_profile {
        width: 100%;
        height: auto !important;
        max-height: 300px;
        overflow-y: auto;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        .sharing_pop {
            height: auto !important;
        }
    }
}

.sharing_pop {
    ion-item {
        padding: 0px !important;
        .item-inner {
            padding: 0px !important;
        }
        &:after {
            content: "";
            bottom: 0px;
            position: absolute;
            right: 0px;
            width: calc(100% - 70px);
            border-bottom: 1px solid #e6e6e6;
        }
        .aling-left {
            display: inline-block;
            width: 73px;
            height: 73px;
            text-align: center;
            line-height: 5;
            vertical-align: middle;
            img {
                vertical-align: inherit !important;
            }
        }
        .txt {
            display: inline-block;
            width: calc(100% - 77px);
            vertical-align: top;
            padding: 28px 0 0;
            span {
                color: #8e9093;
                font-size: 16px;
            }
            p {
                overflow: inherit;
                margin: 0 0 2px;
                font-size: 14px;
                line-height: normal;
                text-overflow: inherit;
                color: #8e9093;
            }
        }
        .aling-left {
            position: relative;
            ion-icon {
                font-size: 30px;
                color: #bdbdbd;
            }
            em {
                position: absolute;
                width: 25px;
                text-align: center;
                height: 25px;
                font-size: 1.6rem;
                font-style: normal;
                padding: 0;
                background: red;
                border-radius: 50%;
                color: #fff;
                right: 16px;
                top: 10px;
                line-height: 1.5;
                font-weight: bold;
            }
        }
    }
}

ion-content {
    .scroll-content {
        border: 0px !important;
    }
}

//Login register and page css
page-signup,
page-login,
page-forgotpassword,
page-edit-profile,
page-changepassword {
    // .bar-buttons {
    //     margin-right: 30px;
    // }
    .scroll-content {
        padding: 10px 25px 16px !important;
        background: #F5F5F5;
    }
    .input-holder {
        padding: 0;
        border-bottom: 1px solid #e8e8e8;
        overflow: hidden;
        background: #FFF;
        &.msgIcon {
            .iconImg {
                display: inline-block;
                vertical-align: middle;
                width: 50px;
                height: 73px;
                margin: 0px;
                text-align: center;
                line-height: 5;
                img {
                    width: 44px;
                    display: inline-block;
                    vertical-align: middle;
                }
                .activeIcon {
                    display: none;
                }
            }
            &.active {
                background: #d9d9d9;
                img {
                    display: none;
                }
                .activeIcon {
                    display: inline-block;
                }
            }
        }
        &.passIcon {
            @extend .msgIcon;
            .iconImg {
                img {
                    width: 35px;
                }
                .activeIcon {
                    display: none;
                }
            }
            &.active {
                background: #d9d9d9;
                img {
                    display: none;
                }
                .activeIcon {
                    display: inline-block;
                    box-shadow: none;
                }
            }
        }
        .iconImg {
            float: left;
            width: 23px;
            text-align: center;
            margin-right: 8px;
        }
        &.loginIcon {
            @extend .msgIcon;
            .iconImg {
                img {
                    width: 35px;
                }
                .activeIcon {
                    display: none;
                }
            }
            &.active {
                background: #d9d9d9;
                img {
                    display: none;
                }
                .activeIcon {
                    display: inline-block;
                    box-shadow: none;
                }
            }
        }
    }
    .form-area input {
        width: calc(100% - 73px);
        color: #0f0f10;
        height: 73px;
        padding: 6px 10px 6px 0;
        margin: 0;
        background: transparent;
        border: 0px;
        font-size: 18px;
        display: inline-block;
    }
    .form-area {
        button {
            width: 65px;
            height: 65px;
            border-radius: 100%;
            color: #fff;
            text-transform: uppercase;
            background: #CBCBCB;
            position: absolute;
            bottom: -10px;
            right: -10px;
            box-shadow: 0 6px 10px 0px #a7a7a7;
            .button-inner {
                font-weight: bolder !important;
            }
            &:hover {
                background: #a0a0a0;
            }
            &.green {
                &:hover {
                    background: #2ba600 !important;
                }
            }
        }
    }
}

search_page {
    // background: rgba(0, 0, 0, 0.3);
    .heightForKeyboard {
        height: 100vh;
    }
    .img-loaded+ion-spinner {
        display: none;
    } // .center in my case to make the spinner at the center
    .center {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .toolbar {
        contain: none;
        overflow: visible;
    }
    .noShadow {
        box-shadow: none !important;
    }
    .filterMode {
        background: #FFF;
        >div {
            padding: 20px;
            display: table;
            width: 100%;
            position: relative;
            &:after {
                content: "";
                bottom: 0px;
                position: absolute;
                right: 0px;
                width: 75%;
                height: 1px;
                background: #e8e8e8;
            }
            h4 {
                display: table-cell;
                vertical-align: middle;
                margin: 0px;
                font-size: 14px;
                width: 20%;
                color: #b3b3b3;
                text-align: center;
            }
            ul {
                display: table-cell;
                vertical-align: middle;
                margin: 0px;
                padding: 0px;
                list-style: none;
                padding-left: 10px;
                li {
                    display: inline-block;
                    padding: 0;
                    width: 32%;
                    vertical-align: middle;
                    font-size: 16px;
                    h4 {
                        text-align: left;
                        font-size: 16px;
                    }
                    h4.selected {
                        font-weight: bolder;
                        color: #000;
                        text-shadow: 0px 3px 3px #a0a0a0;
                    }
                }
            }
            &.mediaMode {
                ul {
                    li {
                        h4 {
                            font-size: 16px;
                        }
                    }
                }
            }
            &.catMode {
                ul {
                    li {
                        span {
                            color: #b3b3b3;
                            font-size: 16px;
                        }
                        &.active {
                            span {
                                color: #000;
                                font-weight: bolder !important;
                                text-shadow: 0px 3px 3px #a0a0a0;
                            }
                        }
                    }
                }
            }
            &.dateMode {
                ul {
                    li {
                        width: 32%;
                        input {
                            border: 0px;
                            width: 100%;
                            font-size: 16px;
                            padding: 0;
                        }
                        input::placeholder {
                            color: #b3b3b3;
                        }
                    }
                }
                &:after {
                    display: none;
                }
            }
        }
    }
    .searchHeader {
        .options {
            background-color: #313131;
            &.activeOption {
                position: relative;
                background-color: #000;
                width: 29px;
                margin-right: 1px;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: -19px;
                    z-index: 999;
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 20px solid #000;
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: -21px;
                    z-index: -1;
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 20px solid #000;
                    filter: blur(3px);
                }
            }
        }
    }
    .searchPage {
        padding: 0px !important;
        background: rgba(121, 121, 121, 0.58);
        .scroll-content {
            padding: 0px 0px 0px !important;
            background: transparent;
            -webkit-overflow-scrolling: auto !important;
            .searchItems {
                background: #FFF;
            }
            .searchFilter {
                padding: 0px;
                margin-left: 0px;
                &.searchIcon {
                    >.item-inner {
                        ion-label {
                            >span {
                                border-bottom: 0px;
                            }
                        }
                    }
                }
                >.item-inner {
                    position: relative;
                    border-bottom: none !important;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: calc(100% - 80px);
                        background: #e4e4e4;
                        height: 1px;
                    }
                    padding: 0px;
                    ion-label {
                        margin: 0px;
                        display: table;
                        width: 100%;
                        .icon-ios {
                            display: table-cell;
                            vertical-align: middle;
                            width: 20%;
                            color: #ababab;
                            padding: 10px;
                            font-size: 35px;
                            text-align: center;
                        }
                        figure {
                            margin: 0px;
                            display: inline-block;
                            width: 73px;
                            height: 73px;
                            vertical-align: middle;
                            text-align: center;
                            line-height: 5.4;
                            img {
                                width: 26px;
                                &.saveIcon {
                                    width: 29px;
                                }
                            }
                            &.bookmarkIcon {
                                img {
                                    width: 19px;
                                }
                            }
                        }
                        >span {
                            padding: 20px 10px;
                            display: inline-block;
                            vertical-align: middle;
                            width: calc(100% - 73px);
                            color: #ababab;
                        }
                    }
                }
            }
        }
        .searchResult {
            z-index: 10001;
            ion-item {
                padding: 0px;
                .item-inner {
                    padding: 0px;
                    border-bottom: none !important;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: calc(100% - 80px);
                        background: #e4e4e4;
                        height: 1px;
                    }
                    ion-label {
                        margin: 0px;
                        .userField {
                            position: relative; // &:after {
                            //     content: "";
                            //     position: absolute;
                            //     bottom: 0px;
                            //     right: 0px;
                            //     width: calc(100% - 80px);
                            //     background: #e4e4e4;
                            //     height: 1px;
                            // }
                            figure {
                                img {
                                    width: 25px;
                                }
                            }
                        }
                        figure {
                            display: inline-block;
                            vertical-align: middle;
                            width: 73px;
                            height: 73px;
                            padding: 10px;
                            text-align: center;
                            line-height: 4;
                            overflow: hidden;
                            margin: 0px;
                            img {
                                width: 28px;
                                vertical-align: sub; // height: 26px;
                            }
                        }
                        figcaption {
                            display: inline-block;
                            width: calc(100% - 73px);
                            vertical-align: middle;
                            padding-right: 10px;
                            padding-left: 7px;
                            .rightContent {
                                float: right;
                                font-size: 14px;
                                color: #9a9a9a;
                            }
                            .rightAdd {
                                position: absolute;
                                right: 10px;
                                top: 48%;
                                -webkit-transform: translate(0%, -50%);
                                transform: translate(0%, -50%);
                                color: #939598;
                                font-size: 14px;
                                ion-icon {
                                    font-size: 30px;
                                    color: #939598;
                                }
                            }
                            h4 {
                                color: #9a9a9a;
                                font-size: 16px;
                                text-overflow: ellipsis;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                overflow: hidden;
                                white-space: nowrap;
                                img {
                                    display: inline-block;
                                    width: 12px;
                                    &.star-icon {
                                        width: 16px;
                                        vertical-align: inherit; // margin-top: -1px;
                                    }
                                }
                            }
                            .toteText {
                                p {
                                    width: calc(100% - 80px);
                                    display: inline-block;
                                    vertical-align: top;
                                    padding-left: 5px;
                                    margin-top: -1px;
                                    text-overflow: ellipsis;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 1;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    word-break: break-all;
                                    font-size: 14px;
                                }
                                button {
                                    color: #8e9093;
                                    background: transparent;
                                    float: left;
                                    margin-top: 2px !important;
                                    img {
                                        display: inline-block;
                                        vertical-align: middle;
                                        width: 14px;
                                    }
                                }
                                ion-icon {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .for_closing {
        width: 100%;
        height: 100%;
        z-index: 10000;
    }
    .search_spinner {
        position: relative;
        width: 100%;
        ion-spinner {
            position: absolute;
            display: inline-block;
            width: 28px;
            height: 28px;
            right: 0;
            left: 0;
            top: 10px;
            margin: auto;
        }
    }
    .search_header {
        height: $bar_button_custom_height;
        &.green {
            background: #3bde00; //padding-top: 14px;
            // height: 56px;
            img {
                background-color: #2ba600;
            }
            .options {
                background-color: #3bde00;
                background-image: url(../assets/img/whiteDotIcon.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &.activeOption {
                    background-color: #2ba600 !important;
                    &:after {
                        border-top: 20px solid #2ba600;
                    }
                }
            }
            .clear_button {
                width: 40px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 132px);
                border-radius: 0px;
            }
        }
        &.yellow {
            background: #f4e300; //padding-top: 14px;
            // height: 70px;
            img {
                background-color: #bdb222;
            }
            .options {
                background-color: #f4e300;
                background-image: url(../assets/img/whiteDotIcon.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &.activeOption {
                    background-color: #bdb222 !important;
                    &:after {
                        border-top: 20px solid #bdb222;
                    }
                }
            }
            .clear_button {
                width: 40px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 132px);
                border-radius: 0px;
            }
        }
        &.pink {
            background: #fb9df0; // padding-top: 14px;
            // height: 70px;
            img {
                background-color: #ca6ebf;
            }
            .options {
                background-color: #fb9df0;
                background-image: url(../assets/img/whiteDotIcon.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &.activeOption {
                    background-color: #ca6ebf !important;
                    &:after {
                        border-top: 20px solid #ca6ebf;
                    }
                }
            }
            .clear_button {
                width: 40px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 132px);
                border-radius: 0px;
            }
        }
        img {
            margin: 0;
            float: left;
            padding: 12px;
            background: #000;
            height: 56px;
            width: 56px;
            -webkit-box-shadow: 4px 5px 10px #000;
            box-shadow: 4px 5px 10px #000;
            position: relative;
        }
        .options {
            height: $bar_button_custom_height;
            float: left;
            width: 30px;
            background-image: url(../assets/img/whiteDotIcon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
        }
        .clear_button {
            width: 40px !important;
            background-size: 18px !important;
        }
        .search_field {
            width: calc(100% - 127px) !important;
            border-radius: 0px;
            background: #FFF;
        }
        .search_button {
            height: $bar_button_custom_height;
            float: left;
            width: $bar_button_custom_height;
            background-image: url(../assets/img/search.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
        }
        .clear_button {
            height: $bar_button_custom_height;
            height: 56px;
            float: right;
            width: 36px;
            background-image: url(../assets/img/closeIcon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 15px;
        }
        .search_field {
            width: calc(100% - 128px);
            display: inline-block;
            float: left;
            border: 0px;
            padding: 10px;
            height: 100%;
            margin-left: 0px;
            border-radius: 0px;
            font-size: 16px;
            -webkit-box-shadow: 0px 0px 8px #9c9c9c;
            box-shadow: 0px 0px 8px #9c9c9c;
            input {
                padding: 0;
                width: calc(100% - 8px);
                margin: 0px;
                background: white;
                height: 50px;
                margin-top: 3px;
                padding-left: 5px;
            }
        }
    }
}

.send-btn {
    position: relative;
    img {
        display: inline-block;
        vertical-align: middle;
        width: 14px;
    }
    .fortextarea {
        margin: 20px 5px 5px;
        display: inline-block;
        width: 85%;
        max-height: 250px;
        overflow: scroll;
        vertical-align: middle;
        -webkit-overflow-scrolling: touch;
    }
    textarea {
        display: inline-block;
        vertical-align: middle; // padding: 20px 5px 5px;
        resize: none;
        width: 70vw;
        background: #222;
        border: 0px;
        color: #FFF;
        font-size: 16px;
        max-height: 300px;
    }
    input[type="submit"] {
        background: #CCC;
        color: #FFF;
        width: 65px;
        height: 65px;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
        padding: 15px 0px;
        text-transform: uppercase;
        position: absolute;
        top: -15px;
        border: 0;
        font-weight: bolder;
        right: -10px; // box-shadow: 0 -6px 10px 0px #a7a7a7;
        box-shadow: 0 -2px 9px 0px #424242;
    }
    .loading {
        background: $me_app_color;
        color: #FFF;
        width: 65px;
        height: 65px;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
        padding: 17px 0px !important;
        text-transform: uppercase;
        position: absolute;
        top: -15px;
        border: 0;
        right: -10px; // box-shadow: 0 -6px 10px 0px #a7a7a7;
    }
    .green {
        background: $me_app_color !important; // box-shadow: 0 -6px 10px 0px #a7a7a7;
    }
}

.loader-panel {
    .item {
        border-bottom: 0px;
    }
    .item {
        padding: 0px;
        .item-inner {
            padding: 0px;
            ion-label,
            .label-ios,
            .label-md {
                margin: 0px;
                >div {
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    border-bottom: 1px solid #e8e8e8;
                    position: relative;
                    .img-holder {
                        height: 72px;
                        vertical-align: middle;
                        width: 50px;
                        background-image: url(../assets/img/option-icon.png); // background-image: url(../assets/img/grayDotIcon.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 5px;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        text-align: center;
                        line-height: 4;
                        img {
                            vertical-align: middle;
                        }
                    }
                    .search_loader {
                        @extend .img-holder;
                        background-image: url(../assets/img/searchIcon.svg);
                        background-size: 25px;
                        width: 73px;
                    }
                    .bookmark_loader {
                        @extend .img-holder;
                        background-image: url(../assets/img/grayBookmark.svg);
                        background-size: 28px;
                    }
                    .txt {
                        vertical-align: middle;
                        padding: 26px 10px 0px 0px;
                        width: calc(100% - 50px);
                        min-height: 72px;
                        position: relative;
                        float: right;
                        &.line-loader {
                            span {
                                height: 8px;
                                display: inline-block;
                                background: #eeeeee;
                                animation-duration: 5s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: infinite;
                                animation-timing-function: linear;
                                animation-name: placeHolderShimmer;
                                background: linear-gradient(to right, #eeeeee 18%, #dddddd 28%, #eeeeee 43%);
                                &.head-line {
                                    display: block;
                                }
                                &.name-line {
                                    width: calc(100% - 60px);
                                    float: left;
                                }
                                &.date-line {
                                    width: 40px;
                                    float: right;
                                }
                            }
                            .line-bot {
                                overflow: hidden;
                                padding-top: 10px;
                            }
                        }
                        &.real {
                            width: calc(100% - 73px) !important;
                        }
                    }
                }
            }
        }
    }
}

.loader {
    margin: 5px;
    height: 8px;
    display: inline-block;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeHolderShimmer;
    background: linear-gradient(to right, #eeeeee 18%, #dddddd 28%, #eeeeee 43%);
    width: 100%;
}

ion-reorder {
    background: url(../assets/img/arrows.png);
    background-position-y: 5vw;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 5vw;
    max-width: 50px;
    .icon::before {
        content: none;
    }
}

figure {
    margin: 0;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}