// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html,
body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

*[contenteditable] {
    -webkit-user-select: auto !important;
}

// .platform-ios .ios-header {
//     height: calc(56px + 20px);
//     min-height: calc(56px + 20px);
//     padding-top: 20px;
// }
.toolbar-ios {
    padding: 0 !important;
    min-height: 56px !important;
}

.title-ios {
    padding-top: 10px !important;
    min-height: 100% !important;
    height: 100% !important;
    width: 100% !important;
}

.snakebar_forgot_password {
    height: $toolbar-snakebar-bottom !important;
    min-height: $toolbar-snakebar-bottom !important;
    .title-ios {
        padding-top: 0 !important;
    }
}

.tote_green_logo {
    background-image: url('..assets/img/tote_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.wedge_icon {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 12px solid #bebebe;
    border-bottom: 25px solid transparent;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 120px;
    background-repeat: no-repeat;
    z-index: 10000;
}

.highlight {
    background-color: #FFCCCC;
    font-weight: bold;
}

span.dot,
span.un_active_dot {
    border-radius: 50%;
    float: left;
    width: 40px;
    text-align: center;
    position: relative;
    height: 20px;
}

.dots_box {
    height: 100%;
    text-align: center;
    overflow: hidden;
    width: auto;
    display: inline-block;
}

span.dot:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
}

span.un_active_dot:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #b7b7b7;
    border-radius: 50%;
}

.bar-button {
    height: $bar_button_custom_height;
    width: $bar_button_custom_height;
    font-size: 2.7rem;
}

.search_icon {
    font-size: 2rem;
}

.help_icon {
    font-size: 2.9rem;
}

.list-ios .item-block .item-inner {
    border-bottom: 0px !important;
}

.black {
    background-color: black;
}

.green {
    background-color: #3bde00;
}

.yellow {
    background-color: #f4e300;
}

.bottom_snakbar {
    width: 100%;
    border-radius: 0px;
    .toast-wrapper {
        bottom: 0px !important;
        right: 0;
        left: 0;
        transform: translateY(0px) !important;
        text-align: center;
        border-radius: 0px;
    }
}

#wrapper {
    width: 100%;
    position: relative;
    box-shadow: 0 0px 11px 0px #bdbdbd;
}

.toolbar-content {
    padding: 0px !important;
}

.list-none {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

button,
.label-md,
.item-md,
.item-md.item-block .item-inner,
.ion-list,
.list-md,
.list-ios {
    margin: 0 !important;
    padding: 0 !important;
}

.fab-md-primary {
    bottom: 40px !important;
}

.invalid_field {
    border: 1px solid #ff0000 !important;
}


/**
* Search Popup CSS
*/

search_page {
    background: rgba(0, 0, 0, 0.3);
    .toolbar {
        contain: none;
        overflow: visible;
    }
    .filterMode {
        background: #FFF;
        >div {
            padding: 20px;
            display: table;
            width: 100%;
            position: relative;
            &:after {
                content: "";
                bottom: 0px;
                position: absolute;
                right: 0px;
                width: 75%;
                height: 1px;
                background: #CCC;
            }
            h4 {
                display: table-cell;
                vertical-align: middle;
                margin: 0px;
                font-size: 4vw;
                width: 20%;
                color: #b3b3b3;
            }
            ul {
                display: table-cell;
                vertical-align: middle;
                margin: 0px;
                padding: 0px;
                list-style: none;
                li {
                    display: inline-block;
                    padding: 0px 10px;
                    vertical-align: middle;
                }
            }
            &.mediaMode {
                ul {
                    li {
                        padding: 0 5px;
                    }
                }
            }
            &.catMode {
                ul {
                    li {
                        span {
                            color: #CCC;
                        }
                        &.active {
                            span {
                                color: #868686;
                                text-shadow: 2px 2px 2px #CCC;
                            }
                        }
                    }
                }
            }
            &.dateMode {
                ul {
                    li {
                        width: 32%;
                        input {
                            border: 0px;
                            width: 100%;
                        }
                    }
                }
                &:after {
                    display: none;
                }
            }
        }
    }
    .searchHeader {
        .options {
            background-color: #3c3c3c;
            &.activeOption {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: -20px;
                    z-index: 999;
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 20px solid #3c3c3c;
                }
            }
        }
    }
    .searchPage {
        padding: 0px !important;
        background: rgba(121, 121, 121, 0.58);
        .scroll-content {
            padding: 0px 0px 16px !important;
            .searchFilter {
                padding: 0px;
                >.item-inner {
                    padding: 0px;
                    ion-label {
                        margin: 0px;
                        display: table;
                        width: 100%;
                        .icon-ios {
                            display: table-cell;
                            vertical-align: middle;
                            width: 20%;
                            color: #ababab;
                            padding: 20px;
                            font-size: 30px;
                            text-align: center;
                        }
                        img {
                            width: 25px;
                            margin: 18px 0 14px 25px;
                            display: table-cell;
                            vertical-align: middle;
                            opacity: .35;
                        }
                        >span {
                            padding: 20px 10px;
                            display: table-cell;
                            vertical-align: middle;
                            border-top: 1px solid #CCC;
                            width: 80%;
                            color: #ababab;
                        }
                    }
                }
            }
        }
        .searchResult {
            >.user_list_item {
                padding: 0px;
                line-height: normal;
                height: auto;
                .item-inner {
                    padding: 0px;
                    ion-label {
                        display: table;
                        width: 100%;
                        margin: 0px;
                        padding: 0 0 0 10px;
                        figure {
                            display: table-cell;
                            vertical-align: middle;
                            width: 15%;
                            padding-right: 10px;
                        }
                        >span {
                            @extend figure;
                            width: 60%;
                            margin: 0px;
                            padding-left: 20px;
                            border-bottom: 1px solid #CCC;
                            float: none;
                            color: #ababab;
                            &.un_follow_btn {
                                width: 10% !important;
                                padding: 20px;
                                background-size: 20px;
                                background-image: url(../assets/img/remove.png);
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            &.follow_btn {
                                @extend .un_follow_btn;
                                background-image: url(../assets/img/follow_friend.png) !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .search_spinner {
        position: relative;
        width: 100%;
        ion-spinner {
            position: absolute;
            display: inline-block;
            width: 28px;
            height: 28px;
            right: 0;
            left: 0;
            top: 10px;
            margin: auto;
        }
    }
    ion-list {
        .user_list_item {
            height: 55px;
            line-height: 55px;
        }
    }
    .search_header {
        height: $bar_button_custom_height;
        &.green {
            background: #3bde00; //padding-top: 14px;
            // height: 56px;
            img {
                background-color: #2ba600;
                box-shadow: 0px 0px 10px #3a3a3a;
            }
            .options {
                background-color: #3bde00;
                background-image: url(../assets/img/bg-header_white.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &:after {
                    border-top: 20px solid #3bde00;
                }
            }
            .clear_button {
                width: 30px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 118px);
                border-radius: 0px;
            }
        }
        &.yellow {
            background: #f4e300; //padding-top: 14px;
            // height: 70px;
            img {
                background-color: #bdb222;
                box-shadow: 0px 0px 10px #3a3a3a;
            }
            .options {
                background-color: #f4e300;
                background-image: url(../assets/img/bg-header_white.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &:after {
                    border-top: 20px solid #f4e300;
                }
            }
            .clear_button {
                width: 30px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 118px);
                border-radius: 0px;
            }
        }
        &.pink {
            background: #fb9df0; // padding-top: 14px;
            // height: 70px;
            img {
                background-color: #ca6ebf;
                box-shadow: 0px 0px 10px #3a3a3a;
            }
            .options {
                background-color: #fb9df0;
                background-image: url(../assets/img/bg-header_white.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &:after {
                    border-top: 20px solid #fb9df0;
                }
            }
            .clear_button {
                width: 30px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 118px);
                border-radius: 0px;
            }
        }
        &.black {
            background: #252525; // padding-top: 14px;
            // height: 70px;
            img {
                background-color: #000000;
                box-shadow: 0px 0px 10px #3a3a3a;
            }
            .options {
                background-color: #252525;
                background-image: url(../assets/img/bg-header_white.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                &:after {
                    border-top: 20px solid #252525;
                }
            }
            .clear_button {
                background-color: #252525;
                width: 30px;
                background-size: 18px;
            }
            .search_field {
                width: calc(100% - 118px);
                border-radius: 0px;
            }
        }
        img {
            margin: 0;
            float: left;
            padding: 10px;
            background: transparent;
            height: 56px;
            width: 56px;
        }
        .options {
            height: $bar_button_custom_height;
            float: left;
            width: 30px;
            background-image: url(../assets/img/option-icon.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 5px;
        }
        .search_button {
            height: $bar_button_custom_height;
            float: left;
            width: $bar_button_custom_height;
            background-image: url(../assets/img/search.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
        }
        .clear_button {
            height: $bar_button_custom_height;
            float: right;
            width: $bar_button_custom_height;
            background-image: url(../assets/img/cross.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px;
        }
        .search_field {
            width: calc(100% - 142px);
            display: inline-block;
            float: left;
            border-radius: 5px;
            border: 0px;
            padding: 10px;
            height: 100%;
            input {
                padding: 0;
                width: calc(100% - 8px);
                margin: 0px;
                background: white;
                height: 50px;
                margin-top: 3px;
                padding-left: 5px;
            }
        }
    }
}