// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tote_green_logo {
    background-image: url('..assets/img/tote_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

span.dot,
span.un_active_dot {
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    position: relative;
    height: 20px;
}

.dots_box {
    width: 100%;
    height: 100%;
    display: table;
}

span.dot:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
}

span.un_active_dot:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #b7b7b7;
    border-radius: 50%;
}

.bar-button {
    height: $bar_button_custom_height;
    width: $bar_button_custom_height;
    font-size: 2.7rem;
}

.search_icon {
    font-size: 2rem;
}

.help_icon {
    font-size: 2.9rem;
}

.list-ios .item-block .item-inner {
    border-bottom: 0px !important;
}

.bottom_snakbar {
    width: 100%;
    border-radius: 0px;
    .toast-wrapper {
        bottom: 0px !important;
        right: 0;
        left: 0;
        transform: translateY(0px) !important;
        text-align: center;
        border-radius: 0px;
    }
}

#wrapper {
    width: 100%;
    position: relative;
    box-shadow: 0 0px 11px 0px #bdbdbd;
}

.list-none {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

button,
.label-md,
.item-md,
.item-md.item-block .item-inner,
.ion-list,
.list-md,
.list-ios {
    margin: 0 !important;
    padding: 0 !important;
}

.fab-md-primary {
    bottom: 40px !important;
}