<ion-header>
    <ion-toolbar color="commonheader">
        <ion-buttons start>
            <button navPop ion-button icon-only>
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
    <ion-toolbar class="notifications_header" color="light" no-border>
        <ion-title>Notifications ({{_unread}})</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content swipe-vertical padding>
    <div id="wrapper">
        <div *ngIf="!_loading" class="notifications_spinner">
            <ion-spinner name="ios"></ion-spinner>
        </div>
        <ion-list no-lines class="product-list follows notifications">
            <ion-item (click)="read_notification(notification)" *ngFor="let notification of _notifications" [ngClass]="{'active': notification.readStatus==0}">
                <div class="img-holder">
                    <img *ngIf="notification.sender.photo!=null" [src]="image_base_path + notification.sender.photo">
                    <img *ngIf="notification.sender.photo==null" src="assets/img/img2.png">
                </div>
                <div class="txt">
                    <strong class="follow-name">
                        {{notification.sender.firstName + " "+ notification.sender.lastName}}
                        <img *ngIf="notification.sender.verified==1" class="star-icon" src="assets/img/star-gray.png" alt="">
                        <img *ngIf="notification.sender.isFollowed==1" class="arrow-icon" src="assets/img/arrow-gray.png" alt="">
                    </strong>
                    <div class="time">
                        <em>
                            <button *ngIf="notification.type=='user:follwowed_by'" type="button"><ion-icon name="at"></ion-icon></button>
                            <img *ngIf="notification.type=='user:message'" class="chat-icon" src="assets/img/chat-red.png" alt="">
                            <span *ngIf="notification.is_today">{{ notification.formated_time | amDateFormat:'hh:mm'}}</span>
                            <span *ngIf="!notification.is_today">{{ notification.formated_time | amDateFormat: 'DD/MM'}}</span>
                        </em>
                        <span *ngIf="notification.type=='user:mentioned_you'">Mentioned you</span>
                        <span *ngIf="notification.type=='user:message'">Message</span>
                        <span *ngIf="notification.type=='user:followed_by'">Followed you</span>
                    </div>
                </div>
            </ion-item>
            <!--<ion-item class="active">
                <div class="img-holder"><img src="assets/img/img3.jpg"></div>
                <div class="txt">
                    <strong class="follow-name">
                        Mark Camerata
                        <img class="star-icon" src="assets/img/star-gray.png" alt="">
                        <img class="arrow-icon" src="assets/img/arrow-gray.png" alt="">
                    </strong>
                    <div class="time">
                        <em>
                            <img class="play-icon" src="assets/img/play-red.png" alt="">
                            <span>10:31</span>
                        </em>
                        <span>Message</span>
                    </div>
                </div>
            </ion-item>
            <ion-item class="active">
                <div class="img-holder"><img src="assets/img/img3.jpg"></div>
                <div class="txt">
                    <strong class="follow-name">
                        Mark Camerata
                        <img class="star-icon" src="assets/img/star-gray.png" alt="">
                        <img class="arrow-icon" src="assets/img/arrow-gray.png" alt="">
                    </strong>
                    <div class="time">
                        <img class="play-icon" src="assets/img/@icon.png" alt="">
                        <em>
                            <span>10:31</span>
                        </em>
                        <span>Message</span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="img-holder"><img src="assets/img/img3.jpg"></div>
                <div class="txt">
                    <strong class="follow-name">
                        Mark Camerata
                        <img class="star-icon" src="assets/img/star-gray.png" alt="">
                    </strong>
                    <div class="time">
                        <em>
                            <img class="play-icon" src="assets/img/tile-gray.png" alt="">
                            <span>10:31</span>
                        </em>
                        <span>Followed you</span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="img-holder"><img src="assets/img/img3.jpg"></div>
                <div class="txt">
                    <strong class="follow-name">Mark Camerata</strong>
                    <div class="time">
                        <em>
                      <button type="button"><ion-icon name="at"></ion-icon></button>
                      <span>10:31</span>
                    </em>
                        <span>Followed you</span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="img-holder"><img src="assets/img/img3.jpg"></div>
                <div class="txt">
                    <strong class="follow-name">Mark Camerata</strong>
                    <div class="time">
                        <em>
                      <button type="button"><ion-icon name="at"></ion-icon></button>
                      <span>10:31</span>
                    </em>
                        <span>Followed you</span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="img-holder"><img src="assets/img/img3.jpg"></div>
                <div class="txt">
                    <strong class="follow-name">Mark Camerata</strong>
                    <div class="time">
                        <em>
                      <button type="button"><ion-icon name="at"></ion-icon></button>
                      <span>10:31</span>
                    </em>
                        <span>Followed you</span>
                    </div>
                </div>
            </ion-item>-->
        </ion-list>
    </div>
</ion-content>