page-notifications {
	.notifications_header {
		min-height: 45px;
		.toolbar-background{
			border-bottom: 0px;
			box-shadow: 0 0 20px #CCC;
		}
	}
	.toolbar-title{
		font-size: 14px;
		color: #8e8e8e !important;
		font-weight: normal;
	}
    .scroll-content {
        padding: 8px 16px 16px !important;
        #wrapper {
            .notifications_spinner {
                position: relative;
                width: 100%;
                ion-spinner {
                    position: absolute;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    right: 0;
                    left: 0;
                    top: 10px;
                    margin: auto;
                }
            }
            box-shadow: none;
            .product-list {
                margin-top: 0px !important;
                .item {
					&.active{
						.item-inner{
							ion-label{
								.txt{
									strong{
										color: #ff2600;
									}
									.time{
										span{
											color: #ff2600;
										}
									}
								}
							}
						}
					}
                    padding: 0px !important;
                    .item-inner {
                        padding: 0px;
                        ion-label {
                            margin: 0px;
                            display: block;
                            width: 100%;
                            .img-holder {
								float: left;
								width: 50px;
								height: 50px;
								overflow: hidden;
								vertical-align: middle;
								margin-right: 0px;
								margin: 10px;
                                img {
                                    width: 100%;
                                    height: auto;
                                    vertical-align: middle;
                                }
                            }
                            .txt {
                                display: inline-block;
                                vertical-align: middle;
                                width: calc(100% - 60px);
                                padding: 20px 0px 8px 10px;
                                .follow-name {
                                    font-size: 18px;
                                    color: #000;
                                    img {
                                        display: inline-block;
                                        width: 12px;
                                        &.star-icon {
                                            width: 15px;
                                        }
                                    }
                                }
                                .time {
                                    span {
                                        font-size: 14px;
                                        color: #CCC;
                                    }
                                    em {
                                        font-size: 12px;
                                        width: auto;
                                        img {
                                            width: 12px;
                                            display: inline-block;
                                            vertical-align: middle;
                                        }
                                        span {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}