<ion-header>
    <ion-toolbar *ngIf="!edit_mode" [color]="current_color">
        <ion-buttons start>
            <button navPop ion-button icon-only>
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <div class="dots_box">
                <span class="un_active_dot"></span>
                <span class="dot"></span>
            </div>
        </ion-title>
        <ion-buttons end>
            <button (tap)="go_to_editor()" ion-button icon-only>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="edit_mode" [color]="current_color">
        <ion-buttons start>
            <button (tap)="close_bulk_actions()" ion-button icon-only>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="share"></ion-icon>
            </button>
            <button ion-button icon-only>
                <ion-icon name="lock"></ion-icon>
            </button>
            <button ion-button icon-only>
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div id="wrapper">
        <ion-list *ngIf="!edit_mode" class="product-list">
            <ion-item (press)="bulkAction(anotote)" *ngFor="let anotote of anototes" [ngClass]="anotote.type=='message'?'active':''">
                <div (tap)="openAnototeDetail(anotote)">
                    <div class="img-holder"><img src="assets/img/img2.png"></div>
                    <div class="txt">
                        <strong [innerText]="anotote.title"></strong>
                        <p [innerText]="anotote.short_text"></p>
                        <div class="time">
                            <em>
                            <button type="button">
                                <ion-icon *ngIf="anotote.type=='message'" name="chatbubbles"></ion-icon>
                                <ion-icon *ngIf="anotote.type=='anotote_txt'" name="text"></ion-icon>
                                <ion-icon *ngIf="anotote.type=='anotote_video'" name="videocam"></ion-icon>
                                <ion-icon *ngIf="anotote.type=='anotote_image'" name="image"></ion-icon>
                                <ion-icon *ngIf="anotote.type=='anotote_audio'" name="musical-notes"></ion-icon>
                            </button>
                            <span [innerText]="anotote.time"></span>
                        </em>
                        </div>
                    </div>
                </div>

                <!-- anatote detail -->

                <div *ngIf="anotote.active && anotote.type!='message'">
                    <div class="quotes layout message-underlist">
                        <header class="header">
                            <figure>
                                <img (tap)="presentAnototeOptionsModal($event)" src="assets/img/option-icon.png" alt="">
                            </figure>
                            <div class="underlist-text">
                                <strong>The future of business: Open source economics</strong>
                                <div class="time">
                                    <em>
                                        <span>12:45</span>
                                        <img src="assets/img/tile-gray.png" alt="">
                                    </em>
                                    <span>The Buttonwood Tree</span>
                                </div>
                                <div class="btns-area">
                                    <button ion-button class="active me-tab">Me</button>
                                    <button ion-button class="active bardaro-tab">Chantel Bardaro (3)</button>
                                    <button ion-button class="active top-tab">Top</button>
                                </div>
                            </div>
                        </header>
                        <ion-list no-lines class="details-list layout">
                            <ion-item class="underlist-items">
                                <div class="txt">
                                    <p>NYT website down after cyber attack on domain registrar, Melbourne IT.</p>
                                </div>
                                <span class="status">"</span>
                            </ion-item>
                            <ion-item class="underlist-items">
                                <span class="status">"</span>
                                <div class="txt">
                                    <p>NYT website down after cyber attack on domain registrar, Melbourne IT.</p>
                                </div>
                            </ion-item>
                            <ion-item class="underlist-items">
                                <div class="txt">
                                    <p>NYT website down after cyber attack on domain registrar, Melbourne IT.</p>
                                </div>
                                <span class="status">"</span>
                            </ion-item>
                            <ion-item class="underlist-items">
                                <div class="txt">
                                    <p>Adds to US political trensions with Syrian government &amp; President Assad</p>
                                </div>
                                <span class="status">*</span>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <div (tap)="go_to_chat_thread()" *ngIf="anotote.active && anotote.type=='message'">
                    <div class="quotes layout message-underlist">
                        <header class="header">
                            <figure>
                                <img src="assets/img/option-icon.png" alt="">
                            </figure>
                            <div class="underlist-text">
                                <h4>Chantel Bardaro</h4>
                                <div class="time">
                                    <em>
                                        <span>12:45</span>
                                        <img src="assets/img/chat-gray.png" alt="">
                                    </em>
                                    <span>Message</span>
                                </div>
                            </div>
                        </header>
                        <ion-list no-lines class="details-list layout">
                            <ion-item class="underlist-items">
                                <figure>
                                    <img src="assets/img/check-green.png" alt="">
                                </figure>
                                <div class="check-text">
                                    <div class="name-time">
                                        <span class="user">Me</span>
                                        <span class="msg-time">11:22</span>
                                    </div>
                                    <p>Agreed, but review the other background research I’ve gathered</p>
                                    <img src="assets/img/option-msg.png" alt="">
                                </div>
                            </ion-item>
                            <ion-item class="underlist-items">
                                <figure>
                                    <img src="assets/img/check-yellow.png" alt="">
                                </figure>
                                <div class="check-text">
                                    <div class="name-time">
                                        <span class="user">Chantel Bardaro</span>
                                        <span class="msg-time">11:22</span>
                                    </div>
                                    <p>Agreed, but review the other background research I’ve gathered</p>
                                    <img src="assets/img/option-msg.png" alt="">
                                </div>
                            </ion-item>
                            <ion-item class="underlist-items unread-msg">
                                <figure>
                                    <img src="assets/img/check-red.png" alt="">
                                </figure>
                                <div class="check-text">
                                    <div class="name-time">
                                        <span class="user">Chantel Bardaro</span>
                                        <span class="msg-time">11:22</span>
                                    </div>
                                    <p>Agreed, but review the other background research I’ve gathered</p>
                                    <img src="assets/img/option-msg.png" alt="">
                                </div>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>

                <!-- anatote detail -->

            </ion-item>
        </ion-list>

        <ion-list *ngIf="edit_mode" no-lines class="product-list show">
            <ion-item (tap)="bulkAction(anotote)" class="profile-wrap" *ngFor="let anotote of anototes;let index=index; let odd=odd; let even=even;"
                [ngClass]="anotote.checked?'even':''">
                <div class="check">
                    <img *ngIf="!anotote.checked" src="assets/img/check1.png">
                    <img *ngIf="anotote.checked" src="assets/img/check2.png">
                </div>
                <div class="txt">
                    <div class="txt-holder">
                        <strong [innerText]="anotote.title"></strong>
                    </div>
                    <div class="time">
                        <em>
                            <button type="button">
                                <ion-icon *ngIf="anotote.type=='message'" name="chatbubbles"></ion-icon>
                                <ion-icon *ngIf="anotote.type=='anotote_txt'" name="text"></ion-icon>
                                <ion-icon *ngIf="anotote.type=='anotote_video'" name="videocam"></ion-icon>
                                <ion-icon *ngIf="anotote.type=='anotote_image'" name="image"></ion-icon>
                                <ion-icon *ngIf="anotote.type=='anotote_audio'" name="musical-notes"></ion-icon>
                            </button>
                            <span [innerText]="anotote.time"></span>
                        </em>
                        <p [innerText]="anotote.short_text"></p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
    <!--<div *ngIf="!edit_mode" class="fancy-bars">
        <span *ngFor="let bar of anototes" [ngClass]="bar.type=='message'?'red':'green'"></span>
    </div>-->
    <ion-fab *ngIf="!current_active_anotote" bottom right>
        <button (tap)="presentViewOptionsModal()" ion-fab [color]="current_color">            
            <img src="assets/img/tot_icon_white.png" />
        </button>
    </ion-fab>
</ion-content>
<ion-footer *ngIf="current_active_anotote && (current_active_anotote.active && current_active_anotote.type == 'message')">
    <ion-toolbar color="dark">
        <ion-title (tap)="show_reply_box()">Reply to Chantel Bardaro</ion-title>
    </ion-toolbar>
</ion-footer>