<ion-header>
    <ion-toolbar [color]="current_color">
        <ion-buttons *ngIf="!edit_mode" start>
            <button (tap)="openSearchPopup()" class="search_icon" ion-button icon-only>
               	<img src="assets/img/search.png" alt="" />
               	
                <!--<ion-icon name="search"></ion-icon>-->
            </button>
        </ion-buttons>
        <ion-title *ngIf="!edit_mode">
            <dot-navigation unactivedots="1"></dot-navigation>
        </ion-title>
        <ion-buttons *ngIf="!edit_mode" end>
            <button (tap)="go_to_editor()" ion-button icon-only>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ul class="topList" *ngIf="edit_mode">
            <li class="leftIcon">
                <img *ngIf="current_color == 'me'" (tap)="close_bulk_actions()" src="assets/img/cancel.png" alt="">
            </li>
            <li class="followLeft leftIcon">
                <img *ngIf="current_color == 'follows'" (tap)="close_bulk_actions()" src="assets/img/follows_cancel.png" alt="">
            </li>
            <li class="leftIcon">
                <img *ngIf="current_color == 'top'" (tap)="close_bulk_actions()" src="assets/img/pinkCancel.png" alt="">
            </li>
            <li class="delete" *ngIf="current_color == 'me'" (tap)="confirm_popUp('delete')">
                <img src="assets/img/deleteWhite.png" alt="">
            </li>
            <li class="bookmark" *ngIf="current_color == 'follows' || current_color == 'top'" (tap)="confirm_popUp('bookmark')">
                <img src="assets/img/bookmarkWhite.png" alt="">
            </li>
            <li class="privacy" *ngIf="current_color == 'me'" (tap)="confirm_popUp('privacy')">
                <img src="assets/img/privicyWhite.png" alt="">
            </li>
            <li class="followSave" *ngIf="current_color == 'follows' || current_color == 'top'" (tap)="confirm_popUp('save')">
                <img src="assets/img/cloudWhite.png" alt="">
            </li>
            <li class="followSave share" (tap)="share_totes()">
                <img src="assets/img/shareWhite.png" alt="">
            </li>
        </ul>
    </ion-toolbar>
</ion-header>
<ion-content swipe-vertical padding>
    <div id="wrapper">
        <ion-list *ngIf="anototes.length > 0 && current_color != 'top'" class="product-list">
            <ion-item *ngFor="let anotote of anototes" [ngClass]="anotote.type==2?'active':''">
                <div (press)="bulkAction(anotote)" [ngClass]="{'activeTote' : current_active_anotote==anotote, 'bulkActive': anotote.checked == true }" (click)="openAnototeDetail(anotote)">
                    <div *ngIf="!anotote.active && (current_color == 'me' || current_color == 'follows')" [hidden]="edit_mode" class="img-holder">
                        <img [src]="(anotote.userAnnotote != null && anotote.userAnnotote.annotote.photo != null && anotote.userAnnotote.annotote.photo != '')?anotote.userAnnotote.annotote.photo:'assets/img/img1.png'">
                    </div>
                    <div class="check" [hidden]="!edit_mode">
                        <img *ngIf="!anotote.checked" src="assets/img/check1.png">
                        <img *ngIf="anotote.checked && current_color == 'me'" src="assets/img/check2.png">
                        <img *ngIf="anotote.checked && current_color == 'follows'" src="assets/img/img5.png">
                    </div>
                    <span class="options" *ngIf="anotote.active" (click)="presentAnototeOptionsModal($event,anotote)"></span>
                    <div class="txt" *ngIf="anotote.type == 1">
                        <strong [ngClass]="{'opened': anotote.active}" [innerText]="anotote.userAnnotote.annotote.title"></strong>
                        <div class="time">
                            <em>
								<span [innerText]="anotote.createdAt * 1000 | date:'shortTime'"></span>
                                <button type="button">
									<ion-icon name="menu"></ion-icon>
								</button>
                        	</em>
                        </div>
                        <p [innerText]="anotote.userAnnotote.annotote.source"></p>
                    </div>
                    <div class="txt" *ngIf="anotote.type ==2">
                        <strong [innerText]="anotote.chatGroup.groupUsers[0].user.firstName+' '+anotote.chatGroup.groupUsers[0].user.lastName" *ngIf="anotote.chatGroup.groupUsers[0].user.id != user.id"></strong>
                        <strong [innerText]="anotote.chatGroup.groupUsers[1].user.firstName+' '+anotote.chatGroup.groupUsers[1].user.lastName" *ngIf="anotote.chatGroup.groupUsers[1].user.id != user.id"></strong>
                        <div class="time">
                            <em>
							  <span [innerText]="anotote.createdAt * 1000 | date:'shortTime'"></span>
                              <button type="button">
								<ion-icon name="chatbubbles"></ion-icon>
							  </button>
							</em>
                        </div>
                        <p>Message</p>
                    </div>
                </div>
                <!-- anatote detail -->
                <div (press)="enable_list_reorder(anotote)" *ngIf="anotote.active && anotote.type!=2" [@enterAnimation]>
                    <div class="loading" [hidden]="spinner_for_active == false">
                        <ion-spinner></ion-spinner>
                    </div>
                    <header class="listHeader" [hidden]="spinner_for_active == true">
                        <div class="underlist-text">
                            <div class="btns-area">
                                <button (click)="showMeHighlights()" ion-button class="me-tab" [ngClass]="{'active_me': current_color == 'me'}">Me</button>
                                <!-- <button ion-button class="me-tab" [ngClass]="{'active_me': anotote.active_tab == 'me'}">Me</button> -->
                                <button (click)="open_follows_popup($event,anotote)" ion-button class="me-tab">{{current_active_anotote.firstFollowerName}} ({{anotote.followers.length}})</button>
                                <button ion-button class="me-tab">Top</button>
                            </div>
                        </div>
                    </header>
                    <div class="quotes layout message-underlist" [hidden]="spinner_for_active == true">
                        <ion-list (ionItemReorder)="reorderItems($event, anotote)" [reorder]="reorder_highlights" no-lines class="details-list layout">
                            <ion-item (click)="open_browser(anotote, highlight)" class="underlist-items" *ngFor="let highlight of anotote.highlights">
                                <div class="txt">
                                    <p *ngIf="highlight.comment == null || highlight.comment == ''">{{highlight.highlightText}}</p>
                                    <p *ngIf="highlight.comment != null && highlight.comment != ''">{{highlight.comment}}</p>
                                </div>
                                <span class="status" [ngClass]="{'quotes_follows': current_color == 'follows','quotes_top': current_color == 'top' }" *ngIf="highlight.comment == null || highlight.comment == ''">"</span>
                                <span class="status" [ngClass]="{'quotes_follows': current_color == 'follows','quotes_top': current_color == 'top' }" *ngIf="highlight.comment != null && highlight.comment != ''">*</span>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <!-- Anotote Message Detail Section -->
                <div (tap)="go_to_chat_thread(anotote.chatGroup.groupUsers)" *ngIf="anotote.active && anotote.type==2" [@enterAnimation]>
                    <div class="quotes layout message-underlist">
                        <div class="loading" [hidden]="spinner_for_active == false">
                            <ion-spinner></ion-spinner>
                        </div>
                        <ion-list no-lines class="details-list layout">
                            <ion-item class="underlist-items" *ngFor="let message of messages">
                                <figure>
                                    <img [src]="message | chatHeads" alt="">
                                    <!--<img [src]="assets/img/check-green.png" alt="">-->
                                </figure>
                                <div class="check-text">
                                    <div class="name-time">
                                        <span class="user" *ngIf="message.senderId == user.id">Me</span>
                                        <span class="user" *ngIf="message.senderId != user.id">{{anotote.chatGroup.groupUsers | chat_name}}</span>
                                        <span class="msg-time">{{message.createdAt * 1000 | date: 'shortTime'}}</span>
                                    </div>
                                    <p [ngStyle]="{'color': 'red'}" *ngIf="message.read == 0 && user.id != message.senderId">{{message.text}}</p>
                                    <p *ngIf="message.read != 0 && user.id != message.senderId">{{message.text}}</p>
                                    <p *ngIf="user.id == message.senderId">{{message.text}}</p>
                                    <img src="assets/img/option-msg.png" alt="">
                                </div>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <!-- anatote detail -->
            </ion-item>
        </ion-list>
        <ion-list *ngIf="top_anototes.length > 0 && current_color == 'top'" class="product-list">
            <ion-item *ngFor="let anotote of top_anototes">
                <div (press)="bulkAction(anotote)" (click)="openAnototeDetail(anotote)" [ngClass]="{'activeTote' : anotote.active == true, 'bulkActive': anotote.checked == true }">
                    <div *ngIf="!anotote.active && current_color == 'top'" [hidden]="edit_mode" class="img-holder">
                        <img [src]="(anotote.annotote.photo != null  && anotote.annotote.photo != '') ? anotote.annotote.photo:'assets/img/img1.png'">
                    </div>
                    <div class="check" [hidden]="!edit_mode">
                        <img *ngIf="!anotote.checked" src="assets/img/check1.png">
                        <img *ngIf="anotote.checked" src="assets/img/img6.png">
                    </div>
                    <span class="options" *ngIf="anotote.active" (click)="presentAnototeOptionsModal($event,anotote)"></span>
                    <div class="txt">
                        <strong [ngClass]="{'opened': anotote.active}" [innerText]="anotote.annotote.title"></strong>
                        <div class="time">
                            <em>
								<span [innerText]="anotote.annotote.createdAt * 1000 | date:'shortTime'"></span>
                                <button type="button">
									<ion-icon name="menu"></ion-icon>
								</button>
                        	</em>
                        </div>
                        <p [innerText]="anotote.annotote.source"></p>
                    </div>
                </div>
                <!-- anatote detail -->
                <div (press)="enable_list_reorder(anotote)" *ngIf="anotote.active" [@enterAnimation]>
                    <header class="listHeader">
                        <div class="underlist-text">
                            <div class="btns-area">
                                <button (click)="showMeHighlights()" ion-button class="active me-tab">Me</button>
                                <button (click)="open_follows_popup($event)" ion-button class="active bardaro-tab">Follow</button>
                                <button ion-button class="active top-tab">Top</button>
                            </div>
                        </div>
                    </header>
                    <div class="quotes layout message-underlist">
                        <ion-list (ionItemReorder)="reorderItems($event, anotote)" [reorder]="reorder_highlights" no-lines class="details-list layout">
                            <ion-item (click)="open_browser(anotote, highlight)" class="underlist-items" *ngFor="let highlight of anotote.highlights">
                                <div class="txt">
                                    <p *ngIf="highlight.comment == null || highlight.comment == ''">{{highlight.highlightText}}</p>
                                    <p *ngIf="highlight.comment != null && highlight.comment != ''">{{highlight.comment}}</p>
                                </div>
                                <span class="status" [ngClass]="{'quotes_follows': current_color == 'follows','quotes_top': current_color == 'top' }" *ngIf="highlight.comment == null || highlight.comment == ''">"</span>
                                <span class="status" [ngClass]="{'quotes_follows': current_color == 'follows','quotes_top': current_color == 'top' }" *ngIf="highlight.comment != null && highlight.comment != ''">*</span>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div class="no_totes" [hidden]="has_totes" *ngIf="current_color != 'top'">
            <p [ngClass]="{'me': current_color == 'me', 'follows':current_color == 'follows', 'top':current_color == 'top' }">No totes found.</p>
        </div>
        <div class="no_totes" [hidden]="has_totes" *ngIf="current_color == 'top'">
            <p [ngClass]="{'me': current_color == 'me', 'follows':current_color == 'follows', 'top':current_color == 'top' }">No totes found.</p>
        </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab bottom right>
        <button (tap)="presentViewOptionsModal()" ion-fab [color]="current_color">
            <img src="assets/img/tot_icon_white.png" />
        </button>
    </ion-fab>
</ion-content>
<span navPop class="wedge_icon"></span>
<ion-footer class="message-bottom" *ngIf="current_active_anotote && (current_active_anotote.active && current_active_anotote.type == 'message')">
    <ion-toolbar color="dark">
        <p style="text-align: center; color: white;" *ngIf="!reply_box_on" (tap)="show_reply_box()">Reply to Chantel Bardaro</p>
        <div *ngIf="reply_box_on" class="send-btn">
            <img src="assets/img/check-green.png" alt="">
            <input type="text" value="" name="search" placeholder="Reply to Chantel Bardaro">
            <input type="submit" value="Send" name="send">
        </div>
    </ion-toolbar>
</ion-footer>