.product-list .item.active strong,
.product-list .item.active ion-icon,
.product-list .item.active .time span {
    color: #ff001d;
}

.fancy-bars {
    width: 10px;
    position: fixed;
    top: 92px;
    right: 2px;
    bottom: 36px;
    overflow: hidden;
}

.fancy-bars span {
    height: 2px;
    margin: 0 0 5px;
    font-size: 0;
    display: block;
    background: #b3b3b3;
}

.fancy-bars span.red {
    background: red;
}

.fancy-bars span.green {
    background: green;
}

.toolbar-content {
    padding: 0 30px;
}

.bar-buttons-md {
    order: 1;
}

tags_popup {
    .tag-panel {
        height: 100%;
        .top_empty_box {
            height: 60%;
            background: rgba(0, 0, 0, .6);
        }
        .tags-panel {
            height: 40%;
            background: #FFF;
            h3 {
                text-align: center;
                padding: 15px 0px;
                margin: 0px;
                height: 50px;
                background: #e0e0e0;
                color: #a6a9b9;
                font-size: 16px;
                box-shadow: 0px 1px 2px #888;
            }
            .tag-list {
                margin: 0px;
                padding: 0px;
                list-style: none;
                padding: 20px;
                height: calc(100% - 50px);
                overflow: auto;
                li {
                    display: block;
                    padding: 10px 0px;
                    img {
                        width: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 15px;
                    }
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

page-anotote-list {
    .aling-left {
        float: left;
    }
    .header-socials {
        width: 100%;
        padding: 10px 0 0 !important;
        text-align: center;
        background: none;
    }
    .header-socials .item:first-child {
        width: 38px;
    }
    .first-btn {
        height: 65px !important;
    }
    .first-btn:hover {
        background: none !important;
    }
    .align-left {
        float: left;
    }
    .header-socials .item {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        text-align: center;
        background: none;
    }
    .header-socials .item span {
        font-size: 15px;
        line-height: 19px;
        color: #fff;
        display: block;
    }
    .header-socials .item ion-icon {
        font-size: 25px;
        line-height: 29px;
        color: #fff;
        display: block;
    }
    .header-socials .item button {
        background: none;
        box-shadow: none;
    }
    .product-list {
        .check {
            width: 17px;
            height: 18px;
            padding: 15px 0 0;
            float: left;
        }
        .txt strong,
        .item.active .txt strong {
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
            display: block;
            color: #000;
        }
        .item .time {
            float: right;
        }
        .item.active .time span,
        .item.active .time ion-icon {
            margin-left: 4px;
            color: #cbcbcb;
        }
        .txt-holder {
            overflow: hidden;
        }
        .profile-wrap {
            padding: 10px 5px !important;
            &.even {
                background: #CCC;
            }
            .item-inner {
                padding: 0px;
                width: 100%;
            }
            .label-ios {
                margin: 0px;
                display: table;
                width: 100%;
                >div {
                    display: table-cell;
                    float: none;
                    vertical-align: middle;
                    padding: 0px;
                    &.check {
                        width: 15%;
                        text-align: center;
                        padding-right: 10px;
                    }
                    .time {
                        float: left;
                        width: 100%;
                    }
                    .txt-holder {
                        strong {
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
    .message-underlist {
        .header {
            padding: 20px 0;
            figure {
                margin: 0px;
                display: inline-block;
                width: 9%;
                text-align: left;
                vertical-align: middle;
                img {
                    width: 6px;
                }
            }
            .underlist-text {
                display: inline-block;
                width: 90%;
                vertical-align: middle;
                strong {
                    display: -webkit-inline-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
                h4 {
                    font-size: 5vw;
                    font-weight: 600;
                }
                .time {
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    em {
                        width: 60px;
                        img {
                            width: 16px;
                            float: right;
                            margin-left: 5px;
                        }
                    }
                }
                .btns-area {
                    button {
                        float: left;
                        font-size: 12px !important;
                        background: #e0e0e0;
                        margin-right: 5vw !important;
                        &.me-tab {
                            background: #2ba600;
                        }
                    }
                }
            }
        }
        .underlist-items {
            padding: 0px;
            border: 0px !important;
            .item-inner {
                padding: 0px;
                .label-ios {
                    margin: 0px;
                    padding: 15px 0px;
                    .status {
                        width: 22px;
                        height: 22px;
                        font-size: 30px;
                        line-height: 1;
                    }
                    .txt {
                        margin: 0px;
                        padding: 0px;
                        float: right;
                        width: 88%;
                    }
                    figure {
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        display: inline-block;
                        width: 10%;
                        vertical-align: top;
                        padding-top: 25px;
                        img {
                            width: 15px;
                        }
                    }
                    .check-text {
                        display: inline-block;
                        vertical-align: top;
                        width: 89%;
                        .name-time {
                            color: #bfbfbf;
                            font-size: 16px;
                            .msg-time {
                                float: right;
                            }
                        }
                        p {
                            font-size: 18px;
                            font-weight: 600;
                            word-wrap: normal;
                            white-space: normal;
                            color: #000;
                            word-break: normal;
                            letter-spacing: 1px;
                        }
                        img {
                            width: 30px;
                        }
                    }
                }
            }
            &.unread-msg {
                .item-inner {
                    .label-ios {
                        .check-text {
                            .name-time {
                                color: #ff2600;
                            }
                            p {
                                color: #ff2600;
                            }
                        }
                    }
                }
            }
        }
    }
    /**
        Chat Message Box CSS
    */
    .message-bottom {
        .toolbar-ios {
            overflow: visible;
            contain: none;
        }
    }
    .send-btn {
        position: relative;
        img {
            display: inline-block;
            vertical-align: middle;
        }
        input[type="text"] {
            display: inline-block;
            vertical-align: middle;
            padding: 5px;
            width: 70vw;
            background: #222;
            border: 0px;
            color: #FFF;
        }
        input[type="submit"] {
            background: #CCC;
            color: #FFF;
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 50%;
            text-align: center;
            padding: 15px 0px;
            text-transform: uppercase;
            position: absolute;
            right: -20px;
            top: -33px;
            border: 0;
        }
    }
}