<ion-header class="topHeader">
    <ion-toolbar [color]="current_color">
        <ion-buttons class="searchIcon" *ngIf="!edit_mode" start>
            <button (tap)="openSearchPopup()" class="search_icon" ion-button icon-only>
                <img src="assets/img/searchIcon.png" alt="" />

                <!--<ion-icon name="search"></ion-icon>-->
            </button>
        </ion-buttons>
        <ion-title *ngIf="!edit_mode && current_color == 'me'">
            <dot-navigation class="meDot" unactivedots="1"></dot-navigation>
        </ion-title>
        <ion-title *ngIf="!edit_mode && current_color == 'follows'">
            <dot-navigation class="followDot" unactivedots="1"></dot-navigation>
        </ion-title>
        <ion-title *ngIf="!edit_mode && current_color == 'top'">
            <dot-navigation class="topDot" unactivedots="1"></dot-navigation>
        </ion-title>
        <ion-title *ngIf="!edit_mode && current_color == 'anon'">
            <dot-navigation class="anonDot" unactivedots="1"></dot-navigation>
        </ion-title>
        <ion-buttons class="plusIcon" *ngIf="!edit_mode" end>
            <button (tap)="go_to_editor()" ion-button icon-only>
                <img src="assets/img/plusIcon.png" alt="" />
                <!-- <ion-icon name="add"></ion-icon> -->
            </button>
        </ion-buttons>
        <ul class="topList" *ngIf="edit_mode">
            <li class="leftIcon">
                <img *ngIf="current_color == 'me'" (tap)="close_bulk_actions()" src="assets/img/closeGreenIcon.svg" alt="">
            </li>
            <li class="followLeft leftIcon">
                <img *ngIf="current_color == 'follows'" (tap)="close_bulk_actions()" src="assets/img/closeYellowIcon.svg" alt="">
            </li>
            <li class="leftIcon">
                <img *ngIf="current_color == 'top'" (tap)="close_bulk_actions()" src="assets/img/closePinkIcon.svg" alt="">
            </li>
            <li class="delete" *ngIf="current_color == 'me'" (tap)="confirm_popUp('delete')">
                <img src="assets/img/deleteIcon.svg" alt="">
            </li>
            <li class="bookmark" *ngIf="current_color == 'follows' || current_color == 'top'" (tap)="confirm_popUp('bookmark')">
                <img src="assets/img/bookIcon.svg" alt="">
            </li>
            <li class="privacy" *ngIf="current_color == 'me'" (tap)="confirm_popUp('privacy')">
                <img src="assets/img/privacyIcon.svg" alt="">
            </li>
            <li class="followSave" *ngIf="current_color == 'follows' || current_color == 'top'" (tap)="confirm_popUp('save')">
                <img src="assets/img/cloudIcon.svg" alt="">
            </li>
            <li class="followSave share" (tap)="share_totes()">
                <img src="assets/img/shareIcon.svg" alt="">
            </li>
        </ul>
    </ion-toolbar>
</ion-header>
<ion-content swipe-vertical padding>
    <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="enable_refresher == true">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div id="wrapper">
        <ion-list *ngIf="anototes.length > 0 && current_color != 'top'" class="product-list">
            <ion-item *ngFor="let anotote of anototes" [ngClass]="{'unread':(anotote.type == 2 && anotote.chatGroup.messagesUser[anotote.chatGroup.messagesUser.length - 1].read == 0 && anotote.chatGroup.messagesUser[anotote.chatGroup.messagesUser.length - 1].senderId != user.id),'bulking':anotote.checked}">
                <div (press)="bulkAction(anotote)" [ngClass]="{'activeTote' : current_active_anotote==anotote, 'bulkActive': anotote.checked == true }" (click)="openAnototeDetail(anotote)">
                    <!-- Images for anototes -->
                    <div *ngIf="!anotote.active && anotote.type == 1 && (current_color == 'me' || current_color == 'follows' || current_color == 'anon')" [hidden]="edit_mode" class="img-holder" (click)="presentAnototeOptionsModal($event,anotote)" [@leftAnimation]>
                        <!-- <img src="assets/img/Default.svg" *ngIf="anotote.userAnnotote.annotote.photo == null || anotote.userAnnotote.annotote.photo == ''">
                        <img (load)="loaded = true" [hidden]="!loaded" [ngClass]="{'img-loaded':loaded}" *ngIf="anotote.userAnnotote.annotote.photo != null && anotote.userAnnotote.annotote.photo != ''" [src]="anotote.userAnnotote.annotote.photo">
                        <ion-spinner name="bubbles" [ngClass]="{'center':true}" *ngIf="!loaded && anotote.userAnnotote.annotote.photo != '' && anotote.userAnnotote.annotote.photo != null"></ion-spinner> -->
                    </div>
                    <!-- Images for chat totes -->
                    <div *ngIf="!anotote.active && anotote.type == 2 && (current_color == 'me' || current_color == 'follows' || current_color == 'anon')" [hidden]="edit_mode" class="img-holder" (click)="presentAnototeOptionsModal($event,anotote)" [@leftAnimation]>
                        <!-- For picture of first group member, if he is not the current logged in user -->
                        <!-- <img src="assets/img/Default.svg" *ngIf="anotote.chatGroup.groupUsers[0].user.id != user.id && (anotote.chatGroup.groupUsers[0].user.photo == null || anotote.chatGroup.groupUsers[0].user.photo == '')"> -->
                        <!-- <img (load)="loaded = true" [hidden]="!loaded" [ngClass]="{'img-loaded':loaded}" *ngIf="anotote.chatGroup.groupUsers[0].user.id != user.id && (anotote.chatGroup.groupUsers[0].user.photo != null && anotote.chatGroup.groupUsers[0].user.photo != '')" [src]="anotote.chatGroup.groupUsers[0].user.photo | image_base_path">
                        <ion-spinner name="bubbles" [ngClass]="{'center':true}" *ngIf="!loaded && anotote.chatGroup.groupUsers[0].user.id != user.id && (anotote.chatGroup.groupUsers[0].user.photo != null && anotote.chatGroup.groupUsers[0].user.photo != '')"></ion-spinner> -->
                        <!-- For picture of second group member, if he is not the current logged in user -->
                        <!-- <img src="assets/img/Default.svg" *ngIf="anotote.chatGroup.groupUsers[1].user.id != user.id && (anotote.chatGroup.groupUsers[1].user.photo == null || anotote.chatGroup.groupUsers[1].user.photo == '')"> -->
                        <!-- <img (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" *ngIf="anotote.chatGroup.groupUsers[1].user.id != user.id && (anotote.chatGroup.groupUsers[1].user.photo != null && anotote.chatGroup.groupUsers[1].user.photo != '')" [hidden]="!loaded" [src]="anotote.chatGroup.groupUsers[1].user.photo | image_base_path">
                        <ion-spinner name="bubbles" [ngClass]="{'center':true}" *ngIf="!loaded && anotote.chatGroup.groupUsers[1].user.id != user.id && (anotote.chatGroup.groupUsers[1].user.photo != null && anotote.chatGroup.groupUsers[1].user.photo != '')"></ion-spinner> -->
                    </div>
                    <div class="check" [hidden]="!edit_mode">
                        <img *ngIf="!anotote.checked" src="assets/img/check1.png">
                        <img *ngIf="anotote.checked && current_color == 'me'" src="assets/img/check2.png">
                        <img *ngIf="anotote.checked && current_color == 'follows'" src="assets/img/img5.png">
                    </div>
                    <span class="options" *ngIf="anotote.active" (click)="presentAnototeOptionsModal($event,anotote)"></span>
                    <div class="txt" *ngIf="anotote.type == 1" [ngClass]="{'txtToto': edit_mode == true}">
                        <img class="unReadLock" *ngIf="anotote.userAnnotote.privacy == 1" src="assets/img/lockIconGray.svg" alt="">
                        <strong [ngClass]="{'opened': anotote.active}" [innerText]="anotote.userAnnotote.anototeDetail.userAnnotote.annototeTitle"></strong>
                        <div class="time">
                            <em>
                                <span [innerText]="anotote.createdAt | time_stamp"></span>
                            </em>
                        </div>
                        <div class="toteText">
                            <p [innerText]="anotote.userAnnotote.annotote.source"></p>
                            <button type="button">
                                <img src="assets/img/lineIcon.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="txt" [ngClass]="{'txtToto': edit_mode == true}" *ngIf="anotote.type ==2">
                        <img class="unReadLock" *ngIf="anotote.chatGroup.messagesUser[anotote.chatGroup.messagesUser.length - 1].read == 0 && anotote.chatGroup.messagesUser[anotote.chatGroup.messagesUser.length - 1].senderId != user.id" src="assets/img/redLock.svg" alt="">
                        <ng-container *ngIf="anotote.chatGroup.messagesUser != null && anotote.chatGroup.messagesUser[0].anototeId == 0">
                            <strong [innerText]="anotote.chatGroup.groupUsers[0].user.firstName" *ngIf="anotote.chatGroup.groupUsers[0].user.id != user.id"></strong>
                            <strong [innerText]="anotote.chatGroup.groupUsers[1].user.firstName" *ngIf="anotote.chatGroup.groupUsers[1].user.id != user.id"></strong>
                        </ng-container>
                        <ng-container *ngIf="anotote.chatGroup.messagesUser != null && anotote.chatGroup.messagesUser[0].anototeId != 0">
                            <strong [innerText]="anotote.chatGroup.messagesUser[0].subject"></strong>
                        </ng-container>
                        <div class="time">
                            <em>
                                <span [innerText]="anotote.createdAt | time_stamp"></span>
                            </em>
                        </div>
                        <div class="toteText">
                            <p *ngIf="anotote.chatGroup.messagesUser != null && anotote.chatGroup.messagesUser[0].anototeId == 0">Message</p>
                            <p *ngIf="anotote.chatGroup.messagesUser == null">Message</p>
                            <ng-container *ngIf="anotote.chatGroup.messagesUser != null && anotote.chatGroup.messagesUser[0].anototeId != 0">
                                <p [innerText]="anotote.chatGroup.groupUsers[0].user.firstName" *ngIf="anotote.chatGroup.groupUsers[0].user.id != user.id"></p>
                                <p [innerText]="anotote.chatGroup.groupUsers[1].user.firstName" *ngIf="anotote.chatGroup.groupUsers[1].user.id != user.id"></p>
                            </ng-container>
                            <button type="button">
                                <img src="assets/img/commentIcon.svg" alt="">
                                <img class="unReadMsg" src="assets/img/redMessage.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <!-- anatote detail  (press)="enable_list_reorder(anotote)"-->
                <div class="toteActive" [ngClass]="{'toteTransition': anotote.active && anotote.type!=2}" *ngIf="anotote.type != 2">
                    <div class="loading" [hidden]="anotote.spinner_for_active == false">
                        <ion-spinner></ion-spinner>
                    </div>
                    <header class="listHeader" [hidden]="anotote.spinner_for_active == true">
                        <div class="underlist-text">
                            <div class="btns-area" *ngIf="current_color != 'anon'">
                                <button (click)="showMeHighlights(anotote)" ion-button *ngIf="current_color == 'me'" class="me-tab" [ngClass]="{'active_me': anotote.active_tab == 'me'}">Me</button>
                                <button (click)="showMeHighlights(anotote)" ion-button *ngIf="current_color == 'follows' && anotote.isMe == 1" class="me-tab" [ngClass]="{'active_me': anotote.active_tab == 'me'}">
                                    <i *ngIf="me_spinner == false">Me</i>
                                    <ion-spinner class="loader" [hidden]="me_spinner == false"></ion-spinner>
                                </button>
                                <button (click)="open_follows_popup($event,anotote)" class="me-tab" ion-button [ngClass]="{'active_follows': anotote.active_tab == 'follows'}" *ngIf="anotote.followers.length > 0">{{anotote.selected_follower_name}}
                                    <i *ngIf="anotote.followers.length > 1">({{anotote.followers.length}})</i>
                                </button>
                                <button ion-button class="me-tab" [ngClass]="{'active_top': anotote.active_tab == 'top'}" *ngIf="anotote.isTop == 1" (click)="show_top_tab(anotote)">
                                    <i *ngIf="top_spinner == false">Top</i>
                                    <ion-spinner class="loader" [hidden]="top_spinner == false"></ion-spinner>
                                </button>
                            </div>
                            <div class="btns-area" *ngIf="current_color == 'anon'">
                                <button ion-button class="me-tab">{{followUserName}}</button>
                            </div>
                        </div>
                    </header>
                    <div class="quotes layout message-underlist" [hidden]="anotote.spinner_for_active == true">
                        <ion-list (ionItemReorder)="reorderItems($event, anotote)" [reorder]="reorder_highlights" no-lines class="details-list layout" *ngIf="anotote.highlights.length > 0">
                            <ng-container *ngFor="let highlight of anotote.highlights">
                                <ion-item (press)="annotation_options(highlight)" (click)="open_browser(anotote, highlight)" *ngIf="highlight.deleted != 1" class="underlist-items">
                                    <div class="txt">
                                        <p>{{highlight.highlightText}}</p>
                                        <!-- <p *ngIf="highlight.comment != null && highlight.comment != ''">{{highlight.comment}}</p> -->
                                        <p class="lightText" *ngIf="highlight.comment != null && highlight.comment != ''">{{highlight.comment}}</p>
                                        <div class="tagImage" *ngIf="highlight.tags.length > 0" (click)="show_tags_for_annotation($event,anotote.active_tab,highlight)">
                                            <img src="assets/img/dotsicon.svg" alt="">
                                        </div>
                                    </div>
                                    <ng-container *ngIf="current_color != 'anon'">
                                        <span class="status quoteStatus" [ngClass]="{'quotes_follows':  anotote.active_tab == 'follows','quotes_top':  anotote.active_tab == 'top'}" *ngIf="highlight.comment == null || highlight.comment == ''">"</span>
                                        <span class="status" [ngClass]="{'quotes_follows': anotote.active_tab == 'follows','quotes_top': anotote.active_tab == 'top' }" *ngIf="highlight.comment != null && highlight.comment != ''">*</span>
                                    </ng-container>
                                    <ng-container *ngIf="current_color == 'anon'">
                                        <span class="status quotes_anon quoteStatus" *ngIf="highlight.comment == null || highlight.comment == ''">"</span>
                                        <span class="status quotes_anon" *ngIf="highlight.comment != null && highlight.comment != ''">*</span>
                                    </ng-container>

                                    <div class="editAntotion" *ngIf="highlight.edit != undefined && highlight.edit == true" (click)="editField($event)">
                                        <div class="moveBtn">
                                            <button class="topIcon">
                                                <img (click)="enable_list_reorder($event,highlight)" src="assets/img/topIcon.svg" alt="">
                                            </button>
                                            <button class="bottomIcon">
                                                <img (click)="enable_list_reorder($event,highlight)" src="assets/img/bottomIcon.svg" alt="">
                                            </button>
                                        </div>
                                        <textarea [(ngModel)]="edit_highlight_text" name="edit_area"></textarea>
                                        <img src="assets/img/option-msg-white.png" alt="" (click)="show_tags_for_annotation($event,anotote.active_tab,highlight)">
                                        <span class="closeIcon" (click)="stop_editing($event,highlight)">Cancel</span>
                                        <span class="deleteIcon" (click)="delete_annotation(highlight)" alt="">Delete</span>
                                        <span [ngClass]="{'save': edit_highlight_text != highlight.comment && edit_highlight_text != ''}" class="save" (click)="save_edited_annotation(highlight)" alt="">Save</span>
                                        <!-- <img class="closeIcon" src="assets/img/cross.png" alt="" (click)="delete_annotation(highlight)"> -->
                                        <!-- <img class="doneIcon" src="assets/img/tick.png" (click)="save_edited_annotation(highlight)" alt=""> -->
                                    </div>
                                </ion-item>
                            </ng-container>
                        </ion-list>
                        <div class="no_anotation" *ngIf="anotote.highlights.length == 0 && anotote.active_tab == 'me'" (click)="open_browser(anotote,null)">
                            <p class="me">Leave your mark>>></p>
                            <!-- <div class="butt">
                                <p>Create annotation</p>
                            </div> -->
                        </div>
                        <div class="no_anotation" *ngIf="anotote.highlights.length == 0 && (anotote.active_tab == 'follows' || anotote.active_tab == 'top')">
                            <p>No anotations created yet.</p>
                        </div>
                    </div>
                </div>
                <!-- Anotote Message Detail Section -->
                <div class="toteActive" (tap)="go_to_chat_thread(anotote)" [ngClass]="{'toteTransition': anotote.active && anotote.type==2}" *ngIf="anotote.chatGroup">
                    <div class="quotes layout message-underlist">
                        <div class="loading" [hidden]="anotote.spinner_for_active == false">
                            <ion-spinner></ion-spinner>
                        </div>
                        <ion-list no-lines class="details-list layout" [hidden]="anotote.spinner_for_active == true">
                            <ion-item class="underlist-items" *ngFor="let message of anotote.chatGroup.messagesUser">
                                <figure>
                                    <!-- <img [src]="message | chatHeads" alt=""> -->
                                    <img *ngIf="message.senderId == user.id" src="assets/img/check-green.png" alt="">
                                    <img *ngIf="message.senderId != user.id && message.read == 0" src="assets/img/check-red.png" alt="">
                                    <img *ngIf="message.senderId != user.id && message.read == 1" src="assets/img/checkYellow.png" alt="">
                                </figure>
                                <div class="check-text">
                                    <div class="name-time">
                                        <span class="user" *ngIf="message.senderId == user.id">Me</span>
                                        <span class="user" *ngIf="message.senderId != user.id">{{anotote.chatGroup.groupUsers | chat_name}}</span>
                                        <span class="msg-time">{{message.createdAt | time_stamp}}</span>
                                    </div>
                                    <p [ngStyle]="{'color': 'red'}" *ngIf="message.read == 0 && user.id != message.senderId">{{message.text}}</p>
                                    <p *ngIf="message.read != 0 && user.id != message.senderId">{{message.text}}</p>
                                    <p *ngIf="user.id == message.senderId">{{message.text}}</p>
                                    <!-- <img src="assets/img/option-msg.png" alt=""> -->
                                </div>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>

                <div class="editTitle" *ngIf="anotote.checked == true">
                    <div class="img-holder" (click)="presentAnototeOptionsModal($event,anotote)"></div>
                    <div class="txt">
                        <form (ngSubmit)="saveTitle(anotote)">
                            <input type="text" [(ngModel)]="title_temp" name="title">
                        </form>
                        <div class="totBtn">
                            <span [ngClass]="{'saveBtn': title_temp != anotote.userAnnotote.anototeDetail.userAnnotote.annototeTitle  && title_temp != ''}" (click)="saveTitle(anotote)">Save</span>
                            <span (click)="bulkAction(anotote)">Cancel</span>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="top_anototes.length > 0 && current_color == 'top'" class="product-list">
            <ion-item *ngFor="let anotote of top_anototes" [ngClass]="{'bulking':anotote.checked}">
                <div (press)="bulkAction(anotote)" (click)="openAnototeDetail(anotote)" [ngClass]="{'activeTote' : anotote.active == true, 'bulkActive': anotote.checked == true }">
                    <div *ngIf="!anotote.active && current_color == 'top'" [hidden]="edit_mode" class="img-holder" (click)="presentAnototeOptionsModal($event,anotote)" [@leftAnimation]>
                        <!-- <img src="assets/img/Default.svg" *ngIf="anotote.annotote.photo == null || anotote.annotote.photo == ''">
                        <img (load)="loaded = true" [hidden]="!loaded" [ngClass]="{'img-loaded':loaded}" *ngIf="anotote.annotote.photo != null && anotote.annotote.photo != ''" [src]="anotote.annotote.photo">
                        <ion-spinner name="bubbles" [ngClass]="{'center':true}" *ngIf="!loaded && anotote.annotote.photo != '' && anotote.annotote.photo != null"></ion-spinner> -->
                    </div>
                    <div class="check" [hidden]="!edit_mode">
                        <img *ngIf="!anotote.checked" src="assets/img/check1.png">
                        <img *ngIf="anotote.checked" src="assets/img/img6.png">
                    </div>
                    <span class="options" *ngIf="anotote.active" (click)="presentAnototeOptionsModal($event,anotote)"></span>
                    <div class="txt" [ngClass]="{'txtToto': edit_mode}">
                        <strong [ngClass]="{'opened': anotote.active}" [innerText]="anotote.annotote.title"></strong>
                        <div class="time">
                            <em>
                                <span [innerText]="anotote.annotote.createdAt | time_stamp"></span>
                            </em>
                        </div>
                        <div class="toteText">
                            <p [innerText]="anotote.annotote.source"></p>
                            <button type="button">
                                <img src="assets/img/lineIcon.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <!-- anatote detail -->
                <div class="toteActive" [ngClass]="{'toteTransition': anotote.active}">
                    <div class="loading" [hidden]="anotote.spinner_for_active == false">
                        <ion-spinner></ion-spinner>
                    </div>
                    <header class="listHeader" [hidden]="anotote.spinner_for_active == true">
                        <div class="underlist-text">
                            <div class="btns-area">
                                <button (click)="showMeHighlights(anotote)" ion-button *ngIf="anotote.isMe == 1" class="me-tab" [ngClass]="{'active_me': anotote.active_tab == 'me'}">
                                    <i *ngIf="me_spinner == false">Me</i>
                                    <ion-spinner class="loader" [hidden]="me_spinner == false"></ion-spinner>
                                </button>
                                <button (click)="top_follows_popup($event,anotote)" ion-button class="me-tab" [ngClass]="{'active_follows': anotote.active_tab == 'follows'}" *ngIf="anotote.follows.length > 0">{{anotote.selected_follower_name}}
                                    <i *ngIf="anotote.follows.length > 1">({{anotote.follows.length}})</i>
                                </button>
                                <button ion-button (click)="show_top_tab(anotote)" class="me-tab" [ngClass]="{'active_top': anotote.active_tab == 'top'}">Top</button>
                            </div>
                        </div>
                    </header>
                    <div class="quotes layout message-underlist" [hidden]="anotote.spinner_for_active == true">
                        <ion-list no-lines class="details-list layout">
                            <ion-item (click)="open_browser(anotote, highlight)" class="underlist-items" *ngFor="let highlight of anotote.highlights">
                                <div class="txt">
                                    <!-- <p *ngIf="(highlight.comment == null || highlight.comment == '') && anotote.active_tab == 'top'">{{highlight.highlight_text}}</p> -->
                                    <p>{{highlight.highlightText}}</p>
                                    <p class="lightText" *ngIf="highlight.comment != null && highlight.comment != ''">{{highlight.comment}}</p>
                                    <div class="tagImage" *ngIf="anotote.active_tab != 'me' && highlight.tags.length > 0" (click)="show_tags_for_annotation($event,anotote.active_tab,highlight)">
                                        <img src="assets/img/dotsicon.svg" alt="">
                                    </div>
                                </div>
                                <span class="status quoteStatus" [ngClass]="{'quotes_follows':  anotote.active_tab == 'follows','quotes_top':  anotote.active_tab == 'top'}" *ngIf="highlight.comment == null || highlight.comment == ''">"</span>
                                <span class="status" [ngClass]="{'quotes_follows':  anotote.active_tab == 'follows','quotes_top':  anotote.active_tab == 'top'}" *ngIf="highlight.comment != null && highlight.comment != ''">*</span>
                            </ion-item>
                        </ion-list>
                        <div class="no_anotation" *ngIf="anotote.highlights.length == 0">
                            <p>No anotations created yet.</p>
                        </div>
                    </div>

                </div>
            </ion-item>
        </ion-list>
        <div id="temp_text_editor" *ngIf="current_active_anotote && current_active_anotote.active" class="not_to_show" contenteditable="false" [innerHTML]="text  | sanitizeHtml"></div>
        <div class="no_totes" [hidden]="has_totes" *ngIf="current_color != 'top'">
            <p [ngClass]="{'me': current_color == 'me', 'follows':current_color == 'follows', 'top':current_color == 'top' }">No totes found.</p>
        </div>
        <div class="no_totes" [hidden]="has_totes" *ngIf="current_color == 'top'">
            <p [ngClass]="{'me': current_color == 'me', 'follows':current_color == 'follows', 'top':current_color == 'top' }">No totes found.</p>
        </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab bottom [ngClass]="{'moveUpList': move_fab == true}" right>
        <button (tap)="presentViewOptionsModal()" ion-fab [color]="current_active_anotote == null ? current_color : (current_color == 'anon' ? 'anon':current_active_anotote.active_tab)">
            <img *ngIf="current_active_anotote == null || current_color == 'anon'" src="assets/img/whiteTote.svg" />
            <ng-container *ngIf="current_active_anotote != null && current_color == 'me' && current_active_anotote.chatGroup == null">
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.userAnnotote.anototeDetail.follows.length > 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 1"
                    src="assets/img/greenTote.svg" />
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.userAnnotote.anototeDetail.follows.length > 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 0"
                    src="assets/img/greenTote2.svg" />
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.userAnnotote.anototeDetail.follows.length == 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 1"
                    src="assets/img/greenTote3.svg" />
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.userAnnotote.anototeDetail.follows.length == 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 0"
                    src="assets/img/greenTote4.svg" />
                <!-- Active tab follows -->
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.userAnnotote.anototeDetail.isMe == 1 && current_active_anotote.userAnnotote.anototeDetail.isTop == 1"
                    src="assets/img/yellowTote.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.userAnnotote.anototeDetail.isMe == 1 && current_active_anotote.userAnnotote.anototeDetail.isTop == 0"
                    src="assets/img/yellowTote2.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.userAnnotote.anototeDetail.isMe == 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 1"
                    src="assets/img/yellowTote3.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.userAnnotote.anototeDetail.isMe == 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 0"
                    src="assets/img/yellowTote4.svg" />
                <!-- Active tab top -->
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.userAnnotote.anototeDetail.isMe == 1 && current_active_anotote.userAnnotote.anototeDetail.follows.length > 0"
                    src="assets/img/pinkTote.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.userAnnotote.anototeDetail.isMe == 0 && current_active_anotote.userAnnotote.anototeDetail.follows.length > 0"
                    src="assets/img/pinkTote2.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.userAnnotote.anototeDetail.isMe == 1 && current_active_anotote.userAnnotote.anototeDetail.follows.length == 0"
                    src="assets/img/pinkTote3.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.userAnnotote.anototeDetail.isMe == 0 && current_active_anotote.userAnnotote.anototeDetail.follows.length == 0"
                    src="assets/img/pinkTote4.svg" />
            </ng-container>
            <ng-container *ngIf="current_active_anotote != null && current_color == 'me' && current_active_anotote.chatGroup != null">
                <img src="assets/img/greenTote4.svg" />
            </ng-container>
            <ng-container *ngIf="current_color == 'follows'">
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.userAnnotote.anototeDetail.isMe == 1 && current_active_anotote.userAnnotote.anototeDetail.isTop == 1"
                    src="assets/img/yellowTote.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.userAnnotote.anototeDetail.isMe == 1 && current_active_anotote.userAnnotote.anototeDetail.isTop == 0"
                    src="assets/img/yellowTote2.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.userAnnotote.anototeDetail.isMe == 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 1"
                    src="assets/img/yellowTote3.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.userAnnotote.anototeDetail.isMe == 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 0"
                    src="assets/img/yellowTote4.svg" />
                <!-- Active tab me -->
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.userAnnotote.anototeDetail.follows.length > 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 1"
                    src="assets/img/greenTote.svg" />
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.userAnnotote.anototeDetail.follows.length > 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 0"
                    src="assets/img/greenTote2.svg" />
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.userAnnotote.anototeDetail.follows.length == 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 1"
                    src="assets/img/greenTote3.svg" />
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.userAnnotote.anototeDetail.follows.length == 0 && current_active_anotote.userAnnotote.anototeDetail.isTop == 0"
                    src="assets/img/greenTote4.svg" />
                <!-- Active tab top -->
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.userAnnotote.anototeDetail.isMe == 1 && current_active_anotote.userAnnotote.anototeDetail.follows.length > 0"
                    src="assets/img/pinkTote.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.userAnnotote.anototeDetail.isMe == 0 && current_active_anotote.userAnnotote.anototeDetail.follows.length > 0"
                    src="assets/img/pinkTote2.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.userAnnotote.anototeDetail.isMe == 1 && current_active_anotote.userAnnotote.anototeDetail.follows.length == 0"
                    src="assets/img/pinkTote3.svg" />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.userAnnotote.anototeDetail.isMe == 0 && current_active_anotote.userAnnotote.anototeDetail.follows.length == 0"
                    src="assets/img/pinkTote4.svg" />
            </ng-container>
            <ng-container *ngIf="current_color == 'top'">
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.anototeDetail.isMe == 1 && current_active_anotote.anototeDetail.follows.length > 0" src="assets/img/pinkTote.svg"
                />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.anototeDetail.isMe == 0 && current_active_anotote.anototeDetail.follows.length > 0" src="assets/img/pinkTote2.svg"
                />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.anototeDetail.isMe == 1 && current_active_anotote.anototeDetail.follows.length == 0" src="assets/img/pinkTote3.svg"
                />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top' && current_active_anotote.anototeDetail.isMe == 0 && current_active_anotote.anototeDetail.follows.length == 0" src="assets/img/pinkTote4.svg"
                />
                <!-- Active tab me -->
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.anototeDetail.follows.length > 0 && current_active_anotote.anototeDetail.isTop == 1" src="assets/img/greenTote.svg"
                />
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.anototeDetail.follows.length > 0 && current_active_anotote.anototeDetail.isTop == 0" src="assets/img/greenTote2.svg"
                />
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.anototeDetail.follows.length == 0 && current_active_anotote.anototeDetail.isTop == 1" src="assets/img/greenTote3.svg"
                />
                <img *ngIf="current_active_anotote != null &&  current_active_anotote.active_tab == 'me' && current_active_anotote.anototeDetail.follows.length == 0 && current_active_anotote.anototeDetail.isTop == 0" src="assets/img/greenTote4.svg"
                />
                <!-- Active tab follows -->
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.anototeDetail.isMe == 1 && current_active_anotote.anototeDetail.isTop == 1" src="assets/img/yellowTote.svg"
                />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.anototeDetail.isMe == 1 && current_active_anotote.anototeDetail.isTop == 0" src="assets/img/yellowTote2.svg"
                />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.anototeDetail.isMe == 0 && current_active_anotote.anototeDetail.isTop == 1" src="assets/img/yellowTote3.svg"
                />
                <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows' && current_active_anotote.anototeDetail.isMe == 0 && current_active_anotote.anototeDetail.isTop == 0" src="assets/img/yellowTote4.svg"
                />
            </ng-container>
        </button>
    </ion-fab>
    <!-- <ion-fab bottom right *ngIf="current_color == 'top'">
        <button (tap)="presentViewOptionsModal()" ion-fab [color]="current_active_anotote == null ? current_color : current_active_anotote.active_tab">
            <img *ngIf="current_active_anotote == null" src="assets/img/whiteTote.svg" />
            <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'me'" src="assets/img/greenTote.svg" />
            <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'follows'" src="assets/img/yellowTote.svg" />
            <img *ngIf="current_active_anotote != null && current_active_anotote.active_tab == 'top'" src="assets/img/pinkTote.svg" />
        </button>
    </ion-fab> -->
</ion-content>
<span navPop class="wedge_icon"></span>
<ion-footer class="message-bottom" *ngIf="current_active_anotote && current_active_anotote.chatGroup != null">
    <ion-toolbar color="dark">
        <p *ngIf="current_active_anotote.chatGroup.messagesUser[0].subject == null">“[No subject]”</p>
        <p *ngIf="current_active_anotote.chatGroup.messagesUser[0].subject != null">“[{{current_active_anotote.chatGroup.messagesUser[0].subject}}]”</p>
        <span (tap)="go_to_chat_thread(current_active_anotote)">Reply</span>
    </ion-toolbar>
</ion-footer>
<ion-footer class="message-bottom" *ngIf="current_active_anotote && current_active_anotote.active_tab != 'me' && current_color != 'anon'">
    <ion-toolbar color="dark">
        <div class="downUp">
            <ng-container *ngIf="current_color != 'top' && current_active_anotote.active_tab == 'top'">
                <img src="assets/img/upArrow.svg" *ngIf="current_active_anotote.topVote.isCurrentUserVote == 0 && current_active_anotote.topVote.currentUserVote == 0" (click)="upvote()" alt="">
                <img src="assets/img/upArrow.svg" *ngIf="current_active_anotote.topVote.isCurrentUserVote == 1 && current_active_anotote.topVote.currentUserVote == 0" alt="">
                <img src="assets/img/upArrowgreen.svg" *ngIf="current_active_anotote.topVote.isCurrentUserVote == 1 && current_active_anotote.topVote.currentUserVote == 1" alt="">
                <span>{{current_active_anotote.topVote.rating}}%</span>
                <img src="assets/img/downIcon.svg" *ngIf="current_active_anotote.topVote.isCurrentUserVote == 1 && current_active_anotote.topVote.currentUserVote == 0" alt="">
                <img src="assets/img/downIconwhite.svg" *ngIf="current_active_anotote.topVote.isCurrentUserVote == 0 && current_active_anotote.topVote.currentUserVote == 0" (click)="downvote()" alt="">
                <img src="assets/img/downIconwhite.svg" *ngIf="current_active_anotote.topVote.isCurrentUserVote == 1 && current_active_anotote.topVote.currentUserVote == 1" alt="">
            </ng-container>
            <ng-container *ngIf="current_color == 'top' && current_active_anotote.active_tab == 'top'">
                <img src="assets/img/upArrow.svg" *ngIf="current_active_anotote.anototeDetail.userAnnotote.isCurrentUserVote == 0 && current_active_anotote.anototeDetail.userAnnotote.currentUserVote == 0" (click)="upvote()" alt="">
                <img src="assets/img/upArrow.svg" *ngIf="current_active_anotote.anototeDetail.userAnnotote.isCurrentUserVote == 1 && current_active_anotote.anototeDetail.userAnnotote.currentUserVote == 0" alt="">
                <img src="assets/img/upArrowgreen.svg" *ngIf="current_active_anotote.anototeDetail.userAnnotote.isCurrentUserVote == 1 && current_active_anotote.anototeDetail.userAnnotote.currentUserVote == 1" alt="">
                <span>{{current_active_anotote.anototeDetail.userAnnotote.rating}}%</span>
                <img src="assets/img/downIcon.svg" *ngIf="current_active_anotote.anototeDetail.userAnnotote.isCurrentUserVote == 1 && current_active_anotote.anototeDetail.userAnnotote.currentUserVote == 0" alt="">
                <img src="assets/img/downIconwhite.svg" *ngIf="current_active_anotote.anototeDetail.userAnnotote.isCurrentUserVote == 0 && current_active_anotote.anototeDetail.userAnnotote.currentUserVote == 0" (click)="downvote()" alt="">
                <img src="assets/img/downIconwhite.svg" *ngIf="current_active_anotote.anototeDetail.userAnnotote.isCurrentUserVote == 1 && current_active_anotote.anototeDetail.userAnnotote.currentUserVote == 1" alt="">
            </ng-container>
            <ng-container *ngIf="current_color != 'top' && current_active_anotote.active_tab == 'follows'">
                <ng-container *ngFor="let user of current_active_anotote.userAnnotote.anototeDetail.follows">
                    <img src="assets/img/upArrow.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 0 && user.followTote.currentUserVote == 0" (click)="upvote()" alt="">
                    <img src="assets/img/upArrow.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 1 && user.followTote.currentUserVote == 0" alt="">
                    <img src="assets/img/upArrowgreen.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 1 && user.followTote.currentUserVote == 1" alt="">
                    <span *ngIf="user.firstName == current_active_anotote.selected_follower_name">{{user.followTote.rating}}%</span>
                    <img src="assets/img/downIcon.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 1 && user.followTote.currentUserVote == 0" alt="">
                    <img src="assets/img/downIconwhite.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 0 && user.followTote.currentUserVote == 0" (click)="downvote()" alt="">
                    <img src="assets/img/downIconwhite.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 1 && user.followTote.currentUserVote == 1" alt="">
                </ng-container>
            </ng-container>
            <ng-container *ngIf="current_color == 'top' && current_active_anotote.active_tab == 'follows'">
                <ng-container *ngFor="let user of current_active_anotote.anototeDetail.follows">
                    <img src="assets/img/upArrow.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 0 && user.followTote.currentUserVote == 0" (click)="upvote()" alt="">
                    <img src="assets/img/upArrow.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 1 && user.followTote.currentUserVote == 0" alt="">
                    <img src="assets/img/upArrowgreen.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 1 && user.followTote.currentUserVote == 1" alt="">
                    <span *ngIf="user.firstName == current_active_anotote.selected_follower_name">{{user.followTote.rating}}%</span>
                    <img src="assets/img/downIcon.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 1 && user.followTote.currentUserVote == 0" alt="">
                    <img src="assets/img/downIconwhite.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 0 && user.followTote.currentUserVote == 0" (click)="downvote()" alt="">
                    <img src="assets/img/downIconwhite.svg" *ngIf="user.firstName == current_active_anotote.selected_follower_name && user.followTote.isCurrentUserVote == 1 && user.followTote.currentUserVote == 1" alt="">
                </ng-container>
            </ng-container>
        </div>
        <div class="topTab">
            <span *ngIf="current_color != 'top' && current_active_anotote.active_tab == 'follows'">{{current_active_anotote.selected_follower_name}}
                <i *ngIf="current_active_anotote.userAnnotote.anototeDetail.follows.length > 1">({{current_active_anotote.userAnnotote.anototeDetail.follows.length}})</i>
            </span>
            <span *ngIf="current_color == 'top' && current_active_anotote.active_tab == 'follows'">{{current_active_anotote.selected_follower_name}}
                <i *ngIf="current_active_anotote.anototeDetail.follows.length > 1">({{current_active_anotote.anototeDetail.follows.length}})</i>
            </span>
            <span *ngIf="current_active_anotote.active_tab == 'top'">TOP</span>
        </div>
    </ion-toolbar>
</ion-footer>
<ion-footer class="message-bottom" *ngIf="loading_check">
    <ion-toolbar color="dark">
        <p class="messageLoading">{{loading_message}}</p>
    </ion-toolbar>
</ion-footer>