.product-list .item.active strong,
.product-list .item.active ion-icon,
.product-list .item.active .time span {
    color: #ff001d;
}

.fancy-bars {
    width: 10px;
    position: fixed;
    top: 92px;
    right: 2px;
    bottom: 36px;
    overflow: hidden;
}

.fancy-bars span {
    height: 2px;
    margin: 0 0 5px;
    font-size: 0;
    display: block;
    background: #b3b3b3;
}

.fancy-bars span.red {
    background: red;
}

.fancy-bars span.green {
    background: green;
}

.toolbar-content {
    padding: 0 30px;
}

.bar-buttons-md {
    order: 1;
}

page-anotote-list {
    .aling-left {
        float: left;
    }
    .header-socials {
        width: 100%;
        padding: 10px 0 0 !important;
        text-align: center;
        background: none;
    }
    .header-socials .item:first-child {
        width: 38px;
    }
    .first-btn {
        height: 65px !important;
    }
    .first-btn:hover {
        background: none !important;
    }
    .align-left {
        float: left;
    }
    .header-socials .item {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        text-align: center;
        background: none;
    }
    .header-socials .item span {
        font-size: 15px;
        line-height: 19px;
        color: #fff;
        display: block;
    }
    .header-socials .item ion-icon {
        font-size: 25px;
        line-height: 29px;
        color: #fff;
        display: block;
    }
    .header-socials .item button {
        background: none;
        box-shadow: none;
    }
    .product-list {
        .check {
            width: 17px;
            height: 18px;
            padding: 15px 0 0;
            float: left;
        }
        .txt strong,
        .item.active .txt strong {
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
            display: block;
            color: #000;
        }
        .item .time {
            float: right;
        }
        .item.active .time span,
        .item.active .time ion-icon {
            margin-left: 4px;
            color: #cbcbcb;
        }
        .txt-holder {
            overflow: hidden;
        }
        .profile-wrap {
            padding: 10px 5px !important;
            &.even {
                background: #CCC;
            }
            .item-inner {
                padding: 0px;
                width: 100%;
            }
            .label-ios {
                margin: 0px;
                display: table;
                width: 100%;
                >div {
                    display: table-cell;
                    float: none;
                    vertical-align: middle;
                    padding: 0px;
                    &.check {
                        width: 15%;
                        text-align: center;
                        padding-right: 10px;
                    }
                    .time {
                        float: left;
                        width: 100%;
                    }
                    .txt-holder {
                        strong {
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
    .message-underlist{
        .header{
            padding: 20px 0;
            figure{
                margin: 0px;
                display: inline-block;
                width: 9%;
                text-align: left;
                vertical-align: middle;
                img{
                    width: 6px;
                }
            }
            .underlist-text{
                display: inline-block;
                width: 90%;
                vertical-align: middle;
                strong{
                    display: -webkit-inline-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
                .time{
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    em{
                        width: 60px;
                        img{
                            width: 16px;
                            float: right;
                            margin-left: 5px;
                        }
                    }
                }
                .btns-area{
                    button{
                        float: left;
                        font-size: 12px !important;
                        background: #e0e0e0;
                        margin-right: 20px !important;
                        &.me-tab{
                            background: #2ba600;
                        }
                    }
                }
            }
        }
        .underlist-items{
            padding: 0px;
            .item-inner{
                padding: 0px;
                .label-ios{
                    margin: 0px;
                    padding: 15px 0px;
                    .status{
                        width: 22px;
                        height: 22px;
                        font-size: 30px;
                        line-height: 1;
                    }
                    .txt{
                        margin: 0px;
                        padding: 0px;
                        float: right;
                        width: 88%;
                    }
                }
            }
        }
    }
}