<ion-header class="userHead">
    <ion-toolbar [color]="stream">
        <div class="resultUserHead" *ngIf="initiateChat == true">
            <span [ngClass]="{'me': stream == 'me','follows':stream == 'follows','top':stream == 'top'}"><img src="assets/img/chatWhiteIcon.svg" alt="" /></span>
            <input search-field id="search_field_id" name="search" class="search_field" [(ngModel)]="usersForChat" (ngModelChange)="value_updating_search()" type="text" placeholder="Enter a name to chat" />
            <img src="assets/img/closeIcon.svg" alt="" (click)="dissmiss()" />
        </div>
        <div class="searchUserHead" *ngIf="initiateChat == false">
            <img src="assets/img/closeIcon.svg" alt="" (click)="dissmiss()" />
            <input *ngIf="anotote != null" disabled search-field id="search_field_id" name="search" class="search_field" [(ngModel)]="search_txt" type="text" placeholder="Enter a Name to Chat" />
            <span [ngClass]="{'me': stream == 'me','follows':stream == 'follows','top':stream == 'top','anon':stream == 'anon'}" *ngIf="anotote != null"><img src="assets/img/plusIcon.svg" alt="" /></span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content swipe-vertical padding class="searchPage">
    <div class="resultWidget" *ngIf="initiateChat == true">
        <ul>
            <li *ngIf="search_loading == true" padding text-center>
                <ion-spinner></ion-spinner>
            </li>
            <li *ngFor="let search_result of search_results" (click)="send_message(search_result)">
                <figure>
                    <img *ngIf="search_result.photo== null || search_result.photo==''" src="assets/img/img3.jpg">
                    <img (load)="loaded = true" [ngClass]="{'img-loaded': loaded}" *ngIf="search_result.photo != null && search_result.photo != ''" [hidden]="!loaded" [src]="search_result.photo | image_base_path">
                    <ion-spinner *ngIf="!loaded && search_result.photo != null && search_result.photo != ''"></ion-spinner>
                </figure>
                <figcaption class="followUser">
                    <p>{{search_result.firstName}} <img *ngIf="search_result.isFollowed == 1" class="star-icon" src="assets/img/star-gray.png" alt=""></p>
                    <span class="rightAdd" *ngIf="search_result.isFollowed == 0 && search_result.follow_loading == false" (click)="followUser($event,search_result)">FOLLOW</span>
                    <span class="rightAdd" *ngIf="search_result.follow_loading == true">
                        <ion-spinner name="bubbles"></ion-spinner>
                    </span>
                    <!-- <span class="rightAdd" *ngIf="search_result.isFollowed == 1">@</span> -->
                </figcaption>
            </li>
        </ul>
    </div>
    <div class="userWidget" *ngIf="initiateChat == false">
        <ul>
            <li *ngIf="anotote != null && stream != 'me'" (click)="saveThis()">
                <img src="assets/img/cloudIconGray.svg" alt="" />
                <span>Save this</span>
            </li>
            <!-- <li *ngIf="anotote != null && stream == 'anon'" (click)="addToMeStream()">
                <img src="assets/img/cloudIconGray.svg" alt="" />
                <span>Add to me stream</span>
            </li> -->
            <li *ngIf="anotote != null && stream != 'me' && stream != 'anon'" (click)="bookmarkThis()">
                <img src="assets/img/bookmarkIconGray.svg" alt="" />
                <span>Bookmark this </span>
            </li>
            <li (click)="findChatter()">
                <img src="assets/img/chatIcon.svg" alt="" />
                <span>Chat</span>
            </li>
            <!-- <li>
                <img src="assets/img/uploadIcon.svg" alt="" />
                <span>Upload </span>
            </li> -->
        </ul>
    </div>
</ion-content>