<ion-header class="userHead">
    <ion-toolbar [color]="stream">
        <div class="resultUserHead" [ngClass]="{'forNotOn': (doChat == false && doSave == false && doBookmark == false)}" *ngIf="initiateChat == true">
            <ng-container *ngIf="doChat == true || doSave == true || doBookmark == true">
                <div class="inputField">
                    <img src="assets/img/closeIconGray.svg" alt="" (click)="dissmiss()" />
                    <input search-field id="search_field_id" [disabled]="forChats" *ngIf="doChat == true" name="search" class="search_field" [(ngModel)]="usersForChat" (ngModelChange)="value_updating_search()" type="text" placeholder="Enter a name to chat with" />
                    <form (ngSubmit)="scrape_this_url('save')" *ngIf="doSave == true">
                        <input search-field id="search_field_id" name="search" class="search_field" [(ngModel)]="usersForChat" type="text" placeholder="Enter a link to save" />
                    </form>
                    <form (ngSubmit)="scrape_this_url('bookmark')" *ngIf="doBookmark == true">
                        <input search-field id="search_field_id" name="search" class="search_field" [(ngModel)]="usersForChat" type="text" placeholder="Enter a link to bookmark" />
                    </form>
                </div>
                <span [ngClass]="{'me': stream == 'me','follows':stream == 'follows','top':stream == 'top'}" *ngIf="doChat == true">
                    <img src="assets/img/chatWhiteIcon.svg" alt="" />
                </span>
                <span [ngClass]="{'me': stream == 'me','follows':stream == 'follows','top':stream == 'top'}" *ngIf="doSave == true">
                    <img src="assets/img/cloudIconWhite.svg" alt="" />
                </span>
                <span [ngClass]="{'me': stream == 'me','follows':stream == 'follows','top':stream == 'top'}" *ngIf="doBookmark == true">
                    <img src="assets/img/bookmarkIconWhite.svg" alt="" />
                </span>
            </ng-container>
            <ng-container *ngIf="anotote == null && (doChat == false && doSave == false && doBookmark == false)">
                <img class="imgNotOn" src="assets/img/closeIcon.svg" alt="" (click)="dissmiss()" />
                <div class="notOnField">
                    <input search-field id="search_field_id" name="search" class="search_field" [(ngModel)]="usersForChat" (ngModelChange)="value_updating_search()" type="text" placeholder="Enter a link or a name" />
                </div>
                <span [ngClass]="{'me': stream == 'me','follows':stream == 'follows','top':stream == 'top','anon':stream == 'anon'}">
                    <img src="assets/img/plusIcon.svg" alt="" />
                </span>
            </ng-container>
        </div>
        <div class="searchUserHead" *ngIf="initiateChat == false">
            <div class="inputField">
                <img src="assets/img/closeIconGray.svg" alt="" (click)="clearTote()" />
                <input *ngIf="anotote != null" disabled search-field id="search_field_id" name="search" class="search_field" [(ngModel)]="search_txt" type="text" placeholder="Enter a link or a name">
            </div>
            <span [ngClass]="{'me': stream == 'me','follows':stream == 'follows','top':stream == 'top','anon':stream == 'anon'}" *ngIf="anotote != null">
                <img src="assets/img/plusIcon.svg" alt="" />
            </span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content swipe-vertical padding class="searchPage">
    <div class="resultWidget" *ngIf="initiateChat == true">
        <ion-list class="product-list loader-panel" *ngIf="search_loading">
            <ion-item>
                <div>
                    <div class="img-holder">
                    </div>
                    <div class="txt line-loader">
                        <div class="line-top">
                            <span class="head-line"></span>
                        </div>
                        <div class="line-bot">
                            <span class="name-line"></span>
                            <span class="date-line"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div>
                    <div class="img-holder">
                    </div>
                    <div class="txt line-loader">
                        <div class="line-top">
                            <span class="head-line"></span>
                        </div>
                        <div class="line-bot">
                            <span class="name-line"></span>
                            <span class="date-line"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div>
                    <div class="img-holder">
                    </div>
                    <div class="txt line-loader">
                        <div class="line-top">
                            <span class="head-line"></span>
                        </div>
                        <div class="line-bot">
                            <span class="name-line"></span>
                            <span class="date-line"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div>
                    <div class="img-holder">
                    </div>
                    <div class="txt line-loader">
                        <div class="line-top">
                            <span class="head-line"></span>
                        </div>
                        <div class="line-bot">
                            <span class="name-line"></span>
                            <span class="date-line"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div>
                    <div class="img-holder">
                    </div>
                    <div class="txt line-loader">
                        <div class="line-top">
                            <span class="head-line"></span>
                        </div>
                        <div class="line-bot">
                            <span class="name-line"></span>
                            <span class="date-line"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div>
                    <div class="img-holder">
                    </div>
                    <div class="txt line-loader">
                        <div class="line-top">
                            <span class="head-line"></span>
                        </div>
                        <div class="line-bot">
                            <span class="name-line"></span>
                            <span class="date-line"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div>
                    <div class="img-holder">
                    </div>
                    <div class="txt line-loader">
                        <div class="line-top">
                            <span class="head-line"></span>
                        </div>
                        <div class="line-bot">
                            <span class="name-line"></span>
                            <span class="date-line"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div>
                    <div class="img-holder">
                    </div>
                    <div class="txt line-loader">
                        <div class="line-top">
                            <span class="head-line"></span>
                        </div>
                        <div class="line-bot">
                            <span class="name-line"></span>
                            <span class="date-line"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ul>
            <!-- <li *ngIf="search_loading == true" padding text-center>
                <ion-spinner></ion-spinner>
            </li> -->
            <ng-container *ngIf="forChats == false">
                <li *ngFor="let search_result of search_results" (click)="send_message(search_result)">
                    <figure [ngClass]="{'headAndShoulder': search_result.photo== null || search_result.photo==''}">
                        <img *ngIf="search_result.photo== null || search_result.photo==''" src="assets/img/userGray.svg">
                        <img (load)="loaded = true" [ngClass]="{'img-loaded': loaded}" *ngIf="search_result.photo != null && search_result.photo != ''" [hidden]="!loaded" [src]="search_result.photo | image_base_path">
                        <ion-spinner *ngIf="!loaded && search_result.photo != null && search_result.photo != ''"></ion-spinner>
                    </figure>
                    <figcaption class="followUser">
                        <p>{{search_result.firstName}}
                            <img *ngIf="search_result.isFollowed == 1" class="star-icon" src="assets/img/star-gray.png" alt="">
                        </p>
                        <span class="rightAdd" *ngIf="search_result.isFollowed == 0 && search_result.follow_loading == false" (click)="followUser($event,search_result)">FOLLOW</span>
                        <span class="rightAdd" *ngIf="search_result.follow_loading == true">
                            <ion-spinner name="bubbles"></ion-spinner>
                        </span>
                        <!-- <span class="rightAdd" *ngIf="search_result.isFollowed == 1">@</span> -->
                    </figcaption>
                </li>
            </ng-container>
            <ng-container *ngIf="forChats == true">
                <li (click)="openChat()" *ngIf="!search_loading">
                    <img src="assets/img/chatIcon.svg" alt="" />
                    <span>New Chat</span>
                </li>
                <li *ngFor="let search_result of search_results" (click)="openChat(search_result)">
                    <img src="assets/img/chatIcon.svg" alt="" />
                    <span *ngIf="search_result.messagesUser.length > 0 && search_result.messagesUser[0].subject != null">{{search_result.messagesUser[0].subject}}</span>
                    <span *ngIf="search_result.messagesUser.length > 0 && search_result.messagesUser[0].subject == null">Chat</span>
                </li>
            </ng-container>
            <ng-container *ngIf="search_results.length == 0 && search_loading == false && doChat == false && doSave == false && doBookmark == false">
                <li (click)="scrape_this_url('save')">
                    <img src="assets/img/cloudIconGray.svg" alt="" />
                    <span>Save</span>
                </li>
                <li (click)="scrape_this_url('bookmark')">
                    <img src="assets/img/bookmarkIconGray.svg" alt="" />
                    <span>Bookmark</span>
                </li>
                <li (click)="doSomething('chat')" *ngIf="webUrlEntered == false">
                    <img src="assets/img/chatIcon.svg" alt="" />
                    <span>Chat</span>
                </li>
            </ng-container>
        </ul>

    </div>
    <div class="userWidget" *ngIf="initiateChat == false">
        <ul>
            <li *ngIf="anotote != null && stream != 'me' && anotote.isMe == 0" (click)="saveThis()">
                <img src="assets/img/cloudIconGray.svg" alt="" />
                <span>Save this</span>
            </li>
            <!-- <li *ngIf="anotote != null && stream == 'anon'" (click)="addToMeStream()">
                <img src="assets/img/cloudIconGray.svg" alt="" />
                <span>Add to me stream</span>
            </li> -->
            <li *ngIf="anotote != null && stream != 'me'" (click)="bookmarkThis()">
                <img src="assets/img/bookmarkIconGray.svg" alt="" />
                <span>Bookmark this </span>
            </li>
            <li (click)="doSomething('chat')">
                <img src="assets/img/chatIcon.svg" alt="" />
                <span>Chat about this</span>
            </li>
            <!-- <li>
                <img src="assets/img/uploadIcon.svg" alt="" />
                <span>Upload </span>
            </li> -->
        </ul>
    </div>
    <div class="top_empty_box" *ngIf="search_results.length == 0" (click)="dissmiss()"></div>
</ion-content>