<div class="top_empty_box" (tap)="dismiss()" *ngIf="follows.length < 4">
</div>

<ion-toolbar class="follows_header" color="light" no-border>
    <ion-buttons start>
        <button navPop ion-button icon-only>
                <ion-icon name="close"></ion-icon>
            </button>
    </ion-buttons>
    <ion-title>Follows ({{follows.length}})</ion-title>
</ion-toolbar>

<ion-content class="followWidget" [ngClass]="{'pop_wrapper': follows.length < 4, 'pop_wrapper_full': follows.length > 3}" class="pop_wrapper" padding>
    <div class="wrapper">
        <ul no-lines class="content">
            <li *ngFor="let user of follows" (click)="choose_this_user(user)">
                <div class="image_holder">
                    <img *ngIf="user.photo != '' && user.photo != null" src="{{user.photo | image_base_path}}">
                    <img *ngIf="user.photo == '' || user.photo == null" src="assets/img/img3.jpg">
                </div>
                <div class="name">
                    <p>{{user.firstName}} {{user.lastName}}</p>
                </div>

            </li>
        </ul>
    </div>
</ion-content>