<div class="tag-panel">
    <div class="top_empty_box" (tap)="dismiss()">
    </div>
    <div class="tags-panel">
        <h3>Tags</h3>
        <div class="tag_input" *ngIf="stream == 'me'">
            <input name="tagsInput" [(ngModel)]="tag_input" (ngModelChange)="tag_user()" type="text" placeholder="Enter tag" />
            <ul class="tagList" *ngIf="show_autocomplete == true">
                <li *ngIf="search_user == true" text-center>
                    <ion-spinner></ion-spinner>
                </li>
                <li *ngIf="no_user_found == true" text-center>
                    No Users found.
                </li>
                <li *ngFor="let user of users" (click)="selected_user(user)">
                    <figure>
                        <img *ngIf="user.photo== null || user.photo==''" src="assets/img/img3.jpg">
                        <img (load)="loaded = true" [ngClass]="{'img-loaded': loaded}" *ngIf="user.photo != null && user.photo != ''" [hidden]="!loaded" [src]="user.photo | image_base_path">
                        <ion-spinner *ngIf="!loaded && user.photo != null && user.photo != ''"></ion-spinner>
                    </figure>
                    <figcaption>
                        <span>{{user.firstName}} {{user.lastName}}</span>
                    </figcaption>
                </li>
            </ul>
            <button (tap)="add_tag()">Add</button>
            <ion-item *ngIf="anotation_or_anotote == false">
                <ion-label>Type of Tag</ion-label>
                <ion-select [(ngModel)]="tags_type">
                    <ion-option value="1" selected>^</ion-option>
                    <ion-option value="2">@</ion-option>
                    <ion-option value="3">#</ion-option>
                    <ion-option value="4">$</ion-option>
                </ion-select>
            </ion-item>
        </div>
        <ul class="tag-list">
            <li *ngFor="let tag of tags">
                <img class="play-icon" *ngIf="tag.tagId == 1" src="assets/img/top-arrow.png" alt="">
                <img class="play-icon" *ngIf="tag.tagId == 2" src="assets/img/icon-gray.png" alt="">
                <img class="play-icon" *ngIf="tag.tagId == 3 || anotation_or_anotote == true" src="assets/img/hash-gray.png" alt="">
                <img class="play-icon" *ngIf="tag.tagId == 4" src="assets/img/dollar-gray.png" alt="">
                <span>{{tag.tagText}}</span>
            </li>
        </ul>
    </div>
</div>