<div class="tag-panel">
    <div class="top_empty_box" (tap)="dismiss()">
    </div>
    <div class="tags-panel" [ngClass]="{'tagTypes': anotation_or_anotote == false}" *ngIf="show == true" [@enterAnimation]>
        <div class="tabWidget">
            <ul class="tag-list" *ngIf="!no_tags_found">
                <li *ngFor="let tag of tags">
                    <img class="play-icon" *ngIf="tag.tagId == 1" src="assets/img/top-arrow.png" alt="">
                    <img class="play-icon" *ngIf="tag.tagId == 2" src="assets/img/icon-gray.png" alt="">
                    <img class="play-icon" *ngIf="tag.tagId == 3" src="assets/img/hash-gray.png" alt="">
                    <img class="play-icon" *ngIf="tag.tagId == 4" src="assets/img/dollar-gray.png" alt="">
                    <span>{{tag.tagText}}</span>
                </li>
            </ul>
            <ul class="tag-list" *ngIf="no_tags_found == true && stream != 'me'">
                <li text-center>
                    No Tags found.
                </li>
            </ul>
        </div>
        <div class="tag_input" *ngIf="stream == 'me'">
            <ul class="tagList" *ngIf="show_autocomplete == true">
                <li *ngIf="no_user_found == true" text-center>
                    No Users found.
                </li>
                <li *ngFor="let user of users" (click)="selected_user(user)">
                    <figure>
                        <img *ngIf="user.photo== null || user.photo==''" src="assets/img/img3.jpg">
                        <img (load)="loaded = true" [ngClass]="{'img-loaded': loaded}" *ngIf="user.photo != null && user.photo != ''" [hidden]="!loaded" [src]="user.photo | image_base_path">
                        <ion-spinner *ngIf="!loaded && user.photo != null && user.photo != ''"></ion-spinner>
                    </figure>
                    <figcaption>
                        <span>{{user.firstName}} </span>
                    </figcaption>
                </li>
                <li *ngIf="search_user == true" text-center>
                    <ion-spinner></ion-spinner>
                </li>
            </ul>
        </div>
        <div class="sharing_pop" *ngIf="stream == 'me'">
            <div class="main_label">
                <img alt="" src="assets/img/hashIcon.svg">
            </div>
            <div class="tagText bottom-border">
                <form (ngSubmit)="saveTags()">
                    <input name="tagsInput" [(ngModel)]="tag_input" (ngModelChange)="tag_user()" type="text" placeholder="Add tags(#,$,@) or paste link" />
                </form>
            </div>
        </div>
    </div>
</div>