<div class="top_empty_box" (tap)="dismiss()">
</div>
<div class="content_follows_profile" [@enterAnimation] *ngIf="show == true">
    <div *ngIf="stream != 'me'" no-lines class="sharing_pop bottom-border">
        <div class="main_label bookmarkIcon">
            <img src="assets/img/bookmark.svg" />
        </div>
        <ul>
            <li (click)="bookmarkTote()">
                <span>Bookmark</span>
            </li>
        </ul>
    </div>
    <div *ngIf="stream != 'me'" no-lines class="sharing_pop bottom-border">
        <div class="main_label saveIcon">
            <img src="assets/img/cloudIconGray.svg" />
        </div>
        <ul>
            <li (click)="saveTote()">
                <span>Save</span>
            </li>
        </ul>
    </div>
    <div no-lines class="sharing_pop bottom-border">
        <div class="main_label">
            <img src="assets/img/shareIconGray.svg" />
        </div>
        <ul>
            <li (tap)="share('copy')">
                <span>Copy</span>
            </li>
            <li (tap)="chat()">
                <span>Chat</span>
            </li>
            <li (tap)="share('email')">
                <span>Email</span>
            </li>
            <li (tap)="share('twitter')">
                <span>Twitter</span>
            </li>
            <li class="tabOption" (tap)="share('all')">
                <img src="assets/img/dotsOption.svg" />
            </li>
        </ul>
    </div>
    <div no-lines class="sharing_pop three bottom-border">
        <div class="main_label">
            <img src="assets/img/hashIconGray.svg" />
        </div>
        <ul *ngIf="stream != 'top'">
            <li *ngIf="anotote.userAnnotote.annototeTags.length == 0 && stream == 'me'" (tap)="presentTagsModal()">
                <span>Add Tags</span>
            </li>
            <li *ngIf="anotote.userAnnotote.annototeTags.length == 0 && stream == 'follows'" (tap)="presentTagsModal()">
                <span>No tags added</span>
            </li>
            <ng-container *ngFor="let tag of anotote.userAnnotote.annototeTags; let i=index">
                <li *ngIf="i < 2">
                    <span>{{tag.tagText}}</span>
                </li>
            </ng-container>
            <li class="tabOption" (tap)="presentTagsModal()">
                <img src="assets/img/dotsOption.svg" />
            </li>
        </ul>
        <ul *ngIf="stream == 'top'">
            <li *ngIf="anotote.tags.length == 0">
                <span>No tags added</span>
            </li>
            <ng-container *ngFor="let tag of anotote.tags; let i=index">
                <li *ngIf="i < 2">
                    <span>{{tag.tagText}}</span>
                </li>
            </ng-container>
            <li class="tabOption" (tap)="presentTagsModal()">
                <img src="assets/img/dotsOption.svg" />
            </li>
        </ul>
    </div>
    <div *ngIf="stream == 'me'" no-lines class="sharing_pop two bottom-border">
        <div class="main_label">
            <img src="assets/img/privacyIconGray.svg" />
        </div>
        <ul>
            <li (click)="change_privacy('public')">
                <span [ngClass]="{'high': anotote.userAnnotote.privacy == 0}">Public</span>
            </li>
            <li (click)="change_privacy('private')">
                <span [ngClass]="{'high': anotote.userAnnotote.privacy == 1}">Private</span>
            </li>
        </ul>
    </div>
    <div *ngIf="stream == 'me'" no-lines class="sharing_pop four bottom-border">
        <div class="main_label">
            <img src="assets/img/deleteIconGray.svg" />
        </div>
        <ul>
            <li (click)="delete_anotote()">
                <span>Delete</span>
            </li>
        </ul>
    </div>
</div>