<div class="top_empty_box" (tap)="dismiss()">
</div>
<div class="content_follows_profile" [@enterAnimation] *ngIf="show == true">
    <div *ngIf="stream != 'me' && anotote.chatGroup == null && anotote.isMe == 0" no-lines class="sharing_pop bottom-border">
        <div class="main_label bookmarkIcon">
            <img src="assets/img/bookmark.svg" />
        </div>
        <ul>
            <li (click)="bookmarkTote()">
                <span>Bookmark</span>
            </li>
        </ul>
    </div>
    <div *ngIf="stream != 'me' && anotote.chatGroup == null && anotote.isMe == 0" no-lines class="sharing_pop bottom-border">
        <div class="main_label saveIcon">
            <img src="assets/img/cloudIconGray.svg" />
        </div>
        <ul>
            <li (click)="saveTote()">
                <span>Save</span>
            </li>
        </ul>
    </div>
    <div *ngIf="anotote.chatGroup != null && message != null && message.senderId != user.id && (anotote.chatGroup.groupUsers | chatVoteOptions) == true" (click)="markReadUnread()" no-lines class="sharing_pop bottom-border">
        <div class="main_label markIcon">
            <img src="assets/img/markIcon.svg" />
        </div>
        <ul>
            <li>
                <span *ngIf="message.read == 0">Mark Read</span>
                <span *ngIf="message.read == 1">Mark Unread</span>
            </li>
        </ul>
    </div>
    <ng-container *ngIf="anotote.chatGroup && message == null">
        <div no-lines class="sharing_pop bottom-border">
            <div class="main_label shareIcon">
                <img src="assets/img/shareImg.svg" />
            </div>
            <ul>
                <li (tap)="share_chat('copy')">
                    <span>Copy</span>
                </li>
                <!-- <li (tap)="chat()">
                    <span>Chat</span>
                </li> -->
                <li (tap)="share_chat('email')">
                    <span>Email</span>
                </li>
                <li (tap)="share_chat('twitter')">
                    <span>Twitter</span>
                </li>
                <li class="tabOption" (tap)="share_chat('all')">
                    <img src="assets/img/option-icon.png" />
                </li>
            </ul>
        </div>
        <div no-lines class="sharing_pop three bottom-border">
            <div class="main_label shareIcon">
                <img src="assets/img/tagImg.svg" />
            </div>
            <ul>
                <li *ngIf="anotote.chatGroup.chatTags.length == 0 && (anotote.chatGroup.groupUsers | chatVoteOptions) == true" (tap)="presentTagsModal()">
                    <span>Add Tags</span>
                </li>
                <li *ngIf="anotote.chatGroup.chatTags.length == 0 && (anotote.chatGroup.groupUsers | chatVoteOptions) == false">
                    <span>No tags</span>
                </li>
                <ng-container *ngFor="let tag of anotote.chatGroup.chatTags; let i=index">
                    <li *ngIf="i < 3" (tap)="presentTagsModal()">
                        <span class="tags" [ngClass]="{'greaterThree': anotote.chatGroup.chatTags.length > 3}">
                            <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                            <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                            <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                            <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                        </span>
                    </li>
                </ng-container>
                <li class="tabOption" *ngIf="anotote.chatGroup.chatTags.length > 3" (tap)="presentTagsModal()">
                    <img src="assets/img/option-icon.png" />
                </li>
            </ul>
        </div>
        <div no-lines class="sharing_pop two bottom-border" *ngIf="(anotote.chatGroup.groupUsers | chatVoteOptions) == true">
            <div class="main_label">
                <img src="assets/img/privacyImg.svg" />
            </div>
            <ul>
                <li (click)="change_chatTote_privacy('public')">
                    <span [ngClass]="{'high': anotote.chatGroup.groupUsers[0].privacy == 0}">Public</span>
                </li>
                <li (click)="change_chatTote_privacy('private')">
                    <span [ngClass]="{'high': anotote.chatGroup.groupUsers[0].privacy == 1}">Private</span>
                </li>
            </ul>
        </div>
    </ng-container>
    <ng-container *ngIf="anotote.chatGroup == null">
        <div no-lines class="sharing_pop bottom-border">
            <div class="main_label shareIcon">
                <img src="assets/img/shareImg.svg" />
            </div>
            <ul>
                <li (tap)="share('copy')">
                    <span>Copy</span>
                </li>
                <li (tap)="chat()">
                    <span>Chat</span>
                </li>
                <li (tap)="share('email')">
                    <span>Email</span>
                </li>
                <li (tap)="share('twitter')">
                    <span>Twitter</span>
                </li>
                <li class="tabOption" (tap)="share('all')">
                    <img src="assets/img/option-icon.png" />
                </li>
            </ul>
        </div>
        <div no-lines class="sharing_pop three bottom-border">
            <div class="main_label shareIcon">
                <img src="assets/img/tagImg.svg" />
            </div>
            <ul *ngIf="actual_stream == 'me' || actual_stream == 'follows' || actual_stream == 'anon' || actual_stream == 'search'">
                <ng-container *ngIf="actual_stream == 'me' && stream == 'me'">
                    <li *ngIf="anotote.userAnnotote.anototeDetail.userAnnotote.tags.length == 0 && stream == 'me'" (tap)="presentTagsModal()">
                        <span>Add Tags</span>
                    </li>
                    <ng-container *ngFor="let tag of anotote.userAnnotote.anototeDetail.userAnnotote.tags; let i=index">
                        <li *ngIf="i < 3" (tap)="presentTagsModal()">
                            <span class="tags" [ngClass]="{'greaterThree': anotote.userAnnotote.anototeDetail.userAnnotote.tags.length > 3}">
                                <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                                <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                            </span>
                        </li>
                    </ng-container>
                    <li class="tabOption" *ngIf="anotote.userAnnotote.anototeDetail.userAnnotote.tags.length > 3" (tap)="presentTagsModal()">
                        <img src="assets/img/option-icon.png" />
                    </li>
                </ng-container>
                <ng-container *ngIf="(actual_stream == 'follows' || actual_stream == 'search') && stream == 'me'">
                    <li *ngIf="anotote.userAnnotote.anototeDetail.meToteFollowTop.tags.length == 0" (tap)="presentTagsModal()">
                        <span>Add tags</span>
                    </li>
                    <ng-container *ngFor="let tag of anotote.userAnnotote.anototeDetail.meToteFollowTop.tags; let i=index">
                        <li *ngIf="i < 3" (tap)="presentTagsModal()">
                            <span class="tags" [ngClass]="{'greaterThree': anotote.userAnnotote.anototeDetail.meToteFollowTop.tags.length > 3}">
                                <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                                <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                            </span>
                        </li>
                    </ng-container>
                    <li class="tabOption" *ngIf="anotote.userAnnotote.anototeDetail.meToteFollowTop.tags.length > 3" (tap)="presentTagsModal()">
                        <img src="assets/img/option-icon.png" />
                    </li>
                </ng-container>
                <ng-container *ngIf="stream == 'follows'">
                    <li *ngIf="anotote.follower_tags.length == 0">
                        <span>No tags</span>
                    </li>
                    <ng-container *ngFor="let tag of anotote.follower_tags; let i=index">
                        <li *ngIf="i < 3" (tap)="presentTagsModal()">
                            <span class="tags" [ngClass]="{'greaterThree': anotote.follower_tags.length > 3}">
                                <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                                <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                            </span>
                        </li>
                    </ng-container>
                    <li class="tabOption" *ngIf="anotote.follower_tags.length > 3" (tap)="presentTagsModal()">
                        <img src="assets/img/option-icon.png" />
                    </li>
                </ng-container>
                <ng-container *ngIf="stream == 'top'">
                    <li *ngIf="anotote.top_tags.length == 0">
                        <span>No tags</span>
                    </li>
                    <ng-container *ngFor="let tag of anotote.top_tags; let i=index">
                        <li *ngIf="i < 3" (tap)="presentTagsModal()">
                            <span class="tags" [ngClass]="{'greaterThree': anotote.top_tags.length > 3}">
                                <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                                <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                            </span>
                        </li>
                    </ng-container>
                    <li class="tabOption" *ngIf="anotote.top_tags.length > 3" (tap)="presentTagsModal()">
                        <img src="assets/img/option-icon.png" />
                    </li>
                </ng-container>
                <ng-container *ngIf="actual_stream == 'anon' && stream == 'me'">
                    <li *ngIf="anotote.meToteFollowTop.tags.length == 0" (tap)="presentTagsModal()">
                        <span>Add Tags</span>
                    </li>
                    <ng-container *ngFor="let tag of anotote.meToteFollowTop.tags; let i=index">
                        <li *ngIf="i < 3" (tap)="presentTagsModal()">
                            <span class="tags" [ngClass]="{'greaterThree': anotote.meToteFollowTop.tags.length > 3}">
                                <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                                <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                            </span>
                        </li>
                    </ng-container>
                    <li class="tabOption" *ngIf="anotote.meToteFollowTop.tags.length > 3" (tap)="presentTagsModal()">
                        <img src="assets/img/option-icon.png" />
                    </li>
                </ng-container>
            </ul>
            <ul *ngIf="actual_stream == 'top'">
                <ng-container *ngIf="stream == 'me'">
                    <li *ngIf="anotote.anototeDetail.meToteFollowTop.tags.length == 0" (tap)="presentTagsModal()">
                        <span>Add tags</span>
                    </li>
                    <ng-container *ngFor="let tag of anotote.anototeDetail.meToteFollowTop.tags; let i=index">
                        <li *ngIf="i < 3" (tap)="presentTagsModal()">
                            <span class="tags" [ngClass]="{'greaterThree': anotote.anototeDetail.meToteFollowTop.tags.length > 3}">
                                <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                                <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                            </span>
                        </li>
                    </ng-container>
                    <li class="tabOption" *ngIf="anotote.anototeDetail.meToteFollowTop.tags.length > 3" (tap)="presentTagsModal()">
                        <img src="assets/img/option-icon.png" />
                    </li>
                </ng-container>
                <ng-container *ngIf="stream == 'follows'">
                    <li *ngIf="anotote.follower_tags.length == 0">
                        <span>No tags</span>
                    </li>
                    <ng-container *ngFor="let tag of anotote.follower_tags; let i=index">
                        <li *ngIf="i < 3" (tap)="presentTagsModal()">
                            <span class="tags" [ngClass]="{'greaterThree': anotote.follower_tags.length > 3}">
                                <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                                <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                            </span>
                        </li>
                    </ng-container>
                    <li class="tabOption" *ngIf="anotote.follower_tags.length > 3" (tap)="presentTagsModal()">
                        <img src="assets/img/option-icon.png" />
                    </li>
                </ng-container>
                <ng-container *ngIf="stream == 'top'">
                    <li *ngIf="anotote.tags.length == 0">
                        <span>No tags</span>
                    </li>
                    <ng-container *ngFor="let tag of anotote.tags; let i=index">
                        <li *ngIf="i < 3" (tap)="presentTagsModal()">
                            <span class="tags" [ngClass]="{'greaterThree': anotote.tags.length > 3}">
                                <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                                <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                                <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                            </span>
                        </li>
                    </ng-container>
                    <li class="tabOption" *ngIf="anotote.tags.length > 3" (tap)="presentTagsModal()">
                        <img src="assets/img/option-icon.png" />
                    </li>
                </ng-container>
            </ul>
        </div>
        <div *ngIf="stream == 'me'" no-lines class="sharing_pop two bottom-border">
            <div class="main_label">
                <img src="assets/img/privacyImg.svg" />
            </div>
            <ul>
                <li (click)="change_privacy('public')">
                    <span [ngClass]="{'high': ((actual_stream == 'me' && anotote.userAnnotote.privacy == 0) || ((actual_stream == 'follows' || actual_stream == 'search') && anotote.userAnnotote.anototeDetail.meToteFollowTop.privacy == 0) || (actual_stream == 'top' && anotote.anototeDetail.meToteFollowTop.privacy == 0)) }">Public</span>
                </li>
                <li (click)="change_privacy('private')">
                    <span [ngClass]="{'high': ((actual_stream == 'me' && anotote.userAnnotote.privacy == 1) || ((actual_stream == 'follows' || actual_stream == 'search') && anotote.userAnnotote.anototeDetail.meToteFollowTop.privacy) == 1 || (actual_stream == 'top' && anotote.anototeDetail.meToteFollowTop.privacy == 1))}">Private</span>
                </li>
            </ul>
        </div>
    </ng-container>
    <div *ngIf="(stream == 'me' || (anotote.chatGroup != null && (anotote.chatGroup.groupUsers | chatVoteOptions))) && message == null" no-lines class="sharing_pop four bottom-border">
        <div class="main_label">
            <img src="assets/img/deleteIconGray.svg" />
        </div>
        <ul>
            <li (click)="delete_anotote()">
                <span>Delete</span>
            </li>
        </ul>
    </div>
    <div *ngIf="message != null" no-lines class="sharing_pop bottom-border">
        <div no-lines class="sharing_pop three bottom-border">
            <div class="main_label shareIcon">
                <img src="assets/img/tagImg.svg" />
            </div>
            <ul>
                <li *ngIf="message.messageTags.length == 0 && (anotote.chatGroup.groupUsers | chatVoteOptions) == true" (tap)="presentTagsModal()">
                    <span>Add Tags</span>
                </li>
                <li *ngIf="message.messageTags.length == 0 && (anotote.chatGroup.groupUsers | chatVoteOptions) == false">
                    <span>No tags</span>
                </li>
                <ng-container *ngFor="let tag of message.messageTags; let i=index">
                    <li *ngIf="i < 3" (tap)="presentTagsModal()">
                        <span class="tags" [ngClass]="{'greaterThree': message.messageTags.length > 3}">
                            <ng-container *ngIf="tag.tagId == 1">^</ng-container>
                            <ng-container *ngIf="tag.tagId == 2">@{{tag.tagText}}</ng-container>
                            <ng-container *ngIf="tag.tagId == 3">#{{tag.tagText}}</ng-container>
                            <ng-container *ngIf="tag.tagId == 4">${{tag.tagText}}</ng-container>
                        </span>
                    </li>
                </ng-container>
                <li class="tabOption" *ngIf="message.messageTags.length > 3" (tap)="presentTagsModal()">
                    <img src="assets/img/option-icon.png" />
                </li>
            </ul>
        </div>
        <div no-lines class="sharing_pop bottom-border">
            <div class="main_label shareIcon">
                <img src="assets/img/shareImg.svg" />
            </div>
            <ul>
                <li (tap)="share_message('copy')">
                    <span>Copy</span>
                </li>
                <li (tap)="chat()">
                    <span>Chat</span>
                </li>
                <li (tap)="share_message('email')">
                    <span>Email</span>
                </li>
                <li (tap)="share_message('twitter')">
                    <span>Twitter</span>
                </li>
                <li class="tabOption" (tap)="share_message('all')">
                    <img src="assets/img/option-icon.png" />
                </li>
            </ul>
        </div>
    </div>
</div>