page-front-view {
	.scroll-content{
		padding: 10px 16px 16px !important;
	}
	ion-buttons{
		img{
			width: 30px;
			margin: 11px 0px 11px 25px;
		}
	}
    #header button {
        font-size: 28px;
        line-height: 32px;
    }
    #header button.align-right {
        float: right;
    }
    .bar-buttons-md {
        order: 1;
    }
    .user-controls button {
        width: 100%;
        padding: 23px 35px !important;
        display: block;
        color: #0f000f;
        text-align: left;
        background: none;
        border-bottom: 1px solid #f7f4f4;
		&:focus{
			background: #f1f1f1;
		}
		img{
			width: 20px;
			display: inline-block;
			vertical-align: middle;
		}
    }
    .user-controls .item:first-child button {
        border-bottom: 2px solid #f0f0f0;
    }
    .user-controls button ion-icon {
        font-size: 20px;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        color: #cbcbcb;
    }
    .user-controls button span {
        padding-left: 18px;
		font-weight: bold;
        display: inline-block;
        vertical-align: middle;
    }
    .latest_totes_spinner {
        position: relative;
        width: 100%;
        ion-spinner {
            position: absolute;
            display: inline-block;
            width: 28px;
            height: 28px;
            right: 0;
            left: 0;
            top: 10px;
            margin: auto;
        }
    }
    .product-list .item {
        border-top: 2px solid #f0f0f0 !important;
        overflow: hidden;
		padding: 0px;
		margin: 0px;
		ion-label{
			margin: 0 0 -2px;	
		}
    }
    .product-list .img-holder,
    .product-list .img-holder img {
        width: 74px;
        height: 72px;
        float: left;
        background: gray;
    }
    .product-list .txt {
        padding: 24px 10px 5px 20px;
        color: #cbcbcb;
        overflow: hidden;
    }
    .product-list strong {
        margin: 0 0 8px;
        color: #0f000f;
        display: block;
        margin: 0;
        color: #0f000f;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .product-list .time {
        font-size: 13px;
        overflow: hidden;
    }
    .product-list em {
        float: right;
        font-style: normal;
    }
    .product-list button {
        padding: 0;
        float: right;
        background: none;
		margin-top: 2px !important;
    }
    .product-list .txt span {
        overflow: hidden;
		padding-right: 5px;
    }
}