page-front-view {
    // .bar-buttons {
    //     margin-right: 14px;
    // }
    .user-controls {
        margin-bottom: -1px;
    }
    .item-block {
        .item-inner {
            padding-right: 0px !important;
        }
    } // .img-loaded+ion-spinner {
    //     display: none;
    // } // .center in my case to make the spinner at the center
    .center {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .scroll-content {
        padding: 10px 25px 16px !important;
        background: #F5F5F5;
    }
    ion-fab {
        bottom: 30px !important;
        .fab {
            box-shadow: 0 4px 11px 2px #828282;
        }
    }
    ion-buttons {
        img {
            width: 30px;
            margin: 11px 0px 11px 25px;
        }
    }
    #header button {
        font-size: 28px;
        line-height: 32px;
    }
    #header button.align-right {
        float: right;
    }
    .bar-buttons-md {
        order: 1;
    }
    .user-controls {
        button {
            width: 100%;
            padding: 0 !important;
            display: block;
            color: #0f000f;
            text-align: left;
            background: none;
            border-bottom: 1px solid #eaeaea;
            background: #FFF;
            &:focus {
                background: #D9D9D9;
                img {
                    display: none;
                }
                .activeIcon {
                    display: inline-block;
                }
            }
            &:active {
                background: #D9D9D9;
                img {
                    display: none;
                }
                .activeIcon {
                    display: inline-block;
                }
            }
            &:visited {
                background: #D9D9D9;
                img {
                    display: none;
                }
                .activeIcon {
                    display: inline-block;
                }
            }
            figure {
                display: inline-block;
                vertical-align: middle;
                width: 50px;
                height: 72px;
                margin: 0px;
                text-align: center;
                padding: 17px 0;
                line-height: 3;
                img {
                    width: 28px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            span {
                padding-left: 0px;
                font-weight: normal;
                display: inline-block;
                vertical-align: middle;
                font-size: 15px;
            }
        }
        &.activated {
            .activeIcon {
                display: inline-block;
            }
        }
        .activeIcon {
            display: none;
        }
    }
    .user-controls .item:first-child button {
        border-bottom: 2px solid #f0f0f0;
    }
    .user-controls button ion-icon {
        font-size: 20px;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        color: #cbcbcb;
    } // .user-controls {
    //     button {
    //         padding: 0px;
    //         figure {
    //             display: inline-block;
    //             vertical-align: middle;
    //             width: 73px;
    //             height: 73px;
    //             margin: 0px;
    //         }
    //         span {
    //             padding-left: 22px;
    //             font-weight: normal;
    //             display: inline-block;
    //             vertical-align: middle;
    //             font-size: 15px;
    //         }
    //     }
    // }
    .latest_totes_spinner {
        position: relative;
        width: 100%;
        ion-spinner {
            position: absolute;
            display: inline-block;
            width: 28px;
            height: 28px;
            right: 0;
            left: 0;
            top: 10px;
            margin: auto;
        }
    }
    .product-list .item {
        border-top: 1px solid #f0f0f0 !important;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
        ion-label {
            margin: 0 0 -2px;
        }
    }
    .product-list .img-holder {
        width: 50px;
        height: 73px;
        float: left; // background-image: url(../assets/img/totoptionIocn.svg);
        background-image: url(../assets/img/option-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 5px;
    }
    .product-list .txt {
        padding: 26px 5px 10px 0px;
        color: #cbcbcb;
        overflow: hidden;
    }
    .product-list strong {
        margin: 0;
        color: #0f000f;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 4px;
    }
    .product-list .time {
        font-size: 14px;
        overflow: hidden;
        color: #afafaf;
        float: right;
    }
    .product-list {
        .toteText {
            p {
                width: calc(100% - 80px);
                display: inline-block;
                vertical-align: top;
                padding-left: 5px;
                margin-top: -1px;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                white-space: nowrap;
                word-break: break-all;
                font-size: 14px;
            }
            button {
                color: #8e9093;
                background: transparent;
                float: left;
                margin-top: 1px !important;
                img {
                    display: inline-block;
                    vertical-align: middle;
                    width: 14px;
                }
                ion-icon {
                    font-size: 16px;
                }
            }
        }
    }
    .product-list em {
        float: right;
        font-style: normal;
    }
    .product-list em button {
        color: #afafaf;
    }
    .product-list button {
        padding: 0;
        float: right;
        background: none;
        margin-top: 2px !important;
    }
    .product-list .txt span {
        overflow: hidden;
        padding-right: 5px;
    }
}