page-front-view {
    .bar-buttons {
        margin-right: 14px;
    }
    .user-controls {
        margin-bottom: -1px;
    }
    .item-block {
        .item-inner {
            padding-right: 5px !important;
        }
    } // .img-loaded+ion-spinner {
    //     display: none;
    // } // .center in my case to make the spinner at the center
    .center {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .scroll-content {
        padding: 10px 25px 16px !important;
        background: #F5F5F5;
    }
    ion-fab {
        bottom: 30px !important;
        .fab {
            box-shadow: 0 4px 11px 2px #828282;
        }
    }
    ion-buttons {
        img {
            width: 30px;
            margin: 11px 0px 11px 25px;
        }
    }
    #header button {
        font-size: 28px;
        line-height: 32px;
    }
    #header button.align-right {
        float: right;
    }
    .bar-buttons-md {
        order: 1;
    }
    .user-controls button {
        width: 100%;
        padding: 23px 20px !important;
        display: block;
        color: #0f000f;
        text-align: left;
        background: none;
        border-bottom: 1px solid #eaeaea;
        background: #FFF;
        &:focus {
            background: #f1f1f1;
        }
        img {
            width: 20px;
            display: inline-block;
            vertical-align: middle;
        }
        &.active {
            .activeIcon {
                display: inline-block;
            }
        }
        .activeIcon {
            display: none;
        }
    }
    .user-controls .item:first-child button {
        border-bottom: 2px solid #f0f0f0;
    }
    .user-controls button ion-icon {
        font-size: 20px;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        color: #cbcbcb;
    }
    .user-controls button span {
        padding-left: 22px;
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
    }
    .latest_totes_spinner {
        position: relative;
        width: 100%;
        ion-spinner {
            position: absolute;
            display: inline-block;
            width: 28px;
            height: 28px;
            right: 0;
            left: 0;
            top: 10px;
            margin: auto;
        }
    }
    .product-list .item {
        border-top: 2px solid #f0f0f0 !important;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
        ion-label {
            margin: 0 0 -2px;
        }
    }
    .product-list .img-holder,
    .product-list .img-holder img {
        width: 73px;
        height: 73px;
        float: left;
        background: rgba(128, 128, 128, 0.3);
    }
    .product-list .txt {
        padding: 20px 0px 10px 10px;
        color: #cbcbcb;
        overflow: hidden;
    }
    .product-list strong {
        margin: 0;
        color: #0f000f;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 4px;
    }
    .product-list .time {
        font-size: 13px;
        overflow: hidden;
        color: #afafaf;
    }
    .product-list em {
        float: right;
        font-style: normal;
    }
    .product-list em button {
        color: #afafaf;
    }
    .product-list button {
        padding: 0;
        float: right;
        background: none;
        margin-top: 2px !important;
    }
    .product-list .txt span {
        overflow: hidden;
        padding-right: 5px;
    }
}