page-signup {
    ion-buttons {
        img {
            width: 30px;
            margin: 11px 0px 11px 25px;
        }
    }
}

verification_pop {
    .content {
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
        background: black;
        .followLoading {
            color: white;
            text-align: left;
            width: 100%;
            padding-left: 25px;
        }
        .notFollowing {
            position: absolute;
            right: 25px;
            color: #3bde00;
            top: 1em;
        }
    }
}